.about {
	&__promo {
		background: #e6e6e6;
	}
	&__promo-inner {
		padding-top: 1.81em;
		padding-left: 580px;
		padding-right: 40px;
		margin-bottom: 1.75em;
		position: relative;
		z-index: 1;
		min-height: 432px;
	}
	&__promo-img {
		position: absolute;
		left: 140px;
		top: -24px;
		z-index: -1;
	}
	&__title {
		font-size: 2.81em;
		line-height: 1.33;
		font-weight: 800;
		color: #000;
		margin: 0 0 .23em;
	}
	&__list {
		counter-reset: about;
		margin: 0 0 60px;
		padding: 0;
		list-style: none;
	}
	&__item {
		margin-bottom: .81em;
		counter-increment: about;
	}
	&__item-inner {
		padding: 0 280px 0 360px;
		position: relative;
		z-index: 1;
		&::before {
			content: counter(about) '.';
			position: absolute;
			right: 950px;
			top: .5rem;
			font-weight: 800;
			font-size: 5em;
			line-height: 1;
			color: #f1ddde;
			z-index: -1;
		}
	}
	&__item:nth-child(2) &__item-inner::before {
		font-size: 13em;
		right: 210px;
		top: auto;
		bottom: -1.2rem;
	}
	&__item:nth-child(3) &__item-inner::before {
		top: auto;
		bottom: -2.5rem;
		right: 820px;
		font-size: 18.75em;
		color: #c8c8c8;
	}
	&__item:nth-child(4) &__item-inner {
		margin-top: 45px;
		margin-bottom: 14px;
		padding-top: 23px;
		padding-bottom: 50px;
		padding-right: 160px;
		&::before {
			top: auto;
			bottom: calc(-1.85rem + 50px);
			right: 830px;
			font-size: 18.75em;
			color: #fff;
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 60px;
			bottom: 0;
			left: 140px;
			background: #f1ddde;
			z-index: -2;
		}
	}
	&__item_theme_contrast {
		background: #c8c8c8;
	}
	&__item_theme_contrast &__item-inner {
		margin-top: 41px;
		padding-top: 26px;
		padding-bottom: 50px;
		&::before {
			color: #fff;
			top: calc(26px + .25rem);
		}
	}
	&__p {
		margin: 0;
		letter-spacing: 0;
	}
	&__p_lead {
		font-weight: 800;
		margin-top: 1.75em;
		margin-bottom: 1.38em
	}
	&__subscribe {
		margin-top: 2.44em;
	}
	&__text-link {
		text-decoration: underline;
		color: #787878;
	}
}
