.account {
	&_lookbook {
		margin: 0 0 70px;
	}
	&_posts {
		margin: 0 0 100px;
	}
	&_products,
	&_subscribes,
	&_subscribers {
		margin-bottom: 60px;
	}
	&__products,
	&__authors {
		display: flex;
		justify-content: space-between;
	}
	&__products {
		margin: 0 -12px;
	}
	&__authors {
		margin: 28px 0;
	}
	&__posts {
		margin-bottom: 24px;
	}
	&__product {
		flex: 1 0 0;
	}
	&__empty-message {
		width: 500px;
		margin: 105px auto;
		font-size: 1.5em;
		font-weight: 800;
		text-align: center;
		letter-spacing: 0;
		line-height: 1.25;
	}
}
