.author {
	width: 180px;
	height: 360px;
	border: 1px solid currentColor;
	text-align: center;
	&_layout_page {
		display: flex;
		align-items: center;
		width: auto;
		height: auto;
		border: none;
		text-align: left;
	}
	&_sex_male {
		color: #c2ddde;
	}
	&_sex_female {
		color: #f2ddde;
	}
	&_layout_page &__header {
		position: relative;
		margin-right: 30px;
		color: #c8c8c8;
	}
	&_layout_page &__footer {
		margin-left: auto;
		display: flex;
		align-items: baseline;
	}
	&__image-container {
		margin: -1px;
		margin-bottom: 0;
		height: 181px;
		font-size: 0;
		letter-spacing: 0;
		border-bottom: 1px solid currentColor;
		&::before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
	}
	&__image {
		vertical-align: middle;
		max-width: 100%;
		max-height: 100%;
	}
	&__like {
		color: inherit;
		fill: currentColor;
	}
	&__like:hover,
	&_liked &__like {
		color: #000;
	}
	&_layout_page &__like {
		position: absolute;
		right: -8px;
		bottom: -11px;
	}
	&__name {
		font-size: .88em;
		padding: 2.29em 1.2em 1.33em;
		height: 6.38em;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #000;
	}
	&_layout_page &__name {
		margin: 0;
		font-weight: 800;
		font-size: 2.25em;
		padding: 0;
		height: auto;
	}
	&__counter {
		color: #787878;
		font-size: .63em;
		margin-top: 1em;
	}
	&__stat {
		display: inline-block;
		&:not(:last-of-type) {
			margin-right: 1em;
		}
	}
	&__link {
		color: inherit;
		display: block;
	}
	&_layout_page &__secondary {
		margin: .2em 0 1em;

	}
	&_layout_page &__secondary-separator {
		margin: 0 .5em;
	}
	&__email {
		display: inline-block;
		margin-right: 1em;
	}
	&__secondary:hover &__delete {
		visibility: visible;
	}
	&__delete {
		border: none;
		padding: 0;
		margin: 0;
		background: none;
		visibility: hidden;
		color: #787878;
		font-size: .75em;
		&:hover {
			color: #000;
		}
	}
	&__blog:not(:last-child) {
		margin-right: 2.3em;
	}
}
