.avatar {
	width: 95px;
	height: 98px;
	border-radius: 65% 37% 84% 30%/65% 32% 85% 50%;
	position: relative;
	overflow: hidden;
	text-align: center;
	padding-top: 35px;
	line-height: 1;
	&__empty {
		background: #c8c8c8;
		color: #000;
		cursor: pointer;
		transition: all .2s ease-in-out;
		&:hover {
			border-radius: 0;
		}
	}
	&__image {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
