.blog {
	&__previews {
		margin: 0 0 70px;
	}
	&_embedded &__previews {
		margin-top: 40px;
	}
	&__previews-section {
		margin: 20px 0;
	}
	&__previews-container {
		margin-left: 140px;
		width: 1080px;
	}
	&__previews-container {
		display: flex;
		height: 580px;
		align-items: stretch;
	}
	&__preview {
		flex-grow: 1;
		max-width: 100%;
	}
	&__previews-row,
	&__previews-column {
		flex: 1 1 0;
		min-width: 0;
		min-height: 0;
		overflow: hidden;
		display: flex;
		align-items: stretch;
	}
	&__previews-row {
		&:not(:first-of-type) {
			margin-top: 20px;
		}
	}
	&__previews-column {
		flex-direction: column;
		&_size_middle {
			min-width: calc( ( 100% - 80px ) * .4 + 20px);
		}
		&_size_big {
			min-width: calc( ( 100% - 80px ) * .6 + 40px);
		}
		&_size_bigger {
			min-width: calc( ( 100% - 80px ) * .8 + 60px);
		}
		&:not(:first-of-type) {
			margin-left: 20px;
		}
	}
}
