.blog-slider {
	margin: 100px 0;
	padding: 70px 0;
	background: #ececec;
	color: #cacaca;
	&_theme_temp {
		background: none;
	}
	&__slide {
		align-items: center;
		justify-content: center;
		color: #000;
	}
	&__decor {
		margin-top: -70px;
	}
}
