.brands {
	&__inner {
		padding-top: 1px;
		padding-bottom: 1px;
	}
	&__letters {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
	}
	&__letter {
		display: block;
		text-transform: uppercase;
		font-weight: 800;
		color: #000;
		font-size: 1.13em;
		margin: 0 0 1.11em;
	}
	&__columns {
		display: flex;
		align-items: stretch;
		margin: 0 0 30px;
		padding-bottom: 10px;
		border-bottom: 1px solid #c8c8c8;
	}
	&__column {
		margin: 0;
		padding: 0;
		list-style: none;
		flex: 1 0 0;
		display: flex;
		flex-direction: column;
		&:not(:last-of-type) {
			margin-right: 20px;
		}
	}
	&__item {
		line-height: 1;
		letter-spacing: 0;
		height: 2.2em;
		overflow: hidden;
		text-overflow: ellipsis;
		&_more {
			margin-top: auto;
		}
	}
	&__brand {
		color: #787878;
		&:hover {
			color: #000;
		}
	}
	&__more {
		color: #9e9e9e;
		&:hover {
			color: #000;
		}
	}
	&__shops-link {
		float: right;
	}
	&__alphabet {
		margin: 0 0 2.5em;
		padding: 0;
		list-style: none;
		letter-spacing: .4em;
		font-size: 1.13em;
	}
	&__alphabet-item {
		display: inline-block;
		text-transform: uppercase;
		&_special {
			margin-left: 1em;
		}
	}
}
