.breadcrumbs {
	color: #787878;
	line-height: 1;
	&__inner {
		padding-left: 50px;
		margin: 40px auto;
	}
	&_variant_brands &__inner,
	&_variant_shops &__inner,
	&_variant_product &__inner,
	&_variant_promotions &__inner,
	&_variant_about &__inner,
	&_variant_lookbook &__inner,
	&_variant_account &__inner,
	&_variant_blog &__inner {
		//todo: replace with common variant
		padding-left: 140px;
	}
	&_variant_post &__inner {
		padding-left: 330px;
	}
	&_variant_promo &__inner {
		padding-left: 0;
		margin: .5em auto 0;
	}
	&_variant_product &__inner {
		margin-top: 20px;
		margin-bottom: 30px;
	}
	&_variant_market &__inner {
		margin: 20px auto 30px;
	}
	&__piece:hover {
		color: #000000;
	}
}
