.button {
	display: inline-block;
	border: none;
	background: none;
	padding: 1.67em 2.25em;
	font-size: .75rem;
	color: #787878;
	line-height: 1;
	cursor: pointer; // I object!
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	&::-moz-focus-inner {
		padding: 0;
		border: none;
	}
	&_theme_apply {
		background: #c8c8c8;
		color: #000;
		padding: 0 2.7em;
		height: 40px;
		line-height: 40px;
		letter-spacing: 0;
		&:hover,
		&:active {
			background: #000;
			color: #fff;
		}
	}
	&_theme_primary {
		background: #1d1d1b;
		color: #fff;
		font-size: 1.25em;
		font-weight: 800;
		padding: 0 1em;
		height: 70px;
		line-height: 70px;
	}
	&_theme_modal-confirm {
		padding: 0 1.25em;
		height: auto;
		line-height: inherit;
		font-size: 1em;
		color: #000;
	}
	&_theme_link {
		padding: 0;
		font-size: 1em;
		color: inherit;
		&:hover {
			color: #000;
		}
	}
	&_size_medium {
		font-size: 1em;
		height: 40px;
		line-height: 40px;
		padding: 0 2em;
	}
	&_size_large {
		font-size: 1.25em;
		height: 70px;
		line-height: 70px;
		padding: 0 2em;
	}
}
