.catalogue {
	margin: 50px 0;
	&__header {
		color: #fff;
		height: 500px;
		background-position: center center;
		background-repeat: no-repeat;
		display: flex;
		align-items: center;
	}
	&__header-inner {
		padding-left: 575px;
	}
	&__name {
		color: inherit;
		font-weight: 800;
		margin-bottom: 1.8em;
	}
	&__title {
		display: block;
		font-size: 4.5em;
		font-weight: 800;
		margin-bottom: .72em;
		color: inherit;
	}
	&__links {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
	}
	&__links-item {
		&:not(:last-of-type) {
			margin-right: 2em;
		}
	}
	&__links-link {
		color: #fff;
		fill: #fff;
	}
	&__slider {
		&:first-of-type {
			margin-top: 50px;
		}
	}
	&_theme_women &__slider {
		color: #f1ddde;
	}
	&_theme_men &__slider {
		color: #c2ddde;
	}
	&_theme_cosmetics &__slider {
		color: #dae0b4;
	}
	&_theme_kids &__slider {
		color: #f2dcbd;
	}
}
