.category-menu {
	background: #000;
	&__inner,
	&__list {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
	}
	&__inner {
		height: 50px;
		position: static;
	}
	&__list {
		margin: 0 110px;
		padding: 0;
		list-style: none;
		flex-grow: 1;
	}
	&__item {
		font-size: 1.13em;
		display: flex;
		align-items: stretch;
		flex: 1 0 auto;
		color: #fff;
		&:hover,
		&_current {
			color: #000;
		}
		&:hover {
			background: #c8c8c8;
		}
		&_current {
			background: #787878;
		}
	}
	&__link {
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: inherit;
		position: relative;
		&::before,
		&::after {
			display: block;
			width: 40px;
			height: 40px;
			position: absolute;
			z-index: 1;
			bottom: 0;
		}
		&::before {
			right: 100%;
			transform: rotate(-45deg) translateY(28px);
		}
		&::after {
			left: 100%;
			transform: rotate(45deg) translateY(28px);
		}
		&:hover::before,
		&:hover::after {
			content: '';
		}
	}
	&__dropdown {
		position: absolute;
		z-index: 100;
		visibility: hidden;
		opacity: 0;
		top: 100%;
		left: 0;
		right: 0;
		background: #fff;
		box-shadow: 0 8px 7px -6px rgba(0, 0, 0, 0.2);
	}
	&__dropdown-inner {
		padding: 30px 150px 40px;
	}
	&__item:hover &__dropdown,
	&__dropdown:hover {
		visibility: visible;
		opacity: 1;
	}
	&__switch {
		color: #787878;
		display: block;
		margin-bottom: 1em;
	}
	&__slider {
		overflow: hidden;
	}
	&__slides {
		display: flex;
		align-items: flex-start;
		transition: all .2s ease-in-out;
		will-change: transform;
	}
	&__slide {
		flex: 0 0 100%;
		font-size: 0;
		display: flex;
	}
	&__subcategory {
		font-size: 1rem;
		flex: 0 0 225px;
		width: 225px;
		display: flex;
		flex-direction: column;
		&:not(:first-of-type) {
			margin-left: 17px;
		}
		&_headless {
			padding-top: 1.38em + 3.375em;
		}
	}
	&__subcategory-link {
		text-decoration: none;
		color: inherit;
		&_current,
		&:hover {
			font-weight: 800;
		}
	}
	&__subcategory-title {
		color: #787878;
		text-decoration: none;
		margin-bottom: 3.375em;
		&:hover {
		}
	}
	&__subcategory-list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
		color: #000;
	}
	&__subcategory-item {
		&:not(:last-of-type) {
			margin-bottom: 1em;
		}
		&_all {
			color: #787878;
			margin-top: auto;
		}
	}
}
