.comment {
	color: #787878;
	&_level_1 {
		padding-left: 120px;
	}
	&__inner {
		position: relative;
		border: 1px solid #787878;
		padding: 30px 40px 10px;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
	}
	&__avatar {
		position: absolute;
		top: 0;
		right: 100%;
		margin-right: 20px;
	}
	&__avatar-image {
		vertical-align: middle;
	}
	&__time {
		font-size: .75em;
	}
	&__author {
		display: block;
		color: #000;
		font-weight: 800;
		margin: 1em 0 1.38em;
	}
	&__reply {
		float: right;
		margin-top: 7px;
		margin-right: -32px;
		margin-bottom: 2px;
	}
	&__content {
		word-wrap: break-word;
	}
}
