.comment-form {
	position: relative;
	&::after {
		content: '';
		display: block;
		clear: both;
	}
	&__author {
		position: absolute;
		right: 100%;
		top: 0;
		margin-right: 20px;
	}
	&__avatar {
		vertical-align: middle;
	}
	&__textarea {
		border: none;
		width: 100%;
		height: 274px;
		padding: 3.33em;
		font-size: 1em;
		font-size: .75em;
		background: #f0f0f0;
		vertical-align: middle;
		&::-webkit-input-placeholder {
			color: #787878;
		}
		&::-moz-placeholder {
			font-size: .75em;
			color: #787878;
		}
		&:-ms-input-placeholder {
			font-size: .75em;
			color: #787878;
		}
	}
	&__submit {
		float: right;
		margin-top: 2px;
	}
}
