.edit-look {
	&__title {
		top: 260px;
	}
	&__sections {
		display: flex;
		align-items: flex-start;
		margin-bottom: 40px;
	}
	&__section {
		flex: 1 1 0;
		&:not(:last-of-type) {
			margin-right: 23px;
		}
	}
	&__products {
		display: flex;
		flex-wrap: wrap;
	}
	&__product,
	&__product-placeholder {
		width: 220px;
		height: 390px;
		margin: 0 13px;
		margin-bottom: 24px;
	}
	&__product-placeholder {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 45px;
		text-align: center;
	}
	&__placeholder {
		background: #c8c8c8;
		color: #787878;
	}
	&__photo {
		width: 520px;
		height: 520px;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		margin-bottom: 20px;
	}
	&__delete {
		color: #787878;
		position: absolute;
		border: none;
		padding: 0;
		background: none;
		cursor: pointer;
		top: 0;
		right: 0;
		font-size: 2em;
		font-weight: 800;
		background: none;
		line-height: 1;
		transform: translate(50%, -50%);
	}
	&__product-actions {
		margin-top: 1.38em;
		text-align: center;
	}
	&__text-button {
		border: none;
		background: none;
		margin: 0;
		padding: 0;
		color: inherit;
		cursor: pointer;
		&:hover {
			color: #000;
		}
	}
	&__tags,
	&__name,
	&__description {
		display: block;
		width: 100%;
		border: none;
		font-family: inherit;
	}
	&__name,
	&__description {
		color: #000;
		&::-webkit-input-placeholder {color:#000;}
		&::-moz-placeholder {color:#000;}
		&:-ms-input-placeholder {color:#000;}
	}
	&__tags,
	&__description {
		font-size: 1em;
	}
	&__name {
		margin-top: 20px;
		font-weight: 800;
		font-size: 1.13em;
	}
	&__description {
		margin: 30px 0 10px;
		resize: vertical;
	}
	&__date {
		display: block;
		margin: 15px 0 35px;
		font-size: .75em;
		color: #787878;
	}
	&__season {
		letter-spacing: 0;
	}
	&__message {
		display: inline-block;
		letter-spacing: 0;
		margin-left: 1em;
		&_error {
			color: #f00;
		}
	}
	&__add-products {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 36px;
	}
	&__selected-products {
		margin: 0 14px 0;
		padding: 0;
		list-style: none;
		display: flex;
	}
	&__selected-product {
		display: flex;
		align-items: center;
		margin-right: 24px;
		position: relative;
		&:not(:last-of-type) {
			margin-right: 70px;
			&::after {
				content: '';
				display: inline-block;
				background: #c8c8c8;
				width: 1px;
				height: 53px;
				position: absolute;
				left: 100%;
				top: 50%;
				margin-left: 34px;
				transform: translateY(-50%) rotate(21deg);
			}
		}
	}
	&__selected-product-brand {
		font-size: .88em;
	}
	&__selected-product-category {
		font-size: .63em;
		margin-top: .3em;
		color: #787878;
	}
	&__selected-product-remove {
		border: none;
		background: none;
		padding: 0;
		margin: 0 0 0 30px;
		font-size: 1.2em;
		cursor: pointer;
	}
	&__favourite-products {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__favourite-product {
		flex: 0 0 auto;
	}
}
