.elevator {
	position: relative;
	&__wrapper {
		position: absolute;
		top: 100vh;
		right: 0;
		bottom: 0;
		left: 10px;
		pointer-events: none;
		display: flex;
		align-items: flex-start;
	}
	&__toggle {
		pointer-events: all;
		z-index: 1;
		position: sticky;
		top: 10px;
		color: #787878;
		font-size: .63em;
		fill: currentColor;
		text-decoration: none;
		text-align: center;
	}
}
