.error {
	text-align: center;
	overflow: hidden;
	&__code {
		font-size: 300px;
		font-weight: 800;
		position: relative;
		line-height: 1;
		margin: 10px 0 45px;
	}
	&__decor {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) translate(-6px, 22px) rotate(4deg);
		fill: #f1ddde;
		&_shadow {
			fill: #f1f1f1;
			transform: translate(-50%, -50%) translate(-6px, 22px)  translate(13px, 14px) rotate(4deg);
			z-index: -1;
		}
	}
	&__text {
		line-height: 1.19;
		letter-spacing: 0;
		margin-bottom: 2.13em;
	}
}
