.error-nav {
	margin-top: 65px;
	margin-bottom: 65px;
	text-align: center;

	&__list,
	&__sublist {
		margin: 0 auto;
		padding: 0;
		list-style: none;
	}
	&__list {
		border-top: 2px solid #e6e6e6;
		display: inline-block;
		text-align: left;
		padding-top: 30px;
	}
	&__sublist {
		margin-top: 23px;
	}
	&__item {
		display: inline-block;
		vertical-align: top;
		font-weight: 600;
		&:not(:last-of-type) {
			width: 235px;
		}
	}
	&__subitem {
		font-weight: 400;
	}
}