.eula-modal {
	width: 1090px;
	padding: 50px 100px 70px 110px;
	&__text {
		color: #787878;
	}
	&__ol {
		margin: 0;
		padding: 0;
		list-style: none;
		counter-reset: eula;
	}
	&__li {
		&::before {
			content: counters(eula, '.') '. ';
			counter-increment: eula;
		}
	}
	&__p {
		margin: 0;
	}
}
