.footer {
	background: #000;
	color: #fff;
	&__inner {
		padding: 45px 0 48px;
		position: relative;
		z-index: 1;
	}
	&__decor-container {
		position: absolute;
		z-index: -1;
		left: 50%;
		margin-left: 66px;
		top: -36px;
		fill: #2c2c2b;
		height: 525px;
		overflow: hidden;
	}
	&__copyrights {
		font-size: .63em;
		display: block;
		text-align: center;
	}
	&__logo {
		fill: #fff;
		display: block;
		margin: 0 auto 30px;
	}
	&__nav {
		text-align: center;
		margin: 30px 0 40px;
	}
	&__nav-list,
	&__nav-sublist {
		margin: 0 auto;
		padding: 0;
		list-style: none;
	}
	&__nav-list {
		display: inline-block;
		text-align: left;
	}
	&__nav-sublist {
		margin-top: 42px;
	}
	&__nav-item {
		display: inline-block;
		vertical-align: top;
		font-weight: 800;
		&:not(:last-of-type) {
			width: 200px;
		}
	}
	&__nav-subitem {
		margin-bottom: 10px;
		font-weight: 400;
	}
	&__link {
		color: #fff;
		text-decoration: none;
	}
}
