.header {
	padding: 14px 0;
	position: relative;
	z-index: 2;
	&__inner {
		display: flex;
		align-items: center;
	}
	&__column {
		flex: 1 0 0;
		width: 100%;
	}
	&__logo {
		display: block;
		margin: 0 auto;
	}
	&__social-list {
		margin: 0 5px 0 140px;
	}
	&__icon {
		vertical-align: middle;
		fill: #dadada;
		transition: all .2s ease-in-out;
		&:hover {
			fill: #000;
		}
	}
	&__menu {
		display: flex;
	}
	&__avatar {
		float: left;
		margin-right: 1em;
	}
	&__user {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	&__user-name {
		display: block;
		line-height: 1.13;
	}
	&__user-link {
		display: block;
		font-size: .63em;
		color: #787878;
		margin-top: .4em;
	}
	&__log-out {
		visibility: hidden;
	}
	&__user:hover &__log-out {
		// nesting is bad m'kay
		// in case of conflicts make block of __user
		visibility: visible;
	}
	&__auth {
		color: #c8c8c8;
		display: flex;
		align-items: center;
	}
	&__auth-text {
		width: 180px;
	}
	&__auth-icon {
		fill: #dadada;
		margin-right: 27px;
	}

	&__search {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__like {
		margin-left: 20px;
		margin-right: 80px;
	}

	&__like-icon {
		vertical-align: middle;
		fill: #dadada;
		transition: all .2s ease-in-out;
		&:hover {
			fill: #000;
		}
	}
}
