.layout {
	position: relative;
	&__inner {
		max-width: 1260px;
		margin: 0 auto;
		position: relative;
		&_spaced {
			padding-right: 60px;
			padding-left: 140px;
			// TODO this should be used instead of the most
			// of 140px from the left cases
		}
		&_superspaced {
			padding-right: 0;
			padding-left: 270px;
		}
	}
	&__title {
		position: absolute;
		top: 50%;
		left: 50px;
		transform: translate(-50%, 0) rotate(-.25turn);
		transform-origin: 50% 0;
		font-weight: 800;
		font-size: 1rem;
		margin: 0;
		line-height: 1;
	}
	&__sidebar {
		width: 190px;
		flex: 0 0 190px;
		min-width: 0;
		&:first-child {
			margin-right: 30px;
		}
		&:last-child {
			margin-left: 30px;
		}
	}
	&__container {
		padding-left: 50px;
		display: flex;
		&_embedded {
			padding-left: 0;
		}
	}
	&__filler {
		flex-grow: 1;
	}
	&__product-slider {
		margin: 22px 0 42px;
	}
	&__seo-text {
		letter-spacing: 0;
		color: #787878;
		border-top: 1px solid #c8c8c8;
		margin: 40px 0 60px;
		padding-top: 40px;
		strong {
			font-weight: 800;
			color: #000;
		}
		p {
			margin: 1.5em 0;
		}
		a {
			text-decoration: underline;
			color: #787878;	
		}
		&_variant_brands {
			margin-top: 0;
			padding-top: 0;
			border-top: 0;
		}
		&_variant_market {
			padding-top: 10px;
			margin-top: 30px;
		}
		&_variant_market p {
			margin: 1.3em 0;
		}
		&_condensed {
			margin-bottom: 0;
			margin-top: 0;
			padding-top: 0;
			border-top: 0;
			p {
				margin-bottom: 10px;
				&:first-child {
					margin-top: 5px;
				}
			}
		}
	}
	&__view-configs {
		margin: 5px 0 15px;
		display: flex;
		align-items: baseline;
	}
	&__view-config {
		&:not(:last-child) {
			margin-right: 40px;
		}
		&_sort,
		&_filter {
			margin-left: auto;
		}
	}
	&__view-config_link {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}
