.load-more {
	border: none;
	background: none;
	padding: 20px;
	padding-bottom: 0;
	margin-bottom: 33px;
	margin-top: 20px;
	font-size: 1em;
	display: block;
	text-align: center;
	color: #787878;
	fill: currentColor;
	border-top: 1px solid #dbdbdb;
	width: 100%;
	&::-moz-focus-inner {
		padding: 0;
		border: none;
	}
	&_layout_blog {
		margin-left: 140px;
		width: 1080px;
		border-top: none;
	}
	&__icon {
		display: block;
		margin: 0 auto .63em;
		transform: rotate(.5turn);
	}
}
