.lookbook {
	&_layout_standalone {
		margin-bottom: 60px;
	}
	&__looks {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
	}
	&_layout_standalone &__looks {
		margin-top: 20px;
	}
	&__slider {
		margin-top: 30px;
		color: #c7c7c7;
	}
	&__title {
		top: 240px;
	}
	&__author {
		margin-bottom: -14px;
	}
}
