.look {
	position: relative;
	padding: 50px;
	&_layout_lookbook {
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 515px;
	}
	&_layout_standalone {
		padding: 0;
		display: flex;
		flex-wrap: wrap;
	}
	&_layout_standalone &__header {
		width: 520px;
	}
	&_rejected &__body,
	&_rejected &__footer,
	&_rejected &__image-container {
		opacity: .4;
	}
	&_rejected &__status {
		fill: #000;
		cursor: default;

	}
	&__body {
		background: #fff;
		border: 1px solid #c7c7c7;
		display: flex;
		align-items: flex-end;
		position: relative;
	}
	&_layout_standalone &__body {
		border: none;
		display: block;
		background: none;
		width: 520px;
	}
	&_theme_women &__body {
		border: none;
	}
	&_layout_lookbook &__body {
		width: 100%;
		order: 3;
		border: none;
		display: block;
	}
	&__footer {
		color: #dcdcdc;
		fill: currentColor;
		text-align: center;
		font-size: .88em;
	}
	&_layout_lookbook &__footer {
		margin-left: 10px;
	}
	&_layout_standalone &__footer {
		margin-top: 100px;
	}
	&_layout_lookbook &__comments {
		width: 100%;
	}
	&_layout_lookbook &__likes {
		display: block;
		margin-top: 30px;
		transition: all .2s ease-in-out;
		&:hover {
			color: #000;
		}
	}
	&_layout_standalone &__likes,
	&_layout_standalone &__like,
	&_layout_standalone &__like-icon {
		color: inherit;
	}
	&_layout_standalone &__likes {
		margin-top: 20px;
	}
	&__like {
		position: absolute;
		right: 15px;
		top: 15px;
		color: #c8c8c8;
		fill: currentColor;
		opacity: 0;
		visibility: hidden;
		transition: all .2s ease-in-out;
		z-index: 1;
	}
	&_layout_standalone &__like,
	&_layout_lookbook &__like {
		display: block;
		position: static;
		margin-bottom: 2px;
		&:hover {
			fill: #000;
		}
	}
	&:hover &__like,
	&_liked &__like,
	&_layout_standalone &__like,
	&_layout_lookbook &__like {
		opacity: 1;
		visibility: visible;
	}
	&_liked &__likes,
	&_liked &__like {
		color: #000;
	}
	&__products {
		display: flex;
		margin: 0 30px;
	}
	&_layout_standalone &__products {
		flex-wrap: wrap;
		margin: 0 20px;
	}
	&_layout_standalone &__product {
		margin: 0 10px 20px;
	}
	&__name {
		font-weight: 800;
		color: #000;
		text-decoration: none;
	}
	&_layout_lookbook &__name {
		font-size: 1.13em;
		font-weight: 800;
		margin: .78em 0 .22em
	}
	&_layout_standalone &__name {
		font-size: 2.25em;
		font-weight: 800;
		margin: .7em 0 .33em;
		line-height: 1.2;
	}
	&__author {
		display: block;
		margin: 1.4em 0 1.9em;
		color: #000;
		font-size: .63em;
	}
	&_layout_lookbook &__author {
		display: inline;
		font-size: 1em;
	}
	&__image-container {
		display: block;
		width: 340px;
		height: 380px;
		text-align: center;
		font-size: 0;
		letter-spacing: 0;
		&::before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
	}
	&_layout_lookbook &__image-container {
		width: 480px;
		height: 480px;
		position: relative;
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: -2px;
			right: -2px;
			bottom: -2px;
			left: -2px;
			border: 2px solid #c8c8c8;
			opacity: 0;
			transition: all .2s ease-in-out;
			z-index: 1;
		}
	}
	&_layout_standalone &__image-container {
		width: 520px;
		height: 520px;
	}

	&_layout_lookbook:hover &__image-container {
		&::after {
			opacity: 1;
		}
	}
	&__author-image,
	&__image {
		vertical-align: middle;
		max-width: 100%;
		max-height: 100%;
	}
	&_layout_standalone &__date,
	&__meta {
		font-size: .75em;
		color: #787878;
	}
	&__meta-separator {
		margin: 0 .75em;
	}
	&__tags {
		margin: 1em 0;
		padding: 0;
		list-style: none;
		color: #787878;
	}
	&__tag {
		display: inline-block;
		&:not(:last-of-type) {
			&::after {
				content: ',';
			}
		}
	}
	&__comments-toggle {
		text-align: center;
		&:hover {
			color: #000;
		}
	}
	&__comments-icon {
		display: block;
		border: none;
		background: none;
		padding: 0;
		margin: 30px 0 0;
		color: inherit;
		fill: inherit;
	}
	&__comment-list {
		display: none;
	}
	&_comments_open &__comment-list {
		display: block;
	}
	&_comments_open &__comments-toggle {
		color: #000;
	}
	&__comments {
		padding-left: 120px;
		margin: 65px 0 0;
	}
	&__comment {
		margin: 0 0 1.69em;
	}
	&__text {
		margin-top: 2.2em;
		line-height: 1.625;
		color: #787878;
	}
	&__toolbar {
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		top: 0;
		right: 13px;
		transform: translateX(50%);
	}
	&__tool {
		display: block;
		fill: #c8c8c8;
		border: none;
		background: none;
		padding: 0;
		margin: 0 0 6px;
		cursor: pointer;
		&:hover,
		&:active {
			fill: #000;
		}
	}
	&__icon {
		vertical-align: top;
	}
}
