.main-promo {
	background-position: center center;
	background-repeat: no-repeat;
	&_variant_post {
		background-size: 500px auto;
		background-position: calc(50% - 268px) center;
	}
	&__inner {
		position: relative;
		z-index: 1;
		padding: 1px 0;
		height: 500px;
	}
	&_variant_index &__inner {
		padding: 0;
	}
	&_variant_blog &__inner {
		padding-left: 560px;
	}
	&_variant_post-full &__inner,
	&_variant_post &__inner {
		height: 430px;
	}
	&_variant_post-light &__inner {
		height: auto;
		padding-left: 330px;
		padding-right: 280px;
	}
	&_variant_post-full &__inner {
		padding: 1px 310px;
	}
	&_variant_post &__inner {
		padding: 1px 0 1px 660px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__date {
		display: block;
		color: #787878;
		font-size: .75em;
		margin-bottom: 2.17em;
	}
	&_variant_post-light &__date {
		margin-bottom: 0;
	}
	&__decor-container {
		position: absolute;
		z-index: -1;
		left: 50%;
		margin-left: -247px;
		top: 50%;
		transform: translateY(-50%);
		fill: #f1ddde;
		pointer-events: none;
	}
	&_variant_index &__decor-container {
		transform: none;
		top: -10px;
	}
	&__name {
		display: block;
		font-weight: 800;
		font-size: 4.5em;
		margin: 1.79em 0 .48em;
		line-height: 1;
		&_only {
			text-align: right;
		}
		&_discount {
			font-size: 12.5em;
			line-height: .35;
			margin-left: -.36em;
		}
	}
	&_variant_index &__name {
		margin-top: 0;
	}
	&_variant_blog &__name {
		color: #000;
	}
	&_variant_post &__name,
	&_variant_post-full &__name,
	&_variant_post-light &__name {
		font-size: 3.75em;
	}
	&_variant_post-full &__name {
		margin: 2.76em 0 .58em;
	}
	&_variant_post &__name {
		margin-top: 0;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&_variant_post-light &__name {
		margin-top: .33em;
	}
	&__description {
		display: block;
		color: #fff;
		margin-top: 1.65em;
		font-size: 1.25em;
		line-height: 1.25;
	}
	&_variant_blog &__description {
		font-size: 1em;
		line-height: 1.375;
		color: #000;
		width: 415px;
		font-weight: 800;
		&_limited {
			padding-right: 190px;
		}
	}
	&__slider {
		height: 100%;
		display: flex;
		align-items: stretch;
	}
	&__slide {
		padding-left: 70px;
		background-position: center center;
		background-repeat: no-repeat;
	}
	&_variant_index &__slide {
		padding-left: 0;
	}
}
