.market {
	padding-top: .44em;
	margin-bottom: 40px ;
	&__menu-title {
		font-size: 1.25em;
		margin: 0 0 1.07em;
		font-weight: 800;
	}
	&__menu {
		margin: 0;
		list-style: none;
		padding-left: 15px;
		font-size: .88rem;
		letter-spacing: 0;
		color: #787878;
	}
	&__menu_level_0 {
		padding-left: 0;
	}
	&__menu_level_1 {
		margin-bottom: .9em;
	}
	&__menu-item {
		margin: .85em 0;
		line-height: 1;
	}
	&__menu-link {
		&:hover {
			color: #000;
		}
	}
	&__menu-category {
		overflow: hidden;
		text-overflow: ellipsis;
		&_current {
			font-weight: 800;
		}
	}
	&__menu-counter {
		font-size: .71em;
		color: #c8c8c8;
		white-space: nowrap;
	}
	&__other-categories {
		font-size: .88em;
		color: #787878;
		margin: 30px 0 0;
		padding: 0;
		list-style: none;
		font-weight: 800;
	}
	&__other-category {
		margin-bottom: .5em;
	}
	&__title {
		font-size: 1.25em;
		font-weight: 800;
		border-bottom: 1px solid #c8c8c8;
		padding-bottom: .17em;
	}
	&__title-text {
		font-size: inherit;
		margin: 0;
		padding: 0;
		display: inline-block;
	}
	&__title-counter {
		font-size: 1.13rem;
		color: #c8c8c8;
		font-weight: normal;
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;
		padding: 4px 0;
	}
	&__item {
		margin: 6px 5px;
	}
	&__paging {
		margin: .3em 0 0;
		padding-bottom: 0;
	}
	&__plug {
		display: block;
		overflow: hidden;
		text-align: center;
		&_variant_product {
			width: 240px;
			height: 400px;
		}
		&_variant_sidebar {
			width: 160px;
			height: 600px;
			margin-top: 70px;
		}
		&_variant_bar {
			width: 970px;
			height: 90px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__sidebar {
		padding-bottom: 55px;
	}
}
