.modal {
	border: none;
	&::backdrop,
	+.backdrop {
		background: rgba(0, 0, 0, .3);
	}
	&_type_sign,
	&_type_password-reset {
		width: 640px;
	}
	&_type_sign {
		height: 460px;
	}
	&_type_message,
	&_type_confirm,
	&_type_confirmed {
		text-align: center;
		font-size: 1.25em;
		width: 535px;
		height: 386px;
		padding-top: 130px;
	}
	&_type_products {
		padding: 25px;
		padding-bottom: 40px;
		width: 1250px;
	}
	&__title {
		font-size: 1.25em;
		color: #000;
		font-weight: 800;
		text-align: center;
		margin: 30px 0 25px;
	}
	&_type_legal &__title {
		text-align: left;
	}
	&__decor {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
		fill: #f2ddde;
		pointer-events: none;
	}
	&_type_sign &__decor,
	&_type_password-reset &__decor {
		left: auto;
		transform: translate(50%, -50%);
	}
	&_type_sign &__decor {
		right: -25px;
		margin-top: -20px;
	}
	&_type_password-reset &__decor {
		right: 0;
		margin-top: 7px;
	}
	&_type_confirmed &__decor {
		fill: #c8c8c8;
	}
	&__confirm-text-container {
		min-height: 6em;
	}
	&__confirm-text {
		font-weight: 800;
		line-height: 1.5;
		min-height: 3em;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}
	&__confirm-button_no {
		font-weight: 800;
	}
}
