.paging {
	display: flex;
	padding: 1.5em 0;
	&__back,
	&__forward {
		padding: .37em 1.35em;
		fill: #dbdbdb;
		&:hover {
			fill: #000;
		}
	}
	&__pager {
		display: flex;
		margin: 0 auto;
		align-items: center;
		color: #787878;
	}
	&__link:hover {
		color: #000;
	}
	&__link,
	&__current {
		padding: .37em 1em;
	}
	&__icon {
		vertical-align: middle;
	}
	&__back-icon {
		transform: scaleX(-1);
	}
	&__current {
		color: #000;
		font-weight: 800;
	}
}
