.post {
	&__inner {
		padding: 46px 0 0;
	}
	&__meta {
		font-weight: normal;
		top: 0;
		transform: translate(-50%, -50%) rotate(-.25turn) translateX(-50%);
	}
	&__meta-link {
		font-weight: 800;
		margin: 0 1.75em 0 .75em;
	}
	&__text-link {
		text-decoration: underline;
		color: #787878;
	}
	&__content {
		letter-spacing: 0;
		width: 640px;
		margin: 0 auto 0 330px;
	}
	&__lead {
		font-weight: 800;
	}
	&__tags {
		letter-spacing: 0;
		position: absolute;
		top: 46px;
		right: 60px;
		width: 170px;
		margin: 0;
		padding: 0;
		list-style: none;
		color: #787878;
		z-index: 1;
	}
	&__tag {
		display: inline-block;
		&:not(:last-of-type) {
			&::after {
				content: ', ';
			}
		}
	}
	&__figure {
		margin: 2.35em 0;
		position: relative;
	}
	&__outstand {
		width: 1080px;
		margin-left: -220px;
		margin-right: -220px;
	}
	&__figcaption {
		font-style: italic;
		color: #787878;
		&_location_left,
		&_location_right {
			position: absolute;
			top: 0;
			width: 200px;
			margin: 0;
		}
		&_location_left {
			text-align: right;
			right: 100%;
			margin-right: 20px;
		}
		&_location_right {
			left: 100%;
			margin-left: 20px;
		}
		&_location_bottom {
			padding: 1.3em 0;
			border-bottom: 1px solid #c8c8c8;
			width: 640px;
			margin: 0 auto;
		}
	}
	&__figcaption-list {
		margin: 0;
		padding: 0;
		list-style: none;
		counter-reset: figure;
		font-style: italic;
	}
	&__figcaption-item {
		display: inline-block;
		counter-increment: figure;
		&:not(:last-of-type) {
			margin-right: .5em;
		}
		&::before {
			content: counter(figure) ". ";
			font-weight: 800;
		}
	}
	&__figcaption-link {
		text-decoration: underline;
	}
	&__subtitle {
		font-size: 1em;
		font-weight: 800;
		margin: 1em 0;
	}
	&__ol {
		margin: 0;
		padding: 0;
		list-style: none;
		counter-reset: ol;
	}
	&__ol-li {
		margin: 1em 0;
		counter-increment: ol;
		&::before {
			content: counter(ol) '.\00a0';
			font-weight: 800;
		}
	}
	&__products {
		color: #c7c7c7;
		margin-top: 50px;
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
	}
	&__footer {
		border-top: 1px solid #dbdbdb;
		padding: 14px 0;
		display: flex;
		align-items: center;
		font-size: .63em;
		color: #787878;
	}
	&__footer-element {
		display: flex;
		align-items: center;
		&:not(:first-child) {
			margin-left: 2.25rem;
		}
	}
	&__footer-control {
		margin: 0 1.2em 0 0;
		fill: #dbdbdb;
		&:hover {
			fill: #000;
		}
	}
	&__social {
		margin-right: auto;
	}
	&_liked &__likes,
	&_liked &__like, {
		color: #000;
		fill: #000;
	}
	&__comments-toggle {
		border: none;
		background: none;
		padding: 0;
		&::-moz-focus-inner {
			padding: 0;
			border: none;
		}
	}
	&__comment-list {
		&_hidden {
			display: none;
		}
	}
	&__comments {
		margin: 26px 0 0;
	}
	&__comment {
		margin: 0 0 1.69em;
	}
}
