.post-preview {
	position: relative;
	display: flex;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #fff;
	&_theme_dark {
		color: #fff;
		background-color: #000;
	}
	&_theme_bordered {
		border: 1px solid #d2d2d2;
	}
	&_layout_header {
		flex-direction: column;
	}
	&_layout_slider {
		width: 800px;
		height: 300px;
		align-items: stretch;
	}
	&__image {
		flex-shrink: 0;
	}
	&_layout_header &__image {
		flex: 1 0 0;
	}
	&_layout_slider &__image {
		width: 300px;
		background-size: 100% auto;
		background-position: center center;
	}
	&__meta {
		font-size: .75em;
		color: #787878;
		margin-top: 3.42em;
	}
	&_size_small &__meta {
		margin: 0;
		position: absolute;
		top: 15px;
		left: 20px;
		font-weight: 800;
		color: #000;
		font-size: 1em;
		line-height: 1;
	}
	&__author {
		display: block;
		font-size: .63em;
		color: inherit;
		margin: .6em 0;
	}
	&__likes {
		position: absolute;
		right: 25px;
		top: 20px;
		color: #c8c8c8;
		font-size: .63em;
		display: flex;
		align-items: center;
		opacity: 0;
		visibility: hidden;
		transition: all .2s ease-in-out;
	}
	&:hover &__likes,
	&_liked &__likes,
	&_layout_slider &__likes {
		opacity: 1;
		visibility: visible;
	}
	&_size_small &__likes {
		top: 15px;
		right: 15px;
	}
	&_layout_slider &__likes {
		color: #fff;
	}
	&_layout_slider &__likes {
		position: absolute;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		font-size: .63em;
		color: #787878;
		right: auto;
		top: auto;
		left: 100%;
		margin-left: -90px;
		bottom: 26px;
	}
	&_liked &__likes {
		color: #000;
	}
	&__like {
		color: inherit;
		fill: currentColor;
		margin-right: 1em;
	}
	&__title {
		line-height: 1;
		margin: 0;
		font-weight: 800;
	}
	&_layout_slider &__title {
		display: block;
		font-size: 2.5em;
		font-weight: 800;
		text-decoration: none;
		color: inherit;
		display: block;
		margin: .5em 0 .75em;
		line-height: inherit;
	}
	&_size_huge &__title {
		font-size: 3.75em;
	}
	&_size_big &__title,
	&_size_bigger &__title,
	&_size_middle &__title {
		font-size: 2.5em;
	}
	&__body {
		max-width: 100%;
		color: inherit;
		text-decoration: none;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}
	&_theme_temp &__body {
		border: 1px solid #d2d2d2;
	}
	&_size_huge &__body,
	&_size_huge &__image {
		padding: 100px;
	}
	&_size_bigger &__body,
	&_size_bigger &__image {
		padding: 90px;
	}
	&_size_big &__body,
	&_size_big &__image {
		padding: 70px;
	}
	&_size_middle &__body,
	&_size_middle &__image {
		padding: 50px;
	}
	&_size_small &__body,
	&_size_small &__image {
		padding: 15px 20px;
	}
	&_size_small &__body {
		padding-top: calc(20px + .75em);
		padding-bottom: calc(20px - .1875em);
	}
	&_layout_text-middle &__body {
		justify-content: center;
	}
	&_layout_text-bottom &__body {
		justify-content: flex-end;
	}
	&_layout_header &__body {
		background: #fff;
		flex: 1 0 0;
	}
	&_layout_header:hover &__body {
		background: none;
	}
	&_layout_slider &__body {
		padding: 2em;
		display: block;
	}
	&__text {
		max-width: 415px;
		line-height: 1.38;
		margin-top: 29px;
		font-weight: 800;
	}
	&_size_small &__text {
		margin-top: 0;
	}
	&_layout_slider &__text {
		display: block;
		font-weight: 800;
		text-decoration: none;
		color: inherit;
		line-height: 1.19;
		height: 1.19em * 4;
		margin: 0 0 1em;
	}
}
