.post-look {
	&_size_small {
		height: 300px;
	}
	&_size_middle {
		height: 430px;
	}
	&_size_large {
		height: 620px;
	}
	&_ordered {
		counter-reset: look;
	}
	&_ordered &__piece {
		counter-increment: look;
		position: relative;
		&::before {
			content: counter(look);
		}
	}
	&__number,
	&_ordered &__piece::before {
		line-height: 1;
		font-weight: 800;
		font-style: italic;
		position: absolute;
		top: 10px;
		left: 12px;
		color: #000;
	}
	&__number_dark,
	&_ordered &__piece_dark::before {
			color: #fff;
	}
	&__row,
	&__column {
		flex: 1 1 0;
		min-width: 0;
		min-height: 0;
		display: flex;
		align-items: stretch;
		position: relative;
	}
	&__row {
		&:not(:first-of-type) {
			margin-top: 20px;
		}
	}
	&__column {
		flex-direction: column;
		&_size_middle {
			min-width: calc( ( 100% - 40px ) * .667 + 20px);
		}
		&:not(:first-of-type) {
			margin-left: 20px;
		}
	}
	&_outstand &__column_size_middle {
		min-width: calc( ( 100% - 80px ) * .4 + 20px);
	}
	&_outstand &__column_size_large {
		min-width: calc( ( 100% - 80px ) * .6 + 40px);
	}
	&_outstand &__column_size_huge {
		min-width: calc( ( 100% - 40px ) * .667 + 20px);
	}
	&__image {
		vertical-align: middle;
	}
	&__product {
		position: absolute;
		&_location_right {
			left: 100%;
			margin-left: 30px;
		}
		&_location_left {
			right: 100%;
			margin-right: 30px;
		}
		&_location_top {
			top: -10px;
		}
		&_location_bottom {
			top: 90px;
		}
	}
}
