.promotion {
	&__body {
		min-height: 332px;
		border: 1px solid #c8c8c8;
		margin: 0 60px 0 140px;
		display: flex;
		align-items: stretch;
	}
	&__image-container {
		flex: 0 0 450px;
		width: 450px;
		font-size: 0;
		letter-spacing: 0;
		text-align: center;
		&::before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
	}
	&__image {
		vertical-align: middle;
		max-width: 100%;
		max-height: 100%;
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		padding: 20px 40px;
		flex: 1 1 auto;
	}
	&__shop {
		color: #000;
		margin: 1em 0;
	}
	&__title {
		font-size: 3.75em;
		color: #000;
		font-weight: 800;
		margin: .17em 0 .2em;
	}
	&__description {
		color: #000;
		line-height: 1.188;
		margin: 1em 0 3em;
	}
	&__footer {
		display: flex;
		align-items: baseline;
	}
	&__expire {
		color: #787878;
		font-size: 1.38em;
	}
	&__goto {
		color: #787878;
		margin-left: auto;
		display: flex;
		align-items: center;
		color: #787878;
		fill: #dbdbdb;
		&:hover {
			color: #000;
			fill: #000;
		}
	}
	&__goto-icon {
		margin-left: 1.7em;
	}
}
