.product {
	position: relative;
	letter-spacing: 0;
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;
	}
	&_layout_card {
		width: 220px;
		height: 390px;
		&::before {
			border: 2px solid transparent;
		}
		&:hover::before {
			border-color: currentColor;
		}
	}
	&_theme_light {
		width: 200px;
		height: 360px;
		&::before {
			border: none;
		}
		&:hover::before {
			border-color: transparent;
		}
	}
	&_layout_market {
		width: 240px;
		height: 470px;
		&::before {
			border: 2px solid transparent;
		}
		&:hover::before {
			border-color: currentColor;
		}
	}
	&_layout_standalone {
		display: flex;
		padding: 5px 0 35px;
		align-items: stretch;
	}
	&_theme_light-complete {
		&::before {
			border: 2px solid transparent;
		}
		&:hover::before {
			border-color: currentColor;
		}
	}
	&_category_women {
		color: #f1ddde;
	}
	&_category_men {
		color: #c2ddde;
	}
	&_category_cosmetics {
		color: #dae0b4;
	}
	&_category_kids {
		color: #f2dcbd;
	}
	&__info {
		width: 350px;
	}
	&__body {
		display: block;
		height: 100%;
		color: inherit;
		text-decoration: none;
		flex-grow: 1;
	}
	&_layout_card &__body {
		padding: 18px;
	}
	&_theme_light &__body {
		padding: 10px;
	}
	&_layout_market &__body {
		padding: 22px;
	}
	&_layout_standalone &__body {
		height: auto;
		padding: 0 60px 0 50px;
		width: 680px;
	}
	// &__image-slider {
	// 	color: #c8c8c8;
	// }
	&_layout_standalone &__image-slider {
		width: 350px;
		position: relative;
	}
	&__image-container {
		display: block;
		font-size: 0;
		text-align: center;
		background: url('../images/spinner.gif') center center no-repeat;
		&::before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
	}
	&_imageless &__image-container {
		background-image: none;
		background-size: 70% auto;
		background-position: center center;
		background-repeat: no-repeat;
	}
	@each $category in women, men, cosmetics, kids {
		&_category_#{$category}.product_imageless &__image-container {
			background-image: url('../images/heart_#{$category}.svg');
			// todo: think of colorization of same svg
		}
	}
	&_layout_card &__image-container {
		height: 200px;
	}
	&_layout_market &__image-container {
		width: auto;
		height: 340px;
		margin: -22px;
		margin-bottom: 0;
	}
	//TODO: element-based image placeholder
	// &__image-placeholder {
	// 	position: absolute;
	// 	top: 50%;
	// 	left: 50%;
	// 	transform: translate(-50%, -50%);
	// 	max-width: 70%;
	// 	max-height: 70%;
	// 	z-index: -1;
	// 	fill: currentColor;
	// }
	&__image {
		vertical-align: middle;
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
	}
	&__price-container {
		display: block;
		height: 2.52em;
		margin: 1.82em 0 0;
		line-height: 1;
		overflow: hidden;
	}
	&_layout_market &__price-container {
		margin: .8em 0 .4em;
		height: auto;
	}
	&_layout_standalone &__price-container {
		font-size: 1.25em;
		margin: 1.3em 0 0em;
		height: auto;
		color: #000;
		letter-spacing: .05em;
	}
	&__price {
		display: inline-block;
		font-size: 1.2em;
		font-weight: 800;
		color: #000;
		&_old {
			color: #9e9e9e;
			padding-right: .3em;
		}
	}
	&_layout_market &__price {
		font-size: 1em;
	}
	&_layout_market &__price_current {
		color: #000;
	}
	&__name {
		color: #000;
	}
	&_layout_standalone &__name {
		font-size: 1.5em;
		font-weight: 300;
		line-height: 1;
		margin: 0;
	}
	&_layout_standalone &__price_old {
		color: #a0a0a0;
	}
	&_layout_standalone &__price {
		font-weight: 700;
	}
	&__brand {
		display: block;
		color: #000;
		font-size: .88em;
		margin: 0;
		font-weight: 400;
		max-height: 2.76em;
		overflow: hidden;
	}
	&_layout_market &__brand {
		-webkit-line-clamp: 2;
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: vertical;
	}
	&_layout_standalone &__brand {
		font-size: 1.5em;
		font-weight: 700;
		line-height: 1.5;
	}
	&_layout_standalone &__links {
		margin-top: 1.6em;
		letter-spacing: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&_layout_standalone &__links-container {
		min-width: 0;
	}
	&__link {
		display: block;
		color: #787878;
		margin: .29em 0;
	}
	&_layout_standalone &__link {
		font-size: .88em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin: 0;
		&:hover {
			color: #000000;
		}
	}
	&__category,
	&__options {
		display: block;
		font-size: .63em;
		color: #9e9e9e;
	}
	&__category {
		height: 2.76em;
		margin: .2em 0 1.23em;
		overflow: hidden;
	}
	&_layout_market &__category {
		margin-bottom: 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		margin-top: .5em;
	}
	&__options {
		text-decoration: none;
	}
	&_layout_market &__options {
		position: absolute;
		bottom: 15px;
	}
	&__specs,
	&__shipping ul,
	&__conditions ul {
		color: #000;
		margin: 0;
		padding: 0;
		list-style: none;
		line-height: 1.375;
	}
	&_layout_standalone &__specs{
		margin: 1.07em 0 1.55em;
		columns: 2;
		padding-right: 1em;
	}
	&_layout_standalone &__spec {
		break-inside: avoid;
		overflow-wrap: break-word;
	}
	&_layout_standalone &__spec-link {
		text-decoration: none;
		color: inherit;
	}
	&__add ,
	&__delete {
		display: block;
		position: absolute;
		color: inherit;
		border: none;
		padding: 0;
		margin: 0;
	}
	&__add  {
		border-radius: 50%;
		font-size: 1em;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		background: currentColor;
		top: 8px;
		right: 10px;
		font-size: 2.5em;
		font-weight: 800;
	}
	&__add-text {
		color: #fff;
	}
	&__delete {
		color: #787878;
		cursor: pointer;
		top: 0;
		right: 0;
		font-size: 2em;
		font-weight: 800;
		background: none;
		line-height: 1;
		transform: translate(50%, -50%);
	}
	&__like {
		display: block;
		position: absolute;
		z-index: 1;
		top: 10px;
		right: 10px;
		color: inherit;
	}
	&_layout_market &__like {
		top: 17px;
		right: 17px;
	}
	&__like-icon {
		fill: currentColor;
	}
	&__label {
		border-radius: 50%;
		display: block;
		width: 50px;
		height: 50px;
		position: absolute;
		z-index: 1;
		top: 10px;
		left: 10px;
		text-align: center;
		line-height: 50px;
		background: currentColor;
	}
	&_layout_standalone &__label {
		top: 26px;
		left: 26px;
		background-color: #d1d2d3;
	}
	&_layout_standalone &__like {
		top: 26px;
		right: 26px;
	}

	&:not(&_layout_standalone):hover &__label_discount {
		background: #000;
	}
	&__label-text {
		font-size: 1rem;
		color: #fff;
	}
	&__label_new {
		background: #c9c9c9;
	}
	&__label-text_new {
		color: #fff;
	}
	&__price {
		white-space: nowrap;
	}
	&__options,
	&__add,
	&__like, {
		visibility: hidden;
		opacity: 0;
		transition: all .15s ease-in-out;
	}
	&:hover &__options,
	&:hover &__like,
	&:hover &__add,
	&_layout_standalone &__like,
	&_added &__add,
	&_liked &__like {
		visibility: visible;
		opacity: 1;
	}
	&_added &__add,
	&_liked &__like {
		color: #000;
	}
	&_layout_standalone &__footer {
		margin-top: 170px;
	}
	&_layout_standalone &__section {
		color: #000;
	}
	&_layout_standalone &__section_foreign p {
		margin: 0;
	}
	&_layout_standalone &__section_foreign a {
		text-decoration: underline;
		color: #787878;	
	}
	&_layout_standalone &__buy {
		width: 240px;
		margin-left: 50px;
		flex-shrink: 0;
		font-size: 18px;
		font-weight: 700;
		background-color: #f3548d;
		line-height: 1.1;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		&:hover {
			background-color: darken(#f3548d, 10%);
		}
		&_disabled, &_disabled:hover {
			background-color: #d1d2d3;
			cursor: auto;
		}
	}
	&_layout_standalone &__title {
		display: block;
		background-color: #ececec;
		font-size: 1em;
		margin: 20px 0;
		padding: 5px 10px;
		font-weight: 700;
	}
	&__goto {
		display: inline-block;
		text-decoration: none;
		opacity: 0;
		position: absolute;
		background-color: #dbdbdb;
		font-size: 14px;
		left: 0;
		right: 0;
		top: 340px;
		transform: translateY(-100%);
		color: #000;
		padding: 10px;
		text-align: center;
		transition: opacity .2s ease-in-out;
	}
	&:hover &__goto {
		opacity: 1;
	}
	&_layout_standalone &__tags {
		margin: 50px -30px 0 0;
	}
	&_layout_standalone &__tag {
		margin-right: 30px;
		text-decoration: none;
		display: inline-block;
		line-height: 1.5;
		color: #787878;
		&:hover {
			color: #000000;
		}
	}
}

