.search-box {
	position: relative;
	margin: 0;
	&__input,
	&__button,
	&__submit {
		transition: all .2s ease-in-out;
	}
	&__button,
	&__submit {
		&::-moz-focus-inner {
			padding: 0;
			border: none;
		}
	}
	&__input {
		width: 260px;
		height: 40px;
		border: 1px solid #c8c8c8;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		display: block;
		margin-left: auto;
		padding: 0 26px;
		font-size: .88em;
		padding-right: 72px;
	}
	&_layout_overlay &__input {
		position: absolute;
		left: 0;
		height: 50px;
		width: 100%;
		border-color: #000;
		opacity: 0;
		visibility: hidden;
	}
	&_layout_overlay.search-box_open &__input {
		visibility: visible;
		opacity: 1;
	}
	&__button {
		border: none;
		background: none;
		padding: 0;
		margin: 0;
		fill: #c7c7c7;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
	}
	&_layout_overlay &__button {
		position: static;
		transform: none;
	}
	&_layout_overlay.search-box_open &__button {
		opacity: 0;
		visibility: hidden;
	}
	&_layout_overlay &__submit {
		fill: #000;
		border: none;
		padding: 0;
		background: none;
		position: absolute;
		top: 50%;
		right: 19px;
		transform: translateY(-50%);
		opacity: 0;
		visibility: hidden;
	}
	&_layout_overlay.search-box_open &__submit {
		visibility: visible;
		opacity: 1;
	}
}
