.secondary-nav {
	height: 70px;
	display: flex;
	align-items: center;
	position: static;
	&_variant_lookbook {
		height: 96px;
		margin-bottom: -96px;
	}
	&_variant_market {
		height: 42px;
		margin-bottom: -42px;
	}
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 2;
		flex-grow: 1;
	}
	&__item {
		&:not(:first-of-type) {
			margin-left: 60px;
		}
		&_current {
			font-weight: 800;
		}
		&_tags {
			position: absolute;
			right: 85px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&_variant_blog &__item_tags {
		right: 40px;
	}
	&_variant_market &__item_tags {
		right: 0;
	}
	&_variant_lookbook &__item_tags {
		right: 60px;
	}
	&__link {
		color: #000;
	}
	&__tags {
		align-self: flex-start;
		margin-top: 70px;
		position: absolute;
		z-index: 2;
		opacity: 0;
		visibility: hidden;
		transition: all .2s ease-in-out;
		left: 0;
		width: 100%;
		padding: 35px 60px;
		font-size: 1.13em;
		background: #fff;
		color: #787878;
		box-shadow: inset 0px 6px 5px -5px rgba(0, 0, 0, .48),
		            0 8px 7px -6px rgba(0, 0, 0, 0.2);
		&_open {
			visibility: visible;
			opacity: 1;
		}
	}
	&_variant_lookbook &__tags {
		margin-top: 96px;
	}
	&_variant_market &__tags {
		margin-top: 42px;
	}
	&__tags-slider {

	}
	&__tags-column {
		flex: 1 1 0;
		min-width: 0;;
	}
	&__tag,
	&__tags-letter {
		margin-bottom: .67em;
	}
	&__tag {
		display: block;
	}
	&__tags-letter {
		font-weight: 800;
	}
}
