.select2-container--default .select2-selection--multiple {
	background-color: transparent;
    border: none;
    border-radius: 0;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	border: none;
	outline: 1px dashed #c8c8c8;
}

.select2-dropdown,
.select2-container--open .select2-dropdown--below {
    background-color: white;
    border: 1px solid #c8c8c8;
    border-radius: 0;
    box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.2);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	border-radius: 0;
	background: none;
	color: inherit;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
	padding: 0;
}
