.shops {
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		padding: 0;
	}
	&__item {
		width: 160px;
		height: 80px;
		text-align: center;
		font-size: 0;
		margin: 10px 10px;
		&::before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
	}
	&__logo {
		vertical-align: middle;
		filter: grayscale(100%);
		transition: all .2s ease-in-out;
		transform: translateZ(0);
		&:hover {
			filter: grayscale(0);
		}
	}
}
