.sign-modal {
	letter-spacing: 0;
	&__slider {
		overflow: hidden;
	}
	&__slides {
		transition: all .2s ease-in-out;
		will-change: transform;
		display: inline-block;
		vertical-align: top;
		white-space: nowrap;
		font-size: 0;
		width: 100%;
	}
	&__slide {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		font-size: 1rem;
		white-space: normal;
	}
	&__field,
	&__submit {
		width: 250px;
		margin: 13px auto;
	}
	&__field {
		position: relative;
		color: #787878;
		&_dirty {
			color: #000;
		}
	}
	&__field_separated {
		margin-top: 18px;
	}
	&__field_status_error {
		color: #f00;
	}
	&__text-input {
		border: 1px solid currentColor;
		display: block;
		width: 100%;
		height: 40px;
		color: inherit;
		font-size: .75em;
		padding: 0 1.25rem;
	}
	&__eula,
	&__label {
		color: #787878;
		font-size: .75em;
	}
	&__eula {
		display: block;
		margin-top: 2.5em;
		text-align: center;
	}
	&__label {
		margin-right: 2.25em;
	}
	&__field-label {
		position: absolute;
		right: 100%;
		top: 50%;
		transform: translateY(-50%);
		width: 140px;
		font-size: .75em;
		line-height: 1.17;
	}
	&__submit {
		display: block;
		margin-top: 1.5em;
	}
	&__toggle {
		margin-right: 1em;
	}
	&__in-options {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
	}
	&__password-reset-field {
		margin-top: 40px;
	}
	&__socials {
		margin-top: 25px;
		margin-bottom: 35px;
	}
	&__links {
		text-align: center;
		margin: 30px auto 50px;
	}
	&__link,
	&__link-separator {
		font-size: .75em;
	}
	&__link-separator {
		margin: 0 .75em;
	}
}
