.slider {
	position: relative;
	&_theme_contrast-dark {
		background: #ececec;
	}
	&_theme_product-slider {
		color: #dbdbdb;
	}
	&__inner {
		flex-grow: 1;
		display: flex;
		align-items: stretch;
		padding: 0 10px;
		min-height: 200px;
		position: relative;
		z-index: 1;
	}
	&_layout_product-images &__inner,
	&_layout_look-images &__inner,
	&_layout_outstand &__inner,
	&_layout_post &__inner {
		padding: 0;
	}
	&_layout_outstand &__inner {
		max-width: 100%;
	}
	&__viewport {
		display: flex;
		align-items: stretch;
		overflow: hidden;
		flex: 1 1 100%;
		margin: 0 35px 0 105px;
	}
	&_layout_outstand &__viewport {
		margin: -100px 0;
		padding: 100px 0;
		pointer-events: none;
	}
	&_layout_product &__viewport {
		margin-left: 0;
	}
	&_layout_product-images &__viewport,
	&_layout_look-images &__viewport,
	&_layout_post &__viewport {
		margin: 0;
	}
	&_layout_products &__title {
		transform-origin: 0 0;
		transform: rotate(-.25turn);
		top: 220px;
	}
	&_layout_product &__title {
		top: 250px;
	}
	&_layout_lookbook &__title {
		top: 240px;
	}
	&__title-link {
		color: #000;
	}
	&_theme_index &__title-link {
		color: #fff;
	}
	&__slides {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;
		width: 100%;
	}
	&_layout_outstand &__slides {
		align-items: stretch;
		pointer-events: all;
	}
	&__slide {
		flex: 0 0 100%;
		display: flex;
		transition: all .2s ease-in-out;
	}
	&_layout_outstand &__slide {
		position: relative;
		justify-content: center;
		z-index: 1;
		max-width: none;
	}
	&_layout_logos &__slide {
		justify-content: space-between;
	}
	&_layout_product &__item {
		padding-left: 130px;
	}
	&_layout_product-images &__item,
	&_layout_look-images &__item {
		padding: 0;
	}
	&_layout_outstand &__item {
		flex-grow: 1;
		padding-left: 105px;
		padding-right: 50%;
		&_discount {
			padding-left: 230px;
		}
	}
	&_layout_lookbook &__item {
		flex-grow: 1;
	}
	&_layout_outstand &__item-wrap {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__button {
		border: none;
		background: none;
		padding: 0;
		transition: all .2s ease-in-out;
		fill: currentColor;
		color: inherit;
		position: absolute;
		z-index: 2;
		top: 50%;
		transform: translateY(-50%);
		&:hover {
			fill: #000;
		}
		&_disabled {
			opacity: 0;
			visibility: hidden;
		}
		&_prev {
			left: 10px;
		}
		&_next {
			right: 10px;
		}
	}
	&_theme_women &__button {
		color: #f1ddde;
	}
	&_theme_men &__button {
		color: #c2ddde;
	}
	&_theme_cosmetics &__button {
		color: #dae0b4;
	}
	&_theme_kids &__button {
		color: #f2dcbd;
	}
	&_theme_photos &__button {
		color: inherit;
	}
	&_layout_post &__button {
		fill: #dbdbdb;
		&_prev {
			left: -40px;
		}
		&_next {
			right: -40px;
		}
	}
	&_layout_products &__button,
	&_layout_recent-products &__button {
		top: 120px;
	}
	&_layout_product &__button {
		top: 250px;
	}
	&_layout_lookbook &__button {
		top: 260px;
	}
	&_layout_outstand &__button {
		left: 50%;
		right: auto;
		&_prev {
			margin-left: -620px;
		}
		&_next {
			margin-left: 620px;
			transform: translateX(-100%);
		}
	}
	&_theme_contrast-dark &__button {
		fill: #fff;
	}
	&_theme_contrast-light &__button {
		fill: #c8c8c8;
	}
	&__icon {
		&_prev {
			transform: scaleX(-1);
		}
	}
	&__decor {
		position: absolute;
		left: 50%;
		top: -65px;
		margin-left: 105px;
		fill: #dbdbdb;
		z-index: -1;
	}
	&_theme_temp &__decor {
		display: none;
	}
	&__dots {
		position: absolute;
		bottom: 42px;
		left: 50%;
		transform: translateX(-50%);
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		z-index: 2;
	}
	&__dot {
		margin: 0 10px;
	}
	&__dot-trigger {
		display: inline-block;
		border: none;
		background: none;
		padding: 0;
		margin: 0;
		fill: #fff;
		transition: all .2s ease-in-out;
		&_current {
			fill: #000;
		}
	}
	&__dot-icon {
		vertical-align: middle;
	}
}
