.social-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	&_layout_vertical {
		flex-direction: column;
	}
	&_size_large &__item {
		margin-right: 15px;
	}
	&_size_large.social-list_layout_vertical &__item {
		margin-bottom: 15px;
	}
	&_size_medium &__item {
		margin-right: 10px;
	}
	&_size_medium.social-list_layout_vertical &__item {
		margin-bottom: 10px;
	}
	&_size_small.social-list_layout_vertical &__item {
		margin-bottom: 10px;
	}
	&_size_tiny &__item {
		margin-right: 7px;
	}
	&_size_tiny.social-list_layout_vertical &__item {
		margin-bottom: 7px;
	}
	&_layout_vertical &__item {
		margin-right: 0;
	}
	&__icon {
		fill: #dadada;
		vertical-align: middle;
		transition: all .2s ease-in-out;
		&:hover {
			fill: #000;
		}
	}
	&_theme_lite &__icon {
		fill: #c8c8c8;
		&:hover {
			fill: #000;
		}
	}
	&_theme_liter &__icon {
		fill: #dcdcdc;
		&:hover {
			fill: #000;
		}
	}
}
