.subscribe {
	position: relative;
	&__label {
		display: block;
		font-size: .94em;
		color: #fff;
		margin-bottom: 1.53em;
	}
	&__input {
		width: 100%;
		border: none;
		font-size: 1.06em;
		color: #787878;
		padding: 0 67px 0 1.12em;
		height: 62px;
	}
	&__submit {
		position: absolute;
		border: 0;
		padding: 0;
		background: none;
		right: 10px;
		bottom: 10px;
	}
	&__icon {
		pointer-events: none;
		fill: #c8c8c8;
		vertical-align: middle;
	}
}
