.tags {
	position: relative;
	padding: 30px 0;
	&_position_top {
		padding-bottom: 25px;
	}
	&__list {
		list-style: none;
		margin-left: -18px;
		margin-bottom: 0;
		padding: 0;
		font-size: 14px;
		color: #787878;
		max-height: 46px;
		transition: all .5s ease-out;
		line-height: 1.6;
		overflow: hidden;
	}
	&_full &__list {
		max-height: 300px;
		transition: all .4s ease-in-out;
	}
	&_full &__toggle_show {
		opacity: 0;
	}
	&_full &__toggle_hide {
		opacity: 1;
	}
	&_full &__dropdown-icon {
		transform: rotate(180deg);
	}
	&__item {
		display: inline-block;
		margin-left: 18px;
		&_current {
			color: #000000;
		}
	}
	&__link:hover {
		color: #000000;
	}
	&__toggle {
		font-size: 0.875rem;
		font-weight: bold;
		position: absolute;
		right: 2px;
		bottom: 0;
		background-color: #ffffff;
		border: none;
		padding: 3px 20px;
		color: #787878;
		opacity: 1;
		&_hide {
			opacity: 0;
		}
	}
	&__dropdown-icon {
		margin-left: 10px;
		color: inherit;
		fill: currentColor;
		transition: transform .2s ease-in-out;
	}
}