.text-switch {
	&__label {
		position: relative;
		overflow: hidden;
	}
	&__control {
		visibility: hidden;
		position: absolute;
		left: -100px;
		right: -100px;
	}
	&__text {
		cursor: pointer;
	}
	&__control:checked + &__text {
		font-weight: 800;
	}
	&_theme_sign-modal &__control:not(:checked) + &__text {
		color: #787878;
		font-weight: normal;
	}
}
