.togglable {
	position: relative;
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	&__input {
		position: absolute;
		z-index: -1;
		opacity: 0;
		clip: rect(0, 0, 0, 0);
	}
	&__label {
		display: inline-block;
		vertical-align: top;
		width: 1em;
		height: 1em;
		border: 1px solid #c8c8c8;
		transition: all .2s ease-in-out;
	}
	&_type_radio &__label {
		border-radius: 100%;
	}
	&__input:checked + &__label {
		background: #000;
	}
	&__input:focus + &__label {
		outline: #000 auto 5px;
	}
}
