.view-config {
	position: relative;
	color: #787878;
	&__toggle,
	&__clear {
		color: inherit;
		border: none;
		background: none;
		padding: 0;
		margin: 0;
		font-size: 1em;
		vertical-align: middle;
		line-height: inherit;
		letter-spacing: 0;
		font-weight: inherit;
		&:hover {
			color: #000;
		}
		&::-moz-focus-inner {
			padding: 0;
			border: none;
		}
	}
	&_dirty &__toggle {
		font-weight: 800;
	}
	&_variant_title &__toggle {
		color: #f00;
		cursor: pointer;
	}
	&__clear {
		font-size: 1.3em;
		padding: 0 10px;
		margin-right: -10px;
		line-height: 1.06;
	}
	&__dropdown-icon {
		margin: 0 0 0 10px;
		color: inherit;
		fill: currentColor;
		vertical-align: middle;
	}
	&__dialog {
		border: 1px solid #c8c8c8;
		background-color: #fff;
		box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.2);
		position: absolute;
		top: 100%;
		margin-top: 1em;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
		padding: 40px 20px;
		width: max-content;
		height: auto;
		min-width: 200px;
		max-width: 250px;
		color: inherit;
		letter-spacing: 0;
		&::before {
			content: '';
			position: absolute;
			top: -1.1em;
			right: 0;
			left: 0;
			height: 1.1em;
			z-index: -1;
		}
	}
	&_loading &__dialog {
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(255, 255, 255, .8) url('../images/spinner.gif') center center no-repeat;
		}
	}
	&_location_right &__dialog {
		transform: none;
		left: auto;
		right: 0;
	}
	&_variant_title &__dialog {
		top: 0;
		right: auto;
		left: 100px;
		transform: none;
	}
	&__options {
		margin: 0 -1em;
		padding: 0 1em;
		list-style: none;
		color: #787878;
		max-height: 220px;
		overflow: auto;
		position: relative;
		&_selected {
			border-bottom: 1px solid #c8c8c8;
			padding-bottom: .4em;
			margin-bottom: .8em;
		}
		&_loading {
			overflow: hidden;
			&::after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgba(255, 255, 255, .8) url('../images/spinner.gif') center center no-repeat;
			}
		}
	}
	&_sidebar &__options {
		margin: 0 0 0 -1em;
		padding: 0 0 0 1em;
	}
	&__options_short {
		max-height: 285px;
	}
	&__togglable {
		margin: 0 1.2em 0 0;
		flex-shrink: 0;
	}
	&__apply {
		display: block;
		margin: 25px auto 0;
		&::-moz-focus-inner {
			padding: 0;
			border: none;
		}
	}
	&__option {
		display: flex;
		align-items: center;
		margin: 0 0 .4em;
	}
	&__label {
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__text-input {
		// TODO: create separate block for text-input
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		border: 1px solid #c8c8c8;
		height: 42px;
		font-size: .75rem;
		padding: 0 0 0 1em;
		&_number {
			width: 160px;
		}
		&_search {
			width: 100%;
			margin-bottom: 3em;
		}
	}
	&_sidebar &__text-input_search {
		margin-bottom: 0.8em;
	}
	&__range {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: .75em;
		color: #c8c8c8;
	}
	&__range-config {
		display: flex;
		align-items: center;
		margin-bottom: 1em;
	}
	&__range-label {
		width: 40px;
		display: inline-block;
		vertical-align: middle;
	}
	&__link {
		color: #787878;
		&:hover,
		&:active,
		&_current {
			color: #000;
		}
		&_current {
			font-weight: 800;
		}
	}
	&_sidebar &__link {
		cursor: pointer;
		font-size: 14px;
	}
	&__counter {
		font-size: .75em;
		font-weight: normal;
		color: #c8c8c8;
		margin-left: .5em;
	}
	&__overflow {
		color: #787878;
		margin-left: 35px;
	}
	&__show-btn {
		border: none;
		background-color: transparent;
		font-size: 12px;
		color: #787878;
		padding: 0;
		margin-left: 35px;
		margin-top: 10px;
		cursor: pointer;
	}
	&__option_secondary {
		display: none;
	}
	&_full &__option_secondary {
		display: block;
	}
	&_full &__overflow,
	&_full &__show-btn {
		display: none;
	}
	&__header {
		margin-top: 55px;
		margin-bottom: 16px;
		font-size: 20px;
		color: #000000;
		font-weight: 900;
	}
}
