html {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	line-height: 1.38;
	letter-spacing: .05em;
}

body {
	margin: 0;
	scroll-behavior: smooth;
	min-width: 1260px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus {
	outline: 1px dashed #c8c8c8;
	outline-offset: 1px;
}

button,
input {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

mark {
	background: none;
	text-decoration: underline;
	color: #000;
}
