.account__author.author.author_layout_page
	.author__header
		.avatar
			+placeholder(100, 100, 'face')(class='avatar__image')
	.author__body
		h2.author__name Алиса Селезнева
		.author__secondary
			.author__email ira_yrban@mail.ru
			button.author__delete.link.js-modal-trigger(href='', data-modal='delete-account-confirm') удалить аккаунт
	.author__footer
		a.author__blog.link(href='') ira_yrban.blogspot.com
		a.button.button_theme_apply.button_size_large.link(href='account_edit_look.html') добавить лук
