+modal('sign-up-in', 'sign')(class='sign-modal js-auth-form', data-dirty-field-class='sign-modal__field_dirty', data-error-field-class='sign-modal__field_status_error')
	.modal__title.text-switch.text-switch_theme_sign-modal
		label.text-switch__label.js-tab-link(data-tabs=`tabs-sign`, data-tab-id=`tabs-sign-in`)
			input(type='radio', name='modal-sign-switch', id='modal-sign-in', checked).text-switch__control
			span.text-switch__text Войти
		| /
		label.text-switch__label.js-tab-link(data-tabs=`tabs-sign`, data-tab-id=`tabs-sign-up`)
			input(type='radio', name='modal-sign-switch', id='modal-sign-up').text-switch__control
			span.text-switch__text Зарегистрироваться
	.sign-modal__slider
		.sign-modal__slides.js-tab-group(data-tabs=`tabs-sign`)
			.sign-modal__slide.js-tab(data-tabs=`tabs-sign`, id=`tabs-sign-in`)
				form.sign-modal__form
					.sign-modal__field.sign-modal__socials
						label.sign-modal__field-label через соцсети
						+social-list(null, 'large')
					.sign-modal__field.js-auth-field
						label.sign-modal__field-label(for='sign-in-email') с помощью e-mail
						input.sign-modal__text-input#sign-in-email(type='email', placeholder='e-mail', required)
					.sign-modal__field.js-auth-field
						input.sign-modal__text-input#sign-in-password(type='password', placeholder='пароль', required)
					.sign-modal__field.sign-modal__field_separated.sign-modal__in-options
						label.sign-modal__label
							input.sign-modal__toggle(type='checkbox')
							| запомнить
						button.sign-modal__link.button.button_theme_link.js-modal-trigger(type='button', data-modal='password-reset') забыли пароль
					button.button.button_theme_apply.button_size_medium.sign-modal__submit войти
			.sign-modal__slide.js-tab(data-tabs=`tabs-sign`, id=`tabs-sign-up`)
				form.sign-modal__form
					.sign-modal__field.js-auth-field
						input.sign-modal__text-input.sign-modal__text-input_dirty#sign-up-name(placeholder='имя', required)
					.sign-modal__field.sign-modal__field_status_error.js-auth-field
						label.sign-modal__field-label.js-auth-field-error-message(for='sign-up-email') Этот e-mail уже используется
						input.sign-modal__text-input#sign-up-email(type='email', placeholder='e-mail', required)
					.sign-modal__field.js-auth-field
						input.sign-modal__text-input#sign-up-password(type='password', placeholder='пароль', required)
					.sign-modal__field.sign-modal__field_separated
						label.sign-modal__label
							input.sign-modal__toggle(type='radio', name='sign-up-sex', required)
							| женщина
						label.sign-modal__label
							input.sign-modal__toggle(type='radio', name='sign-up-sex', required)
							| мужчина
					.sign-modal__field
						label.sign-modal__label
							input.sign-modal__toggle(type='checkbox')
							| подписаться на рассылку
					button.button.button_theme_apply.button_size_medium.sign-modal__submit зарегестрироваться
				small.sign-modal__eula
					| нажимая кнопку зарегистрироваться,  вы принимаете  наше
					button.js-modal-trigger.link.link_text.button.button_theme_link(data-modal='eula') пользовательское соглашение
+modal('password-reset', 'password-reset')(class='sign-modal')
	+icon('heart', 'modal__decor', 330, 436)
	.modal__title Восстановление пароля
	form.sign-modal__form
		.sign-modal__field.sign-modal__password-reset-field
			input.sign-modal__text-input#password-reset-email(type='email', placeholder='e-mail', required, autofocus)
		button.button.button_theme_apply.button_size_medium.sign-modal__submit выслать пароль
		.sign-modal__field.sign-modal__links
			button.sign-modal__link.button.button_theme_link.js-modal-trigger.js-click-trigger(type='button', data-modal='sign-up-in', data-click-target='modal-sign-in') войти
			span.sign-modal__link-separator=' / '
			button.sign-modal__link.button.button_theme_link.js-modal-trigger.js-click-trigger(type='button', data-modal='sign-up-in', data-click-target='modal-sign-up') зарегистрироваться
+modal('eula', 'legal')(class='eula-modal')
	.modal__title Пользовательское соглашение
	.eula-modal__text
		p.eula-modal__p Версия от 16.06.2016
		p.eula-modal__p ЕСЛИ ВЫ СКАЧИВАЕТЕ, ЗАГРУЖАЕТЕ, КОПИРУЕТЕ ЛИБО ЛЮБЫМ ИНЫМ ОБРАЗОМ ИСПОЛЬЗУЕТЕ ИГРЫ, ПРИЛОЖЕНИЯ И САЙТЫ WARGAMING ИЛИ ИХ ЧАСТЬ ИЛИ НАЧИНАЕТЕ УЧАСТВОВАТЬ В ИГРОВОМ ПРОЦЕССЕ, ТО ЭТИМ ВЫ ПОДТВЕРЖДАЕТЕ, ЧТО ПОЛНОСТЬЮ ПРОЧИТАЛИ, ПОНЯЛИ, СОГЛАСНЫ И ПРИНИМАЕТЕ НИЖЕИЗЛОЖЕННОЕ ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ, ОБЯЗУЕТЕСЬ ЕГО СОБЛЮДАТЬ И НЕСТИ ОТВЕТСТВЕННОСТЬ ЗА ЕГО НАРУШЕНИЕ.
		p.eula-modal__p УСЛОВИЯ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ И КЛЮЧЕВЫХ ДОКУМЕНТОВ (ПУНКТ 2.1 НИЖЕ) ЯВЛЯЮТСЯ СУЩЕСТВЕННЫМИ И ОБЯЗАТЕЛЬНЫМИ ДЛЯ ИСПОЛНЕНИЯ.
		p.eula-modal__p Настоящее пользовательское соглашение (далее – «Соглашение») регулирует отношения между компанией Wargaming World Limited, зарегистрированной по адресу Agion Omologiton Avenue, 105, Никосия, 1080, Кипр, в части игр на платформе Microsoft Xbox® и Sony PlayStation®, компанией Wargaming Group Limited, зарегистрированной по адресу Agion Omologiton Avenue, 105, Никосия, 1080, Кипр – в части всех остальных Игр, а также их уполномоченными представителями (далее – «Wargaming») и Вами – конечным пользователем игр, приложений, сайтов и иных ресурсов Wargaming, в том числе игр World of Tanks, World of Warplanes, World of Warships, World of Tanks на Xbox®360 и Xbox®One, World of Tanks на PlayStation®4, World of Tanks Generals, World of Tanks Blitz (далее – «Пользователь»), по отдельности именуемые «Сторона», а совместно – «Стороны».
		p.eula-modal__p Данное Соглашение действует в отношении всех игр и ресурсов Wargaming, кроме тех, в отношении которых установлены отдельные юридические документы.
		ol.eula-modal__ol
			li.eula-modal__li Термины в Соглашении
				ol.eula-modal__ol
					li.eula-modal__li Аккаунт – создаваемая Пользователем и принадлежащая Wargaming учетная запись Пользователя, которая представляет собой хранимую на Игровых ресурсах совокупность данных о Пользователе, необходимую для его авторизации (аутентификации) на Игровых ресурсах и доступа к информации о Пользователе, настройкам, игровым ценностям, статистическим показателям и иной подобной информации.
					li.eula-modal__li Дополнительные возможности Игры (Дополнительные возможности) – программные возможности Игры за пределами базового функционала Игры, доступ к которым Пользователь приобретает за плату в соответствии с настоящим Соглашением. К таким Дополнительным возможностям в числе прочего относятся игровые ценности, включающие внутриигровую валюту («золото», «кредиты», «золотые слитки», «дублоны», «пиастры» и т.п.), специальное игровое имущество (например, «премиум техника») и улучшенный на определенный срок статус Пользователя в Игре (например, «премиум аккаунт»).
					li.eula-modal__li Игра – одна из онлайн, мобильных и иных компьютерных игр Wargaming, в том числе World of Tanks, World of Warplanes, World of Warships, World of Tanks на Xbox®360 и Xbox®One, World of Tanks на PlayStation®4, World of Tanks Generals, World of Tanks Blitz, являющаяся программой для ЭВМ и включающая в себя связанные с ней Игровые ресурсы, а также соответствующие дополнения и обновления (патчи).
					li.eula-modal__li Игровые ресурсы – Игры, программное обеспечение, приложения, интернет-сайты, базы данных и другие ресурсы Wargaming.
					li.eula-modal__li Игровые элементы – совокупность используемых в Игре объектов, предметов, элементов и методов игрового процесса (геймплея), доступ к которым предоставляется Пользователю в процессе использования Игры на безвозмездной основе, если изначально не установлено иное. Игровые элементы не включают в себя Дополнительные возможности, порядок доступа к которым регулируется отдельно.
					li.eula-modal__li Интернет-сайт Игры – сайт Wargaming, относящийся к Игре, в том числе, worldoftanks.ru,
