+slider('authors', null, null, 'авторы')
	each slide in new Array(2)
		+slider__slide('authors__slide')
			each author, index in new Array(4)
				+slider__item('authors__author')
					+author(null, 'Зоя Космодемьянская', 397, !(index % 3), index % 2 ? 'male' : 'female')
						+placeholder(180, 180, 'girl portrait')(class='author__image')
