+slider('blog-slider', null, null, 'блог', false, false, false, false, 'blog-slider__decor')
	each slide, index in new Array(2)
		+slider__slide('blog-slider__slide')
			+slider__item('blog-slider__item')
				- let liked = index % 2 === 0;
				+post-preview('blog-slider__post', null, null, 'slider', 'Лена Васильева', 'Снова в школу', null, null, liked)
					| как выбрать рюкзак,
					br
					| если ваш последний звонок
					br
					| давно отзвенел
+slider('blog-slider blog-slider_theme_temp', 'temp', null, 'блог', false, false, false, false, 'blog-slider__decor')
	each slide, index in new Array(2)
		+slider__slide('blog-slider__slide')
			+slider__item('blog-slider__item')
				- let liked = index % 2 === 0;
				+post-preview('blog-slider__post', 'temp', null, 'slider', 'Лена Васильева', 'Снова в школу', null, null, liked)
					| как выбрать рюкзак,
					br
					| если ваш последний звонок
					br
					| давно отзвенел
