-
	let columnLimit = 7;
	let submenu = {
		'одежда': {
			items: [
				'платья и сарафаны',
				'верхняя одежда ',
				'футболки и поло',
				'комбинезоны',
				'брюки',
				'блузы и рубашки',
				'юбки',
				'толстовки ',
				'топы и майки',
				'нижнее белье',
				'спортивные костюмы',
				'шорты'
			],
			all: 'все товары'
		},
		'обувь': {
			items: [
				'Levice',
				'Nike',
				'Tutto Bene',
				'Mango',
				'Baon'
			],
			all: 'все бренды'
		},
		'акксесуары': {
			items: [
				'одежда',
				'обувь',
				'спортивные товары'
			],
			all: 'все акции'
		},
	}

mixin item(value, current)
	li.category-menu__subcategory-item&attributes(attributes)
		a.category-menu__subcategory-link(
			class=current ? 'category-menu__subcategory-link_current' : null,
			href=''
		)=value

each item, itemIndex in Object.keys(submenu)
	-
		let items = submenu[item].items;
		let lists = Math.ceil(items.length / columnLimit);
	each list, listIndex in new Array(lists)
		.category-menu__subcategory(
			class=(listIndex === 0 ? null : 'category-menu__subcategory_headless')
		)
			if listIndex === 0
				a.category-menu__subcategory-link.category-menu__subcategory-title.link(href='')=item
			ul.category-menu__subcategory-list
				each subitem, subitemIndex in items.slice(listIndex * columnLimit, listIndex * columnLimit + columnLimit)
					+item(subitem, itemIndex === 0  && listIndex === 0 && subitemIndex === 2)
				if listIndex === lists - 1
					+item(submenu[item].all)(class='category-menu__subcategory-item_all')

