-
	var menu = {
		'женщинам': {
			'color': '#f2ddde',
			'link': 'market.html'
		},
		'мужчинам': {
			'color': '#c2ddde',
			'link': 'market.html'
		},
		'детям': {
			'color': '#f2dcbd',
			'link': 'market.html'
		},
		'косметика': {
			'color': '#dae0b4',
			'link': 'market.html'
		},
		'бренды': {
			'color': '#c8c8c8',
			'link': 'brands.html'
		},
		'акции': {
			'color': '#c8c8c8',
			'link': 'promotions.html'
		},
		'блог': {
			'color': '#c8c8c8',
			'link': 'blog.html'
		},
		'lookbook': {
			'color': '#c8c8c8',
			'link': 'lookbook.html'
		}
	}
nav.category-menu.layout
	.category-menu__inner.layout__inner
		ul.category-menu__list
			each item in Object.keys(menu)
				li.category-menu__item(
					class=(item === currentMenuItem ? 'category-menu__item_current' : null)
				)
					a.category-menu__link(href=menu[item].link)=item
					.category-menu__dropdown
						.category-menu__dropdown-inner.layout__inner
							.category-menu__switch.text-switch
								label.text-switch__label.js-tab-link(data-tabs=`tabs-${item}`, data-tab-id=`tabs-${item}-1`)
									input(type='radio', name=`menu-${item}-switch`, checked).text-switch__control
									span.text-switch__text девочкам
								| /
								label.text-switch__label.js-tab-link(data-tabs=`tabs-${item}`, data-tab-id=`tabs-${item}-2`)
									input(type='radio', name=`menu-${item}-switch`).text-switch__control
									span.text-switch__text мальчикам
							.category-menu__slider
								.category-menu__slides.js-tab-group(data-tabs=`tabs-${item}`)
									.category-menu__slide.js-tab(data-tabs=`tabs-${item}`, id=`tabs-${item}-1`)
										include category-menu-slide
									.category-menu__slide.js-tab(data-tabs=`tabs-${item}`, id=`tabs-${item}-2`) content

