-
	var errorMenu = [
		{
			name: 'Женщинам',
			links: [
				{
					name: 'платья',
					url: ''
				},
				{
					name: 'футболки и топы',
					url: ''
				},
				{
					name: 'брюки',
					url: ''
				},
				{
					name: 'рубашки',
					url: ''
				},
				{
					name: 'юбки',
					url: ''
				},
				{
					name: 'джемперы',
					url: ''
				},
				{
					name: 'джинсы',
					url: ''
				},
				{
					name: 'толстовки и свитшоты',
					url: ''
				}
			]
		},
		{
			name: 'Мужчинам',
			links: [
				{
					name: 'футболки',
					url: ''
				},
				{
					name: 'кожаные куртки',
					url: ''
				},
				{
					name: 'брюки',
					url: ''
				},
				{
					name: 'джемперы',
					url: ''
				},
				{
					name: 'пиджаки',
					url: ''
				},
				{
					name: 'костюмы',
					url: ''
				},
				{
					name: 'рубашки',
					url: ''
				},
				{
					name: 'джинсы',
					url: ''
				}
			]
		},
		{
			name: 'Девочкам',
			links: [
				{
					name: 'школьная одежда',
					url: ''
				},
				{
					name: 'ветровки',
					url: ''
				},
				{
					name: 'платья',
					url: ''
				},
				{
					name: 'футболки и топы',
					url: ''
				},
				{
					name: 'толстовки и свитшоты',
					url: ''
				},
				{
					name: 'брюки',
					url: ''
				},
				{
					name: 'джинсы',
					url: ''
				},
				{
					name: 'комбинезоны',
					url: ''
				}
			]
		},
		{
			name: 'Мальчикам',
			links: [
				{
					name: 'тональная основа',
					url: ''
				},
				{
					name: 'bb крем',
					url: ''
				},
				{
					name: 'пудра',
					url: ''
				},
				{
					name: 'тушь для ресниц',
					url: ''
				},
				{
					name: 'помада',
					url: ''
				},
				{
					name: 'лак для ногтей',
					url: ''
				},
				{
					name: 'все товары',
					url: ''
				},
				{
					name: 'уход',
					url: ''
				}
			]
		},
		{
			name: 'Косметика',
			links: [
				{
					name: 'Adidas',
					url: ''
				},
				{
					name: 'Aldo',
					url: ''
				},
				{
					name: 'Armani jeans',
					url: ''
				},
				{
					name: 'Avene',
					url: ''
				},
				{
					name: 'Baldinini',
					url: ''
				},
				{
					name: 'Bvlgari',
					url: ''
				},
				{
					name: 'Converse',
					url: ''
				},
				{
					name: 'Dorothy Perkins',
					url: ''
				}
			]
		}
	]
nav.error-nav
	ul.error-nav__list
		each section in errorMenu
			li.error-nav__item
				a(href='').error-nav__link.link=section.name
				ul.error-nav__sublist
					each link in section.links
						li.error-nav__subitem
							a(href=link.url).error-nav__link.link=link.name
