-
	var menu = [
		{
			name: 'Информация',
			links: [
				{
					name: 'О проекте',
					url: 'about.html#about'
				},
				{
					name: 'Оплата и доставка',
					url: 'about.html#shipping'
				},
				{
					name: 'Обмен и возврат',
					url: 'about.html#return'
				},
				{
					name: 'Контакты',
					url: 'about.html#contacts'
				}
			]
		},
		{
			name: 'Разделы',
			links: [
				{
					name: 'Блог',
					url: 'blog.html'
				},
				{
					name: 'Бренды',
					url: 'brands.html'
				},
				{
					name: 'Магазины',
					url: 'shops.html'
				},
				{
					name: 'Акции',
					url: 'promotions.html'
				}
			]
		},
		{
			name: 'Каталог',
			links: [
				{
					name: 'Женщинам',
					url: ''
				},
				{
					name: 'Мужчинам',
					url: ''
				},
				{
					name: 'Детям',
					url: ''
				},
				{
					name: 'Косметика',
					url: ''
				}
			]
		},
		{
			name: 'Соцсети',
			links: [
				{
					name: 'Вконтакте',
					url: ''
				},
				{
					name: 'Facebook',
					url: ''
				},
				{
					name: 'Instagram',
					url: ''
				},
				{
					name: 'Pinterest',
					url: ''
				}
			]
		}
	]
footer.footer.layout
	.layout__inner.footer__inner
		.footer__decor-container
			+icon('heart', 'footer__decor', 431, 570)
		+icon('logo', 'footer__logo', 201, 121)
		nav.footer__nav
			ul.footer__nav-list
				each section in menu
					li.footer__nav-item
						a(href='').footer__link.link=section.name
						ul.footer__nav-sublist
							each link in section.links
								li.footer__nav-subitem
									a(href=link.url).footer__link.link=link.name
		small.footer__copyrights © Лайкни лук. 2016 Все права защищены.

