header.header.layout#top
	.layout__inner.header__inner
		.header__column.header__menu
			+social-list('header__social-list', 'medium')
		a.header__column.header__logo-container(href='index.html')
			+icon('logo', 'header__logo', 208, 125)
		.header__column.header__search
			form.search-box
				input(type='search', required).search-box__input
				button.search-box__button
					+icon('search', 'header__icon', 40, 25)
			+like('header__like','header__like-icon', 'Избранное', 30, 41)



