mixin account-nav(currentItem)
	-
		let accountNav = [
			{
				name: 'Товары',
				counter: 89,
				link: 'account_products.html'
			},
			{
				name: 'Луки',
				counter: 821,
				link: 'account_liked_looks.html'
			},
			{
				name: 'Статьи',
				counter: 9,
				link: 'account_posts.html'
			},
			{
				name: 'Подписки',
				counter: 112,
				link: 'account_subscribes.html'
			},
			{
				name: 'Подписчики',
				counter: 356,
				link: 'account_subscribers.html'
			},
			{
				name: 'Мои луки',
				counter: 12,
				link: 'account_own_looks.html'
			}
		];
	.layout__view-configs
		each item in accountNav
			.layout__view-config.layout__view-config_link
				a.view-config__link.link(
					href=item.link,
					class = (item.name === currentItem) ? 'view-config__link_current' : null
				)
					= item.name
					span.view-config__counter=item.counter
		block
