mixin author(classList, name, likesNum, liked, sex, looksNum)
	article.author(class=[
		classList,
		liked ? 'author_liked' : null,
		sex ? `author_sex_${sex}` : null
	])
		a.author__link.link(href='')
			.author__image-container
				block
			.author__name=name
		if looksNum
			.author__stat
				+like('author__like','author__icon', liked ? 'Забрать лайк' : 'Лайк', 23, 29)
				.author__counter=likesNum
			.author__stat(title=`${looksNum} луков`)
				+icon('hanger', 'author__icon', 36, 26)
				.author__counter=looksNum
		else
			+like('author__like','author__like-icon', liked ? 'Забрать лайк' : 'Лайк', 23, 29)
			.author__counter=likesNum
