mixin breadcrumbs(path, variant)
	nav.breadcrumbs.layout(class=[
		variant ? `breadcrumbs_variant_${variant}` : null
	])
		.breadcrumbs__inner.layout__inner
			for piece, index in path
				if index < path.length - 1
					a.breadcrumbs__piece.link(href='')= piece
					=" / "
				else
					= piece
