mixin catalogue(classList, theme, title, bg, items)
	section.catalogue.layout(class=[
		classList,
		theme ? `catalogue_theme_${theme}` : null
	])
		header.catalogue__header(style={'background-image': `url(images/backgrounds/${bg}.jpg)`})
			.catalogue__header-inner.layout__inner
				a.catalogue__name.link(href='') каталог
				a.catalogue__title(href='').link=title
				ul.catalogue__links
					each link in items
						li.catalogue__links-item
							a(href='').catalogue__links-link.link=link
					li.catalogue__links-item
						a(href='', title='Все категории').catalogue__links-link.link
							+icon('arrow', null, 18, 20)
		+slider('catalogue__slider', null, 'products', 'новинки')
			each slide in new Array(2)
				+slider__slide('catalogue__slide')
					each item, index in new Array(5)
						- let isNew = index % 2;
						+slider__item('catalogue__item')
							+product([`catalogue__product product_dark-image product_category_${theme}`, index || 'product_liked'], 'card', true, 'Lee', 'блуза', {
								current: 99,
								discount: isNew ? null : 50
							}, isNew ? 'new' : null)
								+placeholder(180, 200, 'skirt')(class='product__image')
		+slider('catalogue__slider', null, 'products', 'популярное')
			each slide in new Array(2)
				+slider__slide('catalogue__slide')
					each item, index in new Array(5)
						- let isNew = index % 2;
						+slider__item('catalogue__item')
							+product('catalogue__product', 'card', true, 'Lee', 'блуза', {
								current: 99,
								discount: isNew ? null : 50
							}, isNew ? 'new' : null, '42 43 45 58')
								+placeholder(180, 200, 'skirt')(class='product__image')
