mixin look(classList, liked, hasToolbar, status)
	- status = status || 'accepted'
	article.look.look_layout_lookbook(class=[
		classList,
		liked ? 'look_liked' : null
	])
		a.look__image-container(href='')
			+placeholder(480, 480, 'look,jacket')(class='look__image')
		.look__body
			h2.look__name
				a.link(href='') Серая юбка + кеды
			.look__meta
				time.look__date(datetime='2016-08-20') 20 августа 2016
				span.look__meta-separator /
				a.look__author.link(href='') Александра Космодемьянская
		.look__footer
			+social-list('look__social', 'tiny', 'vertical', 'lite', ['vk', 'facebook', 'pinterest'])
			a.look__likes.link(
				href = '',
				title = liked ? 'Убрать из избранного' : 'В избранное'
			)
				.like.look__like
					+icon('heart', 'look__like-icon', 24, 30)
				| 45
		if hasToolbar
			ul.look__toolbar
				li
					a.look__tool.look__status(href='', title = status === 'rejected' ? 'Ваш лук отклонён' : null)
						+icon(`tools-${status}`, 'look__icon', 30, 30)
				li
					a.look__tool.look__edit(href='')
						+icon('tools-edit', 'look__icon', 30, 30)
				li
					button.look__tool.look__delete.js-modal-trigger(data-modal='delete-look-confirm')
						+icon('tools-trash', 'look__icon', 30, 30)

