mixin looks(classList, name, theme, layout)
	+slider([
		'looks',
		classList,
		theme ? `looks_theme_${theme}` : null,
		layout ? `looks_layout_${layout}` : null
	], null, null, name)
		each slide, index in new Array(2)
			- var liked = index % 2;
			+slider__slide()
				.looks__look.look(class=[
					liked ? 'look_liked' : null,
					theme ? `look_theme_${theme}` : null
				])
					a.look__name.link(href='') Романтичный образ на каждый день
					a.look__author.link(href='') Лена Васильева
					.look__body
						+like(['look__like'],'look__like-icon', liked ? 'Забрать лайк' : 'Лайк', 37, 48)
						a.look__image-container(href='')
							+placeholder(340, 380, 'looks')(class='look__author-image')
						+slider__item('look__products')
							each item in new Array(3)
								+product('look__product product_theme_light', 'card', false, 'Lee', 'блуза', {
									current: 99
								}, false)
									+placeholder(180, 200, 'skirt')(class='product__image')
