mixin main-promo(classList, variant, image, title, color, date)
	.main-promo.layout(
		style = {
			'background-image': image ? `url(images/backgrounds/${image}.jpg)` : 'none',
			'color': color
		},
		class = [
			classList,
			variant ? `main-promo_variant_${variant}` : null
		]
	)
		.main-promo__inner.layout__inner
			if variant === 'post' || variant.indexOf('post-') === 0
				a.main-promo__title.layout__title.link(href='') стиль
				h1.main-promo__name!=title
				if date
					time.main-promo__date=date
				if variant === 'post'
					+breadcrumbs(['Главная', 'женщинам', 'одежда', 'комбинезоны'], 'promo')
				if variant === 'post-full'
					.main-promo__description
						block
			else
				a.main-promo__title.layout__title.link(href='') стиль
				a.main-promo__name.link(href='')!=title
				if date
					time.main-promo__date=date
				a.main-promo__description.link(href='')
					block

