mixin market(isEmbedded)
	.market.layout
		-
			const brands = ['2K', 'Adidas', 'ASICS', 'ATEMI', 'Green hill', 'JOMA', 'Kelme', 'Mizuno', 'Nike', 'Puma', 'Roomaif', 'SABO', '№02', 'Alonsa', 'AlpinePRO', 'Alpinestars', 'Arctix', 'Asolo', 'Boxeur Des Rues', 'Caprice', 'Cleto Reyes', 'Clinch Gear', 'Cobra', 'Craft', 'Cycle', 'Demix', 'Destroyer', 'Diadora', 'EKSI`S', 'Element', 'Elite', 'EVA', 'Everlast', 'Exustar', 'Five Ten', 'FUNKIERBIKE', 'Gaerne', 'GIRO', 'Gloss', 'Haski', 'Itasca', 'Jabb', 'Kamik', 'KingCamp', 'Lonsdale', 'Lotto', 'Mavic', 'Millet', 'Mitre', 'Munich', 'Nalini', 'Nesco', 'New Balance', 'Norfin', 'Nova Tour', 'N° 21', 'Pirma', 'Premier', 'Premium', 'Red', 'REEBOK', 'RGX', 'Ringside', 'Rival', 'RS', 'Salewa', 'SAM', 'Saucony', 'Seco', 'Select', 'Shimano', 'SIDI', 'Specialized', 'Sprinter', 'STATUS', 'The North Face', 'TITLE Boxing', 'Trimm', 'Turf', 'Umbro', 'Vibram', 'Vision', 'Zamberlan', 'Вездеход', 'Крепыш Я', 'Рокс'];
			const shops = ['Спортмастер', 'Хмускул', 'Беги по небу', 'АВИЛОН', 'Auto3N', 'ТРИСПОРТ.РФ', 'Ювента Спорт', 'OCTAGON SHOP', 'Gold-Standart.com', 'ВсеМайки.ру', 'Nike Россия', 'Flexmass', 'RSPTOP.RU', 'ErSport', 'combatmarkt', 'EvaPro.ru', 'КинашСпорт', 'KANT.RU', 'FootballSale.ru', 'My-shop.ru', 'АльпИндустрия', 'Perun-Shop', 'Магазин райских цен', 'Высшая Лига', 'TopComputer.RU', 'Benordic.ru', 'SOCCERSHOP.ru', 'Professional Sports', 'Fight-Evolution.ru', 'Оганспорт', 'J-sport', 'Декатлон', 'Специализированный магазин StarBike.ru', 'FIGHTWEAR', 'Velomirshop.ru', 'ХЛУО', 'Викимарт', 'FOOTBALLSTORE.RU', 'FIGHTPOINT.RU', 'MMABazar', 'Трамонтана', 'NOUTPARTS', 'CityCycle', 'Фитмаг', 'Рокки шоп', 'Fisherman-Market.ru', 'АЛЬПИНА', 'zel-sport-pit', 'technohit.ru', 'TOP-SHOP.RU', 'Hardfitness.ru', 'Provelo.ru', 'SHOP.FSJUNIOR.COM', 'СЕЗОН СПОРТА', 'Магазин СПОРТ', 'All-Bikes.ru', 'MotoBody', 'Outlet-Market', 'Фактор', 'TuristShop', 'WILDBERRIES.RU', 'FitnessBar.ru', 'Sportiv.ru', '110kg', 'ICAN-center', 'REALBOXING.RU', 'АльТуризм', 'Привет, Атлет', 'Turist48', 'MEGASPORT', 'SPORT07', 'PUMA', 'Веломагазин L-bike', 'bearshop'];
			const marketMenu = [
				{
					name: 'одежда',
					count: 60559,
					categories: [
						{
							name: 'платья и сарафаны',
							count: 968178
						},
						{
							name: 'верхняя одежда',
							count: 756418
						},
						{
							name: 'футболки и поло',
							count: 248528
						},
						{
							name: 'комбинезоны',
							count: 715577
						},
						{
							name: 'брюки',
							count: 688276
						},
						{
							name: 'блузы и рубашки',
							count: 232517
						},
						{
							name: 'юбки',
							count: 508732
						},
						{
							name: 'джинсы',
							count: 710140
						},
						{
							name: 'джемперы',
							count: 349758
						},
						{
							name: 'пиджаки',
							count: 486261
						},
						{
							name: 'толстовки',
							count: 654707
						},
						{
							name: 'топы и майки',
							count: 493516
						},
						{
							name: 'нижнее белье',
							count: 849157
						},
						{
							name: 'спортивная одежда',
							count: 756127,
							categories: [
								{
									name: 'верхняя одежда',
									count: 779918,
									categories: [
										{
											name: 'куртки',
											count: 614894,
											class: 'market__menu-category_current'
										},
										{
											name: 'комбинезоны',
											count: 291476
										},
										{
											name: 'пальто',
											count: 950971
										}
									]
								}
							]
						},
						{
							name: 'шорты',
							count: 992259
						},
						{
							name: 'домашняя одежда',
							count: 784555
						}
					]
				},
				{
					name: 'обувь',
					count: 268006
				},
				{
					name: 'аксессуары',
					count: 713794
				}
			];
		.layout__inner.layout__container(class = isEmbedded ? 'layout__container_embedded' : null)
			.layout__sidebar.market__sidebar
				.market__menu-title Женщинам
				+market-menu(marketMenu)
				ul.market__other-categories
					each category in ['Мужчинам', 'Девочкам', 'Мальчикам', 'Косметика']
						li.market__other-category
							a.link(href='')=category
				.view-config.view-config_sidebar.js-filterable
					h2.view-config__header Популярные цвета
					input.view-config__text-input.view-config__text-input_search(type='search', placeholder='найти цвет')
					ul.view-config__options.js-filterable-options
						each option, index in ['черный ', 'белый ', 'красный', 'серый', 'фиолетовый', 'зеленый', 'розовый', 'черный ', 'белый ', 'красный', 'серый', 'фиолетовый', 'зеленый', 'черный ', 'белый ', 'красный', 'серый', 'фиолетовый', 'зеленый', 'розовый']
							- let id = `filter-sidebar-colors_${index}`;
							li.view-config__option
								a.view-config__link=option
				.view-config.view-config_sidebar.js-filterable(
					data-filterable-prefix='filter-sidebar-brands_',
					data-filterable-url='brands.json'
					data-filterable-loading-class='view-config__options_loading')
					template.js-filterable-item
						li.view-config__option
							a.view-config__link.js-filterable-label
					h2.view-config__header Популярные бренды
					input.view-config__text-input.view-config__text-input_search(type='search', placeholder='найти бренд')
					ul.view-config__options.js-filterable-options
						each option, index in brands
							- let id = `filter-sidebar-brands_${index}`;
							li.view-config__option
								a.view-config__link=option

				if !isEmbedded
					a.market__plug.market__plug_variant_sidebar(href='')
						img(src='https://placehold.it/160x600?text=тут+могла+быть+ваша+реклама')
			.layout__filler
				.layout__seo-text.layout__seo-text_condensed.layout__seo-text_variant_market
					p
						strong Женский комбинезон
					p!='К примеру, у локтевых заплаток военное прошлое. Во время Первой мировой немецкие солдаты заметили, что их форма быстро протирается на локтях, так как они активно ползают по земле, скрываясь от врагов. Эту проблему и решили небольшие куски ткани.История нашивок начинается с <a href="">шевронов</a>. Изначально их придумали, чтобы обозначать принадлежность военных к той или иной организации, их чин и срок службы. Постепенно нашивки стали делать для униформ рабочих и одежды спортсменов.К примеру, у локтевых заплаток военное прошлое. Во время Первой мировой немецкие солдаты заметили, что их форма быстро протирается на локтях, так как они активно ползают по земле, скрываясь от врагов. Эту проблему и решили небольшие куски ткани.'
				.tags.tags_position_top#tags_top
					button.tags__toggle.tags__toggle_show.js-toggle(
						type='button',
						data-toggle-target='tags_top',
						data-toggle-class='tags_full') Все теги
						+icon('dropdown-arrow', 'tags__dropdown-icon', 7, 10)
					button.tags__toggle.tags__toggle_hide.js-toggle(
						type='button',
						data-toggle-target='tags_top',
						data-toggle-class='tags_full') Свернуть
						+icon('dropdown-arrow', 'tags__dropdown-icon', 7, 10)
					ul.tags__list
						li.tags__item
							a.tags__link.link(href='') серый
						li.tags__item
							a.tags__link.link(href='') кашемир
						li.tags__item
							a.tags__link.link(href='') пальто
						li.tags__item.tags__item_current
							a.tags__link.link(href='') зимняя одежда
						li.tags__item
							a.tags__link.link(href='') верхняя одежда
						li.tags__item
							a.tags__link.link(href='') осень
						li.tags__item
							a.tags__link.link(href='') зима
						li.tags__item
							a.tags__link.link(href='') коричневый
						li.tags__item
							a.tags__link.link(href='') красный
						li.tags__item
							a.tags__link.link(href='') карман
						li.tags__item
							a.tags__link.link(href='') воротник
						li.tags__item
							a.tags__link.link(href='') натуральный материал
						li.tags__item
							a.tags__link.link(href='') шерсть
						li.tags__item
							a.tags__link.link(href='') премиум
						li.tags__item
							a.tags__link.link(href='') комбинезон
						li.tags__item
							a.tags__link.link(href='') комплект
						li.tags__item
							a.tags__link.link(href='') розовый
						li.tags__item
							a.tags__link.link(href='') серый
						li.tags__item
							a.tags__link.link(href='') кашемир
						li.tags__item
							a.tags__link.link(href='') пальто
						li.tags__item
							a.tags__link.link(href='') зимняя одежда
						li.tags__item
							a.tags__link.link(href='') верхняя одежда
						li.tags__item
							a.tags__link.link(href='') осень
						li.tags__item
							a.tags__link.link(href='') зима
						li.tags__item
							a.tags__link.link(href='') коричневый
						li.tags__item
							a.tags__link.link(href='') красный
						li.tags__item
							a.tags__link.link(href='') карман
						li.tags__item
							a.tags__link.link(href='') воротник
						li.tags__item
							a.tags__link.link(href='') натуральный материал
				.market__title
					h1.market__title-text Спортивные комбинезоны
					span.market__title-counter=" / 357 890 товаров"
				.layout__view-configs
					+view-config('layout__view-config', 'filter-colors', true, null, 'цвет')(id='foo')
						ul.view-config__options.view-config__options_short
							each option, index in ['черный ', 'белый ', 'красный', 'серый', 'фиолетовый', 'зеленый', 'розовый', 'черный ', 'белый ', 'красный', 'серый', 'фиолетовый', 'зеленый', 'черный ', 'белый ', 'красный', 'серый', 'фиолетовый', 'зеленый', 'розовый']
								- let id = `filter-colors_${index}`;
								li.view-config__option(class=index>9?'view-config__option_secondary':'')
									//- +togglable('view-config__togglable', 'checkbox', id)
									input.view-config__togglable(type='checkbox', id=id)
									label.view-config__label(for=id)=option
						.view-config__overflow ...
						button.view-config__show-btn.js-expand-list(type='button', data-expand-target='foo', data-expand-class='view-config_full') показать все цвета
					+view-config('layout__view-config', 'filter-sizes', false, null, 'размер')
						ul.view-config__options
							each option, index in [38, 39, 40, 41, 42, 43, 44, 45]
								- let id = `filter-sizes_${index}`;
								li.view-config__option
									//- +togglable('view-config__togglable', 'checkbox', id)
									input.view-config__togglable(type='checkbox', id=id)
									label.view-config__label(for=id)=option
					+view-config('layout__view-config js-filterable', 'filter-materials', false, null, 'состав', false)(
						data-filterable-prefix='filter-colors_',
						data-filterable-url='brands.json'
						data-filterable-loading-class='view-config__options_loading')
						template.js-filterable-item
							li.view-config__option
								input.view-config__togglable.js-filterable-checkbox(type='checkbox')
								label.view-config__label.js-filterable-label
						input.view-config__text-input.view-config__text-input_search(type='search', placeholder='найти состав')
						ul.view-config__options.view-config__options_selected
							li.view-config__option
								input.view-config__togglable(type='checkbox', id='material-selected-1', checked)
								label.view-config__label(for='material-selected-1')='дерматин'
							li.view-config__option
								input.view-config__togglable(type='checkbox', id='material-selected-2', checked)
								label.view-config__label(for='material-selected-2')='винил'
						ul.view-config__options.view-config__options_loading.js-filterable-options
							each option, index in ['резина', 'кожа', 'замша']
								- let id = `filter-materials_${index}`;
								li.view-config__option
									//- +togglable('view-config__togglable', 'checkbox', id)
									input.view-config__togglable(type='checkbox', id=id)
									label.view-config__label(for=id)=option
					+view-config('layout__view-config', 'filter-seasons', false, null, 'сезон')
						ul.view-config__options
							each option, index in ['зима', 'лето', 'демисезон']
								- let id = `filter-seasons_${index}`;
								li.view-config__option
									//- +togglable('view-config__togglable', 'checkbox', id)
									input.view-config__togglable(type='checkbox', id=id)
									label.view-config__label(for=id)=option
					+view-config('layout__view-config js-filterable', 'filter-brands', true, null, 'бренд')(
						data-filterable-prefix='filter-colors_',
						data-filterable-url='brands.json'
						data-filterable-loading-class='view-config__options_loading')
						template.js-filterable-item
							li.view-config__option
								input.view-config__togglable.js-filterable-checkbox(type='checkbox')
								label.view-config__label.js-filterable-label
						input.view-config__text-input.view-config__text-input_search(type='search', placeholder='найти бренд')
						ul.view-config__options.view-config__options_selected
							li.view-config__option
								input.view-config__togglable(type='checkbox', id='brand-selected-1', checked)
								label.view-config__label(for='brand-selected-1')='abibas'
							li.view-config__option
								input.view-config__togglable(type='checkbox', id='brand-selected-2', checked)
								label.view-config__label(for='brand-selected-2')='HIKE'
						ul.view-config__options.js-filterable-options
							each option, index in brands
								- let id = `filter-brands_${index}`;
								li.view-config__option
									//- +togglable('view-config__togglable', 'checkbox', id)
									input.view-config__togglable(type='checkbox', id=id)
									label.view-config__label(for=id)=option
					+view-config('layout__view-config js-filterable', 'filter-shops', false, null, 'магазин')(
						data-filterable-prefix='filter-colors_',
						data-filterable-url='brands.json'
						data-filterable-loading-class='view-config__options_loading')
						template.js-filterable-item
							li.view-config__option
								input.view-config__togglable.js-filterable-checkbox(type='checkbox')
								label.view-config__label.js-filterable-label
						input.view-config__text-input.view-config__text-input_search(type='search', placeholder='найти магазин')
						ul.view-config__options.js-filterable-options
							each option, index in shops
								- let id = `filter-shops_${index}`;
								li.view-config__option
									//- +togglable('view-config__togglable', 'checkbox', id)
									input.view-config__togglable(type='checkbox', id=id)
									label.view-config__label(for=id)=option
					+view-config('layout__view-config', 'filter-price', false, null, 'цена')
						ul.view-config__range
							li.view-config__range-config
								label.view-config__range-label(for='price-from') от
								input.view-config__text-input.view-config__text-input_number#price-from(type='number', placeholder='10', min=0, step=100)
							li.view-config__range-config
								label.view-config__range-label(for='price-to') до
								input.view-config__text-input.view-config__text-input_number#price-to(type='number', placeholder='10 000', min=0, step=100)
						//- +togglable('view-config__togglable', 'checkbox', 'price-discount')
						input#price-discount.view-config__togglable(type='checkbox')
						label.view-config__label(for='price-discount') только со скидкой
					+view-config('layout__view-config layout__view-config_sort', 'sort', false, 'right', 'сначала популярные')
						ul.view-config__options
							each option, index in ['сначала дешевые', 'сначала дорогие', 'сначала новинки', 'сначала скидки', 'сначала популярные']
								- let id = `sort_${index}`;
								li.view-config__option
									//- +togglable('view-config__togglable', 'radio', id, 'sort')
									input.view-config__togglable(type='radio', id=id, name='sort')
									label.view-config__label(for=id)=option

				.market__items
					each product, index in new Array(12)
						if !isEmbedded && index === 4
							a.market__item.market__plug(href='').market__plug_variant_bar
								img(src='https://placehold.it/970x90?text=better+call+saul')
						if !isEmbedded && index === 11
							a.market__item.market__plug(href='').market__plug_variant_product
								img(src='https://placehold.it/240x400?text=google+ad+space')
						else
							- let isNew = index % 2;
							- let theme = ['women', 'men', 'cosmetics', 'kids'][index % 4]
							+product([`market__item product_dark-image product_category_${theme}`, index % 3 ? null : 'product_imageless', isEmbedded && isNew ? 'product_added' : null], 'market', !isEmbedded, 'Lee', 'блуза', {
								current: 99,
								discount: isNew ? false : 50,
								old: 198
							}, isNew ? 'new' : null, '40  42  44  46  48  50  52', isEmbedded)
								if index % 3
									+placeholder(240, 340, 'fashion product')(class='product__image')
				.market__paging.paging
					.paging__pager
						a.paging__back.link(href='', rel='prev')
							+icon('arrow', 'paging__icon paging__back-icon', 18, 20)
						a.paging__link.link(href='') 1
						a.paging__link.link(href='') 2
						span.paging__current 3
						a.paging__link.link(href='') 4
						a.paging__link.link(href='') 5
						span.paging__skipped-pages …
						a.paging__link.link(href='') 100
						a.paging__forward.link(href='', rel='next')
							+icon('arrow', 'paging__icon paging__forward-icon', 18, 20)
				if !isEmbedded
					a.market__item.market__plug(href='').market__plug_variant_bar
									img(src='https://placehold.it/970x90?text=better+call+saul')
				.tags#tags_bottom
					button.tags__toggle.tags__toggle_show.js-toggle(
						type='button',
						data-toggle-target='tags_bottom',
						data-toggle-class='tags_full') Все теги
						+icon('dropdown-arrow', 'tags__dropdown-icon', 7, 10)
					button.tags__toggle.tags__toggle_hide.js-toggle(
						type='button',
						data-toggle-target='tags_bottom',
						data-toggle-class='tags_full') Свернуть
						+icon('dropdown-arrow', 'tags__dropdown-icon', 7, 10)
					ul.tags__list
						li.tags__item
							a.tags__link.link(href='') серый
						li.tags__item
							a.tags__link.link(href='') кашемир
						li.tags__item
							a.tags__link.link(href='') пальто
						li.tags__item.tags__item_current
							a.tags__link.link(href='') зимняя одежда
						li.tags__item
							a.tags__link.link(href='') верхняя одежда
						li.tags__item
							a.tags__link.link(href='') осень
						li.tags__item
							a.tags__link.link(href='') зима
						li.tags__item
							a.tags__link.link(href='') коричневый
						li.tags__item
							a.tags__link.link(href='') красный
						li.tags__item
							a.tags__link.link(href='') карман
						li.tags__item
							a.tags__link.link(href='') воротник
						li.tags__item
							a.tags__link.link(href='') натуральный материал
						li.tags__item
							a.tags__link.link(href='') шерсть
						li.tags__item
							a.tags__link.link(href='') премиум
						li.tags__item
							a.tags__link.link(href='') комбинезон
						li.tags__item
							a.tags__link.link(href='') комплект
						li.tags__item
							a.tags__link.link(href='') розовый
						li.tags__item
							a.tags__link.link(href='') серый
						li.tags__item
							a.tags__link.link(href='') кашемир
						li.tags__item
							a.tags__link.link(href='') пальто
						li.tags__item
							a.tags__link.link(href='') зимняя одежда
						li.tags__item
							a.tags__link.link(href='') верхняя одежда
						li.tags__item
							a.tags__link.link(href='') осень
						li.tags__item
							a.tags__link.link(href='') зима
						li.tags__item
							a.tags__link.link(href='') коричневый
						li.tags__item
							a.tags__link.link(href='') красный
						li.tags__item
							a.tags__link.link(href='') карман
						li.tags__item
							a.tags__link.link(href='') воротник
						li.tags__item
							a.tags__link.link(href='') натуральный материал
				.layout__seo-text.layout__seo-text_variant_market
					p
						strong Женский клмбинезон
					p К примеру, у локтевых заплаток военное прошлое. Во время Первой мировой немецкие солдаты заметили, что их форма быстро протирается на локтях, так как они активно ползают по земле, скрываясь от врагов. Эту проблему и решили небольшие куски ткани.
					p История нашивок начинается с шевронов. Изначально их придумали, чтобы обозначать принадлежность военных к той или иной организации, их чин и срок службы. Постепенно нашивки стали делать для униформ рабочих и одежды спортсменов.
					p К примеру, у локтевых заплаток военное прошлое. Во время Первой мировой немецкие солдаты заметили, что их форма быстро протирается на локтях, так как они активно ползают по земле, скрываясь от врагов. Эту проблему и решили небольшие куски ткани.
					p История нашивок начинается с шевронов. Изначально их придумали, чтобы обозначать принадлежность военных к той или иной организации, их чин и срок службы. Постепенно нашивки стали делать для униформ рабочих и одежды спортсменов.

mixin market-menu(categories, level)
	- level = level || 0;
	ul.market__menu(class=`market__menu_level_${level}`)
		each category in categories
			li.market__menu-item
				a.market__menu-link.link(href='')
					span.market__menu-category(class=category.class)=category.name
					=" "
					span.market__menu-counter=category.count
				if category.categories
					+market-menu(category.categories, ++level)
