mixin modal(id, type, text, confirmModalId)
	dialog.modal.js-modal(id=id, class=[
		type ? `modal_type_${type}` : null
	])&attributes(attributes)
		if ['confirm', 'confirmed', 'sign', 'message'].includes(type)
			+icon('heart', 'modal__decor', 405, 536)
		if ['confirm', 'confirmed', 'message'].includes(type)
			.modal__confirm-text-container
				p.modal__confirm-text!=text
		if type === 'confirm'
			.modal__confirm-buttons
				button.modal__confirm-button.modal__confirm-button_no.button.button_theme_modal-confirm.js-modal-trigger(data-modal=id) Нет
				button.modal__confirm-button.button.button_theme_modal-confirm.js-modal-trigger(data-modal=confirmModalId) Да

		else
			block
