mixin post(classList, author, title, likesNum, isLiked)
	article.post(class=[
		classList,
		isLiked ? 'post_liked' : null
	])
		a.post__image-container(href='')
			+placeholder(300, 300)(class='post__image')
		.post__text
			a.post__author.link(href='')=author
			a.post__title.link(href='')=title
			a.post__body.link(href='')
				block
			.post__likes
				+like('post__like','post__like-icon', 'Лайк', 23, 29)
				=likesNum

