mixin post-preview(classList, theme, size, layout, author, title, date, category, isLiked)
	-
		let imageSize = layout === 'slider' ? '300/300' : '1080/580';
		let layoutClass;
		if (layout && Array.isArray(layout)) {
			layoutClass = layout.reduce(function(prev, current) {
				return `${prev} post-preview_layout_${current}`;
			}, '');
		} else {
			layoutClass = layout ? `post-preview_layout_${layout}` : null;
		}
		let postStyle = {};
		if (!layout.includes('slider') && !layout.includes('header')) {
			postStyle['background-image'] = `url(http://loremflickr.com/${imageSize}/fashion)`;
		}
		if (layout.includes('header')) {
			postStyle['background-color'] = '#f2ddde';
		}

	article.post-preview(
		class = [
			classList,
			theme ? `post-preview_theme_${theme}` : null,
			size ? `post-preview_size_${size}` : null,
			layoutClass,
			isLiked ? 'post-preview_liked' : null
		],
		style = postStyle
	)
		if layout.includes('slider') || layout.includes('header')
			a.post-preview__image(href='', style={
				'background-image': `url(http://loremflickr.com/${imageSize}/fashion)`
			})
		.post-preview__likes
			+like('post-preview__like', null, 'Лайк', 23, 30)
			| 231
		.post-preview__body
			if author
				a.post-preview__author.link(href='')=author
			if title
				a.post-preview__title.link(href='post.html')!=title
			if date || category
				.post-preview__meta
					if date
						time.post-preview__date=date
						=" / "
					if category
						a.post-preview__category.link(href='')=category
			if block
				a.post-preview__text.link(href='post.html')
					block
