mixin product-slider(classList, title)
	+slider([classList, 'layout__product-slider'], 'product-slider', 'recent-products', title)
		each slide in new Array(2)
			+slider__slide
				each item, index in new Array(5)
					- let isNew = index % 2;
					- let theme = ['women', 'men', 'cosmetics', 'kids'][index % 4]
					+slider__item
						+product(`product_dark-image product_category_${theme}`, 'card', true, 'Finders keepers', 'трусы', {
							current: 109.00
						}, isNew ? 'new' : null)
							+placeholder(180, 200)(class='product__image')
