mixin product(classList, layout, isLikable, brand, category, price, isNew, options, isAddable, isDeletable)
	article.product.js-product(class=[
		classList,
		layout ? `product_layout_${layout}` : null,
	], data-imageless-class='product_imageless')
		if isAddable
			button.product__add(type='button', title='Добавить')
				.product__add-text +
		if isDeletable
			button.product__delete(type='button', title='Удалить')
				.product__delete-text &times;
		if isLikable
			+like('product__like','product__like-icon', 'В избранное', 37, 48)
		.product__body
			if price && 'discount' in price && price.discount
				.product__label.product__label_discount
					.product__label-text.product__label-text_discount=`-${price.discount}%`
			if isNew
				.product__label.product__label_new
					.product__label-text.product__label-text_new=isNew
			a.product__image-container.link(href='')
				//- TODO: element-based image placeholder
				//- +icon('heart', 'product__image-placeholder', 174, 227)
				block
			if layout === 'market'
				a.product__goto(href='') Подробнее
			.product__price-container
				if price && 'discount' in price && 'current' in price && price.discount
					s.product__price.product__price_old=`${price.current * 100 / price.discount} р.`
				if price && 'current' in price
					span.product__price.product__price_current=`${price.current} р.`
			a.product__brand.link(href='')=brand
			a.product__category.link(href='')=category
			.product__options=options
