mixin secondary-nav(classList, variant)
	.secondary-nav.layout__inner(class=[
		classList,
		variant ? `secondary-nav_variant_${variant}` : null
	])
		-
			const tags = {
				'А': ['автозагар', 'алый цвет', 'ангорский мех'],
				'Б': ['базовый гардероб', 'белый', 'брюки', 'богемный стиль'],
				'В': ['весна', 'восточный стиль', 'ванна', 'винный цвет', 'веснушки'],
				'Г': ['Греция', 'грация', 'голубой', 'гвоздика'],
				'Д': ['деним', 'драпировки', 'дизайн'],
				'Е': ['еда', 'ежедневник'],
				'Ж': ['жинь', 'жилет'],
				'З': ['зеленый', 'звезда'],
				'И': ['иконы стиля', 'индиго']
			};
			const elementsPerColumn = 9;
			let tagsFlat = new Array();
			for (let letter in tags){
				tagsFlat.push({
					'type': 'letter',
					'value': letter
				});
				tagsFlat = tagsFlat.concat(tags[letter].map( tag => {
					return {
						'type': 'tag',
						'value': tag
					};
				}));
			};

		ul.secondary-nav__list
			if !['market', 'lookbook'].includes(variant)
				each item, index in ['все', 'новинки', 'мода', 'стиль', 'косметика', 'мужчинам']
					li.secondary-nav__item(class=!index ? 'secondary-nav__item_current' : null)
						a.secondary-nav__link.link(href='')=item
			li.secondary-nav__item.secondary-nav__item_tags
				a.secondary-nav__link.link.js-toggle(href='', data-toggle-target='menu-tags', data-toggle-class='secondary-nav__tags_open', data-toggle-dismissable) теги
		.secondary-nav__tags#menu-tags
			+slider('secondary-nav__tags-slider layout__inner', null, null, null)
				each slide in new Array(2)
					+slider__slide('secondary-nav__slide')
						each column, index in new Array(Math.ceil(tagsFlat.length / elementsPerColumn))
							+slider__item('secondary-nav__tags-column')
								- let startIndex = index * elementsPerColumn;
								each item in tagsFlat.slice(startIndex, startIndex + elementsPerColumn)
									if item.type === 'letter'
										.secondary-nav__tags-letter=item.value
									else
										a.secondary-nav__tag.link(href='')=item.value
