mixin slider(classList, theme, layout, title, itemsNum, slidesNum, imageWidth, imageHeight, decorClass, dotsNum)
	section.slider.js-slider.layout(class=[
		classList,
		theme ? `slider_theme_${theme}` : null,
		layout ? `slider_layout_${layout}` : null
	], data-disabled-class='slider__button_disabled')&attributes(attributes)
		.slider__inner.layout__inner
			if title
				h2.slider__title.layout__title
					a(href='').slider__title-link.link=title
			if decorClass
				+icon('heart', [decorClass, 'slider__decor'], 430, 569)
			a.slider__button.slider__button_prev.js-prev.slider__button_disabled.link(href='')
				+icon('arrow', 'slider__icon slider__icon_prev', 18, 20)
			a.slider__button.slider__button_next.js-next.link(href='')
				+icon('arrow', 'slider__icon slider__icon_next', 18, 20)
			if dotsNum
				ul.slider__dots
					each dot, index in new Array(dotsNum)
						li.slider__dot
							a.slider__dot-trigger.js-jump.link(
								class=index ? null : 'slider__dot-trigger_current',
								data-active-class='slider__dot-trigger_current',
								href=''
							)
								+icon('slider-dot', 'slider__dot-icon', 11, 12)
			div.slider__viewport
				ul.slider__slides
					if itemsNum && slidesNum && imageWidth && imageHeight
						each item in new Array(slidesNum)
							+slider__slide
								each item in new Array(Math.floor(itemsNum / slidesNum))
									+slider__item
										a(href='')
											+placeholder(imageWidth, imageHeight, 'logo')
					else
						block

mixin slider__slide(classList)
	li.slider__slide.js-slide(class=classList)&attributes(attributes)
		block

mixin slider__item(classList)
	.slider__item(class=classList)&attributes(attributes)
		block
