mixin social-list(classList, size, layout, theme, networks)
	-
		let iconSizes = {
			'tiny': 25,
			'small': 30,
			'medium': 40,
			'large': 50
		};
		let iconSize = iconSizes[size];
		networks = networks || ['vk', 'facebook', 'instagram', 'pinterest', 'telegram', 'viber'];
	ul.social-list(class=[
		classList,
		size ? `social-list_size_${size}` : null,
		layout ? `social-list_layout_${layout}` : null,
		theme ? `social-list_theme_${theme}` : null
	])
		each network in networks
			li.social-list__item
				a(href='', title=network).social-list__link
					+icon(`social-${network}`, 'social-list__icon', iconSize, iconSize)
