mixin togglable(classList, type, id, name)
	-
		id = id;
		type = type || 'checkbox';
		name = name || null;
	.togglable(class=[
		classList,
		`togglable_type_${type}`
	])
		input.togglable__input(type=type, id=id, name=name)
		label.togglable__label(for=id)
