mixin view-config(classList, id, isDirty, location, name, isLoading)
	- isLoading = (isLoading !== undefined) ? isLoading : true
	.view-config(class=[
		classList,
		isDirty ? 'view-config_dirty' : null,
		location ? `view-config_location_${location}` : null,
		isLoading ? 'view-config_loading' : null
	])&attributes(attributes)
		button.view-config__toggle.js-toggle(
			type='button',
			data-toggle-target=id,
			data-toggle-attribute='open',
			data-toggle-dismissable
		)
			=name
			if !isDirty
				+icon('dropdown-arrow', 'view-config__dropdown-icon', 7, 10)
		if isDirty
			button.view-config__clear(type='button', title='очистить фильтр') &times;
		dialog.view-config__dialog(id=id)
			block
			button.view-config__apply.button.button_theme_apply.js-toggle(
				type='button',
				data-toggle-target=id,
				data-toggle-attribute='open'
			) применить
