extends layouts/default

block content
	+breadcrumbs(['Главная', 'о проекте'], 'about')
	.about.layout
		.about__promo#about
			.layout__inner.about__promo-inner
				h1.layout__title о проекте
				h2.about__title Что такое Likenilook.ru?
				img(src='images/about-promo.png' srcset='images/about-promo@2x.png 2x' width='482', height='467').about__promo-img
				p.about__p.about__p_lead Likenilook.ru – это сервис быстрых и удобных покупок, собравший в единую базу товары крупнейших интернет-магазинов для пополнения вашего гардероба.
				p.about__p Likenilook.ru – «быстро и удобно» о моде, стиле и красоте. Мы познакомим вас с обзорами последних тенденций и модных новинок,  поможем подобрать законченный образ, найти нужную вам вещь и купить ее по самой выгодной цене.
				p.about__p В нашем каталоге с удобным поиском и тонкой фильтрацией более 1&nbsp;500&nbsp;000 товаров крупнейших интернет-магазинов России и Европы. Список магазинов-партнеров постоянно растет, но мы всегда тщательно выбираем лучших по ассортименту, ценовой политике и качеству сервиса.
	ol.about__list
		+about__item('Акции')
			p.about__p Likenilook.ru  поможет вам сэкономить не только время, но и деньги. Многие интернет-магазины проводят краткосрочные акции и часто обновляют разделы скидок и распродаж, с нами вам не придется ежедневно просматривать десятки страниц различных магазинов – все самые «вкусные» ценовые предложения оперативно появляются у нас в разделе акций. Чтобы наверняка быть в курсе последних событий, вы можете подписаться на нашу рассылку и получать уведомления о самых выгодных ценах в наших магазинах-партнерах.
		+about__item('Покупать просто')
			p.about__p Likenilook.ru – это виртуальная витрина, представляющая множество товаров различных интернет-магазинов. Мы ничего не продаем сами, наша задача – помочь вам быстро найти оптимальный вариант для покупки. Вы можете приобрести понравившуюся вещь, нажав на кнопку «Купить» на странице товара и перейдя в интернет-магазин нашего партнера.
		+about__item('Ответственность')
			p.about__p Обращаем ваше внимание, что для покупки товара вы переходите на сторонний сайт, и мы не предоставляем гарантий и не несем ответственности за достоверность представленной там информации. Также рекомендуем при переходе на сторонний сайт в процессе оформления заказа ознакомиться с правилами пользования и политикой конфиденциальности выбранного вами интернет-магазина.
		+about__item('Оплата и доставка', 'shipping')
			p.about__p Наши магазины-партнеры принимают оплату наличными (курьеру или в пункте самовывоза), пластиковыми картами (на сайте или курьеру при получении) и с помощью систем электронных платежей. Подробнее вы можете ознакомиться с условиями оплаты при переходе на сайт интернет-магазина.
			p.about__p Likenilook.ru  не является интернет-магазином и не осуществляет доставку ваших покупок. Оформлять покупку и выбирать удобный вам вариант доставки вы будете в соответствии с правилами выбранного вами интернет-магазина. Большинство наших партнеров предлагают курьерскую доставку, получение в пунктах самовывоза и постаматах, а также доставку почтовыми службами.
		+about__item('Обмен и возврат', 'return')
			p.about__p Мы сотрудничаем только с надежными интернет-магазинами, которые работают в рамках действующего законодательства. Все предлагаемые нашими партнерами товары подлежат возврату и обмену в соответствии со ст. 502 ГК РФ, ст. 25 Закона о защите прав потребителя.
			p.about__p Likenilook.ru рекомендует перед оформлением покупки ознакомиться с условиями доставки и возврата товара на сайте магазина-партнера.
		+about__item('Сотрудничество')
			p.about__p Если вы хотите представить ваши товары с помощью сервиса покупок Likenilook.ru, мы готовы к  сотрудничеству и будем рады интересным предложениям и идеям.
		+about__item('Контакты', 'contacts', 'contrast')
			p.about__p
				="Присоединяйтесь к нам в социальных сетях "
				a.link.about__text-link(href='') ВКонтакте
				=", "
				a.link.about__text-link(href='') Facebook
				=", "
				a.link.about__text-link(href='') Instagram
				=", "
				a.link.about__text-link(href='') Pinterest
				=". Пишите ваши вопросы и предложения на "
				a.link.about__text-link(href='') info@likenilook.ru
				| .
			p.about__p А также подписывайтесь на нашу рассылку, чтобы быть в курсе последних событий, акций и трендов.
			form.about__subscribe.subscribe(action='')
				label.subscribe__label(for='subscribe-input') подписаться на рассылку:
				input(type='email', id='subscribe-input', placeholder='e-mail', required).subscribe__input
				button.subscribe__submit
					+icon('arrow-auth', 'subscribe__icon', 47, 40)
	.blog.blog_embedded.layout
		aside.blog__previews
			+blog__preview-section('новинки')
				.blog__previews-row
					.blog__previews-column
						+post-preview('blog__preview', 'dark', 'huge', 'text-middle', null, 'Большая <br> распродажа', '20 августа 2016', 'мода')
							| Специально для прекрасных дам мы подготовили женственную подборку, центральными героями которой стали наиболее интересные новые бренды.
			+blog__preview-section('мода')
				.blog__previews-row
					.blog__previews-column.blog__previews-column_size_big
						+post-preview('blog__preview', null, 'big', 'text-top', null, 'Рюкзаки <br> на любой <br> возраст', '20 августа 2016', 'стиль')
							| Специально для прекрасных дам мы подготовили женственную подборку, центральными героями которой стали наиболее интересные новые бренды.
					.blog__previews-column.blog__previews-column_size_middle
						+post-preview('blog__preview', 'bordered', 'middle', ['text-bottom', 'header'], null, 'Большая <br> распродажа <br> курток', '20 августа 2016', 'стиль')


mixin about__item(title, id, theme)
	li.about__item(
		class = theme ? `about__item_theme_${theme}` : null,
		id = id)
		.layout__inner.about__item-inner
			h2.about__title=title
			block
