extends layouts/default

block content
	+breadcrumbs(['Главная', 'бренды'], 'account')
	.account.account_lookbook.lookbook
		.layout__inner.layout__inner_spaced.account__inner
			include /templates/blocks/account-author
			+account-nav('Мои луки')
				+view-config('layout__view-config layout__view-config_filter', 'sort', false, 'right', 'все луки')
					ul.view-config__options
						each option, index in ['все луки', 'опубликованные', 'на модерации', 'отклоненные']
							- let id = `filter_${index}`;
							li.view-config__option
								//- +togglable('view-config__togglable', 'radio', id, 'sort')
								input.view-config__togglable(type='radio', id=id, name='sort', checked = !index)
								label.view-config__label(for=id)=option
		.layout__inner.layout__inner_spaced.lookbook__inner.lookbook__looks
			h1.layout__title мои луки
			+look('lookbook__look', false, true, 'processing')
			+look('lookbook__look', false, true)
		.layout__inner.layout__inner_spaced.lookbook__inner.lookbook__looks
			+look('lookbook__look look_rejected', false, true, 'rejected')
			+look('lookbook__look', false, true)
		.layout__inner.layout__inner_spaced.lookbook__inner.lookbook__looks
			+look('lookbook__look', false, true)
			+look('lookbook__look', false, true)
		.layout__inner.layout__inner_spaced.lookbook__inner
			.layout__inner
				button.load-more.load-more_layout_lookbook
					+icon('arrow-goto', 'load-more__icon', 52, 57)
					| загрузить еще

block modals
	+modal('delete-look-confirm', 'confirm', 'Вы уверены,<br>что хотите удалить лук?', 'delete-look-confirmed')
	+modal('delete-look-confirmed', 'confirmed', 'Лук удален')
	+modal('delete-account-confirm', 'confirm', 'Вы уверены,<br>что хотите удалить свой аккаунт?', 'delete-account-confirmed')
	+modal('delete-account-confirmed', 'confirmed', 'Аккаунт удален')
