extends layouts/default

block content
	+breadcrumbs(['Главная', 'бренды'], 'account')
	.account.edit-look
		.layout__inner.layout__inner_spaced.account__inner
			.account__author.author.author_layout_page
				.author__header
					.avatar.avatar__empty ред.
				.author__body
					h2.author__name Алиса Селезнева
					.author__secondary
						.author__email ira_yrban@mail.ru
						button.author__delete.link.js-modal-trigger(href='', data-modal='delete-account-confirm') удалить аккаунт
				.author__footer
					a.author__blog.link(href='') ira_yrban.blogspot.com
			+account-nav('Мои луки')
		.layout__inner.layout__inner_spaced.view-config.view-config_variant_title.js-filterable(
			data-filterable-prefix='filter-colors_',
			data-filterable-url='brands.json'
			data-filterable-loading-class='view-config__options_loading'
		)
			template.js-filterable-item
				li.view-config__option
					input.view-config__togglable.js-filterable-checkbox(type='checkbox')
					label.view-config__label.js-filterable-label
			.layout__title.edit-look__title
				button.view-config__toggle.js-toggle(
					type='button',
					data-toggle-target='edit-look-style'
					data-toggle-attribute='open',
					data-toggle-dismissable
				) выбрать стиль
			dialog.view-config__dialog(id='edit-look-style')
				input.view-config__text-input.view-config__text-input_search(type='search', placeholder='найти стиль')
				ul.view-config__options.view-config__options_selected
					li.view-config__option
						input.view-config__togglable(type='checkbox', id='style-selected-1', checked)
						label.view-config__label(for='style-selected-1')='Агрогламур'
					li.view-config__option
						input.view-config__togglable(type='checkbox', id='style-selected-2', checked)
						label.view-config__label(for='style-selected-2')='Пробежка до McDonalds'
				ul.view-config__options.js-filterable-options
				each option, index in ['супергеройское трико', 'детский утренник', 'советская эклектика', 'загнивающая европа', 'утро после мальчишника']
					- let id = `filter-styles_${index}`;
					li.view-config__option
						input.view-config__togglable(type='checkbox', id=id)
						label.view-config__label(for=id)=option
				button.view-config__apply.button.button_theme_apply.js-toggle(
					type='button',
					data-toggle-target='edit-look-style',
					data-toggle-attribute='open'
				) применить
			form.edit-look__sections
				.edit-look__section
					.edit-look__photo.edit-look__placeholder
						button.edit-look__delete(type='button', title='Удалить') &times;
						div Загрузить фото
						div (минимальная высота  - 520 px)
					select(required, placeholder='добавить теги', data-placeholder='добавить теги', data-tags='true', multiple, data-select2-class='edit-look__tags').edit-look__tags.js-select2
					input(type='text', required, placeholder='Добавить название лука').edit-look__name
					time(datetime='20-08-2016').edit-look__date 20 августа 2016
					.edit-look__season
						each season in ['зима', 'лето', 'демисезон', 'мульти']
							label
								input(type='radio', name='edit-look-season')
								= season
					textarea(required, placeholder='Добавить описание лука…', rows=5).edit-look__description
					button(
						type='submit',
						data-modal='look-pending'
					).button.button_theme_apply.button_size_large.js-modal-trigger опубликовать
					p.edit-look__message.edit-look__message_error Поля обязательны для заполнения

				.edit-look__section.edit-look__products
					+product-placeholder
					+product-placeholder
					+product('edit-look__product', 'card', false, 'Абибас', 'спортивки', {current: 100500}, false, '45 46', false, true)
						+placeholder(200, 200, 'shirt')(class='product__image')
					+product-placeholder

block modals
	+modal('delete-account-confirm', 'confirm', 'Вы уверены,<br>что хотите удалить свой аккаунт?', 'delete-account-confirmed')
	+modal('delete-account-confirmed', 'confirmed', 'Аккаунт удален')
	+modal('look-pending', 'message', 'Спасибо. <br>Ваш лук проходит <br>модерацию')
	+modal('look-product-market', 'products')
		.edit-look
			.edit-look__add-products
				ul.edit-look__selected-products
					each product in new Array(2)
						li.edit-look__selected-product
							.edit-look__selected-product-text
								.edit-look__selected-product-brand Adidas
								.edit-look__selected-product-category кроссовки
							button(type='button', title='убрать товар из выбранных').edit-look__selected-product-remove &times;
				button.button.button_theme_apply.button_size_large.link.js-modal-trigger(data-modal='look-product-market') добавить товары
			+market(true)
	+modal('look-product-favourite', 'products')
		.edit-look
			.edit-look__add-products
				ul.edit-look__selected-products
					each product in new Array(2)
						li.edit-look__selected-product
							.edit-look__selected-product-text
								.edit-look__selected-product-brand Adidas
								.edit-look__selected-product-category кроссовки
							button(type='button', title='убрать товар из выбранных').edit-look__selected-product-remove &times;
				button.button.button_theme_apply.button_size_large.link.js-modal-trigger(data-modal='look-product-favourite') добавить товары
			.edit-look__favourite-products
				each product, index in new Array(15)
					- let isNew = index % 2;
					- let theme = ['women', 'men', 'cosmetics', 'kids'][index % 4]
					+product([`.edit-look__favourite-product product_dark-image product_category_${theme}`, index % 3 ? null : 'product_imageless'], 'card', false, 'Lee', 'блуза', {
						current: 99,
						discount: isNew ? false : 50,
						old: 198
					}, isNew ? 'new' : null, '40  42  44  46  48  50  52', true)
						if index % 3
							+placeholder(240, 340, 'fashion product')(class='product__image')
			.paging
				.paging__pager
					a.paging__back.link(href='', rel='prev')
						+icon('arrow', 'paging__icon paging__back-icon', 18, 20)
					a.paging__link.link(href='') 1
					a.paging__link.link(href='') 2
					span.paging__current 3
					a.paging__link.link(href='') 4
					a.paging__link.link(href='') 5
					span.paging__skipped-pages …
					a.paging__link.link(href='') 100
					a.paging__forward.link(href='', rel='next')
						+icon('arrow', 'paging__icon paging__forward-icon', 18, 20)

mixin product-placeholder
	.edit-look__product-placeholder.edit-look__placeholder
		| Добавить товар
		.edit-look__product-actions
			button.edit-look__text-button.js-modal-trigger(
				type='button',
				data-modal='look-product-favourite'
			) из избранного
			| /
			button.edit-look__text-button.js-modal-trigger(
				type='button',
				data-modal='look-product-market'
			) из каталога
