extends layouts/default

block content
	+breadcrumbs(['Главная', 'бренды'], 'account')
	.account.account_lookbook.lookbook
		.layout__inner.layout__inner_spaced.account__inner
			include /templates/blocks/account-author
			+account-nav('Луки')
			.layout__view-configs
				+view-config('layout__view-config js-filterable', 'filter-author', true, null, 'автор')(data-filterable-text='.view-config__label',
					data-filterable-prefix='filter-colors_',
					data-filterable-url='brands.json',
					data-filterable-loading-class='view-config__options_loading'
				)
					template.js-filterable-item
						li.view-config__option
							input.view-config__togglable.js-filterable-checkbox(type='checkbox')
							label.view-config__label.js-filterable-label
					input.view-config__text-input.view-config__text-input_search(type='search', placeholder='найти автора')
					ul.view-config__options.view-config__options_selected
						li.view-config__option
							input.view-config__togglable(type='checkbox', id='author-selected-1', checked)
							label.view-config__label(for='author-selected-1')='Александра Серая'
						li.view-config__option
							input.view-config__togglable(type='checkbox', id='author-selected-2', checked)
							label.view-config__label(for='author-selected-2')='Сильвия Святых'
					ul.view-config__options.js-filterable-options
						each option, index in ['Ждан Шуляк', 'Антуан Суворов', 'Арсения Гаврилова', 'Василина Коновалова', 'Воислав Воронов', 'Нелли Русакова', 'Джульетта Липницкая', 'Аврор Никифоров', 'Дональт Бобров', 'Ибрагим Гришин']
							- let id = `filter-colors_${index}`;
							li.view-config__option
								//- +togglable('view-config__togglable', 'checkbox', id)
								input.view-config__togglable(type='checkbox', id=id)
								label.view-config__label(for=id)=option
				+view-config('layout__view-config', 'filter-style', false, null, 'стиль')
					ul.view-config__options
						each option, index in ['сельская дискотека', 'ябнадела', 'хипстота', 'рэпер воннаби', 'няш мяш']
							- let id = `filter-style${index}`;
							li.view-config__option
								//- +togglable('view-config__togglable', 'checkbox', id)
								input.view-config__togglable(type='checkbox', id=id)
								label.view-config__label(for=id)=option
				+view-config('layout__view-config', 'filter-seasons', false, null, 'сезон')
					ul.view-config__options
						each option, index in ['зима', 'лето', 'демисезон']
							- let id = `filter-seasons_${index}`;
							li.view-config__option
								//- +togglable('view-config__togglable', 'checkbox', id)
								input.view-config__togglable(type='checkbox', id=id)
								label.view-config__label(for=id)=option
				+view-config('layout__view-config layout__view-config_sort', 'sort', false, 'right', 'сначала популярные')
					ul.view-config__options
						each option, index in ['сначала дешевые', 'сначала дорогие', 'сначала новинки', 'сначала скидки', 'сначала популярные']
							- let id = `sort_${index}`;
							li.view-config__option
								//- +togglable('view-config__togglable', 'radio', id, 'sort')
								input.view-config__togglable(type='radio', id=id, name='sort')
								label.view-config__label(for=id)=option
		.layout__inner.layout__inner_spaced
			h1.layout__title избранные луки
			.account__empty-message
				| Раздел «Избранные луки» пуст. Жмите на сердечко, чтобы сохранять понравившиеся луки
		.layout__inner.layout__inner_spaced.lookbook__inner.lookbook__looks
			h1.layout__title избранные луки
			+look('lookbook__look', true)
			+look('lookbook__look', true)
		.layout__inner.layout__inner_spaced.lookbook__inner.lookbook__looks
			+look('lookbook__look', true)
			+look('lookbook__look', true)
		.layout__inner.layout__inner_spaced.lookbook__inner.lookbook__looks
			+look('lookbook__look', true)
			+look('lookbook__look', true)
		.layout__inner.layout__inner_spaced.lookbook__inner
			.layout__inner
				button.load-more.load-more_layout_lookbook
					+icon('arrow-goto', 'load-more__icon', 52, 57)
					| загрузить еще

block modals
	+modal('delete-account-confirm', 'confirm', 'Вы уверены,<br>что хотите удалить свой аккаунт?', 'delete-account-confirmed')
	+modal('delete-account-confirmed', 'confirmed', 'Аккаунт удален')
