extends layouts/default

block content
	+breadcrumbs(['Главная', 'бренды'], 'account')
	.account.account_subscribers.subscribers
		.layout__inner.layout__inner_spaced.account__inner
			include /templates/blocks/account-author
			+account-nav('Подписчики')
		.layout__inner.layout__inner_spaced
			h1.layout__title подписчики
			.account__empty-message
				| На вас пока никто не подписан. Добавляйте больше луков, комментируйте луки других пользователей и лайкайте их профили, чтобы получить подписчиков
		.layout__inner.layout__inner_spaced
			h1.layout__title подписчики
			.account__authors.subscribers__authors
				for i in new Array(5)
					+author('subscribers__author', 'Гейб Ньюэлл', 987, false, 'female', 15)
						+placeholder(180, 180, 'face')
		.layout__inner.layout__inner_spaced
			.account__authors.subscribers__authors
				for i in new Array(5)
					+author('subscribers__author', 'Даг Ломбарди', 987, false, 'female', 15)
						+placeholder(180, 180, 'face')
			.account__paging.paging
				.paging__pager
					a.paging__back.link(href='', rel='prev')
						+icon('arrow', 'paging__icon paging__back-icon', 18, 20)
					a.paging__link.link(href='') 1
					a.paging__link.link(href='') 2
					span.paging__current 3
					a.paging__link.link(href='') 4
					a.paging__link.link(href='') 5
					span.paging__skipped-pages …
					a.paging__link.link(href='') 100
					a.paging__forward.link(href='', rel='next')
						+icon('arrow', 'paging__icon paging__forward-icon', 18, 20)
