extends layouts/default

block content
	+breadcrumbs(['Главная', 'бренды'], 'account')
	.account.account_products
		.layout__inner.layout__inner_spaced.account__inner
			include /templates/blocks/account-author
			+account-nav('Товары')
		.layout__inner.layout__inner_spaced
			h1.layout__title избранные товары
			.account__empty-message
				| Раздел “Избранные товары” пуст. Жмите на сердечко, чтобы сохранять понравившиеся товары
		.layout__inner.layout__inner_spaced
			h1.layout__title избранные товары
			.account__products
				each product, index in new Array(5)
					- let isNew = index % 2;
					- let theme = ['women', 'men', 'cosmetics', 'kids'][index % 4]
					+product([`account__product product_liked product_dark-image product_category_${theme}`, index % 3 ? null : 'product_imageless'], 'card', true, 'Lee', 'блуза', {
						current: 99,
						discount: isNew ? false : 50,
						old: 198
					}, isNew ? 'new' : null, '40  42  44  46  48  50  52')
						if index % 3
							+placeholder(240, 340, 'fashion product')(class='product__image')
		.layout__inner.layout__inner_spaced
			.account__products
				each product, index in new Array(5)
					- let isNew = index % 2;
					- let theme = ['women', 'men', 'cosmetics', 'kids'][index % 4]
					+product([`account__product product_liked product_dark-image product_category_${theme}`, index % 3 ? null : 'product_imageless'], 'card', true, 'Lee', 'блуза', {
						current: 99,
						discount: isNew ? false : 50,
						old: 198
					}, isNew ? 'new' : null, '40  42  44  46  48  50  52')
						if index % 3
							+placeholder(240, 340, 'fashion product')(class='product__image')
			.account__paging.paging
				.paging__pager
					a.paging__back.link(href='', rel='prev')
						+icon('arrow', 'paging__icon paging__back-icon', 18, 20)
					a.paging__link.link(href='') 1
					a.paging__link.link(href='') 2
					span.paging__current 3
					a.paging__link.link(href='') 4
					a.paging__link.link(href='') 5
					span.paging__skipped-pages …
					a.paging__link.link(href='') 100
					a.paging__forward.link(href='', rel='next')
						+icon('arrow', 'paging__icon paging__forward-icon', 18, 20)
block modals
	+modal('delete-account-confirm', 'confirm', 'Вы уверены,<br>что хотите удалить свой аккаунт?', 'delete-account-confirmed')
	+modal('delete-account-confirmed', 'confirmed', 'Аккаунт удален')
