extends layouts/default

block content
	+breadcrumbs(['Главная', 'бренды'], 'account')
	.account.account_subscribes.subscribes
		.layout__inner.layout__inner_spaced.account__inner
			include /templates/blocks/account-author
			+account-nav('Подписки')
		.layout__inner.layout__inner_spaced
			h1.layout__title избранные авторы
			.account__empty-message
				| Раздел «Подписки» пуст. Жмите на сердечко, чтобы подписаться на понравившегося автора
		.layout__inner.layout__inner_spaced
			h1.layout__title избранные авторы
			.account__authors.subscribes__authors
				for i in new Array(5)
					+author('subscribes__author', 'Гейб Ньюэлл', 987, true, 'female', 15)
						+placeholder(180, 180, 'face')
		.layout__inner.layout__inner_spaced
			.account__authors.subscribes__authors
				for i in new Array(5)
					+author('subscribes__author', 'Даг Ломбарди', 987, true, 'female', 15)
						+placeholder(180, 180, 'face')
			.account__paging.paging
				.paging__pager
					a.paging__back.link(href='', rel='prev')
						+icon('arrow', 'paging__icon paging__back-icon', 18, 20)
					a.paging__link.link(href='') 1
					a.paging__link.link(href='') 2
					span.paging__current 3
					a.paging__link.link(href='') 4
					a.paging__link.link(href='') 5
					span.paging__skipped-pages …
					a.paging__link.link(href='') 100
					a.paging__forward.link(href='', rel='next')
						+icon('arrow', 'paging__icon paging__forward-icon', 18, 20)
