extends layouts/default

block content
	+breadcrumbs(['Главная', 'бренды'], 'account')
	.account.account_posts.blog.blog_embedded
		.layout__inner.layout__inner_spaced.account__inner
			include /templates/blocks/account-author
			+account-nav('Статьи')
		.layout__inner.layout__inner_spaced
			h1.layout__title избранные статьи
			.account__empty-message
				| Раздел «Избранные статьи» пуст. Жмите на сердечко, чтобы сохранять понравившиеся статьи
		.blog__previews.account__posts
			+blog__preview-section('избранные статьи')
				.blog__previews-row
					.blog__previews-column.blog__previews-column_size_big
						+post-preview('blog__preview', null, 'big', 'text-top', null, 'Рюкзаки <br> на любой <br> возраст', '20 августа 2016', 'стиль', true)
							| Специально для прекрасных дам мы подготовили женственную подборку, центральными героями которой стали наиболее интересные новые бренды.
					.blog__previews-column.blog__previews-column_size_middle
						+post-preview('blog__preview', null, 'middle', 'text-bottom', null, 'Большая <br> распродажа <br> курток', '20 августа 2016', 'стиль', true)
			+blog__preview-section
				.blog__previews-row
					.blog__previews-column
						+post-preview('blog__preview post-preview_liked', 'dark', 'huge', 'text-middle', null, 'Большая <br> распродажа', '20 августа 2016', 'мода', true)
							| Специально для прекрасных дам мы подготовили женственную подборку, центральными героями которой стали наиболее интересные новые бренды.
			+blog__preview-section
				.blog__previews-row
					.blog__previews-column
						.blog__previews-row
							+post-preview('blog__preview', null, 'small', 'text-bottom', null, null, null, 'новинки', true)
								| Лак для ногтей Smith & Cult
						.blog__previews-row
							+post-preview('blog__preview', null, 'small', 'text-bottom', null, null, null, 'новинки', true)
								| Лак для ногтей Smith & Cult
					.blog__previews-column.blog__previews-column_size_bigger
						+post-preview('blog__preview', null, 'bigger', 'text-bottom', null, 'Большая <br> распродажа <br> курток', '20 августа 2016', 'стиль', true)
		.layout__inner
			.layout__inner
				button.load-more.load-more_layout_blog
					+icon('arrow-goto', 'load-more__icon', 52, 57)
					| загрузить еще
block modals
	+modal('delete-account-confirm', 'confirm', 'Вы уверены,<br>что хотите удалить свой аккаунт?', 'delete-account-confirmed')
	+modal('delete-account-confirmed', 'confirmed', 'Аккаунт удален')
