extends layouts/default

block menu-item
	- currentMenuItem = 'блог';

block secondary-nav
	+secondary-nav(null, 'blog')

block content
	.blog.layout
		+main-promo('blog__promo', 'blog', 'women', 'Большая распродажа', '#fff', '20 августа 2016')
			| Специально для прекрасных дам мы подготовили женственную подборку, центральными героями которой стали наиболее интересные новые бренды.
		+breadcrumbs(['Главная', 'женщинам', 'одежда', 'комбинезоны'], 'blog')
		.blog__previews
			+blog__preview-section('мода')
				.blog__previews-row
					.blog__previews-column
						+post-preview('blog__preview post-preview_liked', 'dark', 'huge', 'text-middle', null, 'Большая <br> распродажа', '20 августа 2016', 'мода')
							| Специально для прекрасных дам мы подготовили женственную подборку, центральными героями которой стали наиболее интересные новые бренды.
			+blog__preview-section('стиль')
				.blog__previews-row
					.blog__previews-column.blog__previews-column_size_big
						+post-preview('blog__preview', null, 'big', 'text-top', null, 'Рюкзаки <br> на любой <br> возраст', '20 августа 2016', 'стиль')
							| Специально для прекрасных дам мы подготовили женственную подборку, центральными героями которой стали наиболее интересные новые бренды.
					.blog__previews-column.blog__previews-column_size_middle
						+post-preview('blog__preview', null, 'middle', 'text-bottom', null, 'Большая <br> распродажа <br> курток', '20 августа 2016', 'стиль')
			+blog__preview-section('косметика')
				.blog__previews-row
					.blog__previews-column.blog__previews-column_size_middle
						+post-preview('blog__preview', null, 'middle', 'text-bottom', null, 'Большая <br> распродажа <br> курток', '20 августа 2016', 'стиль')
					.blog__previews-column.blog__previews-column_size_middle
						+post-preview('blog__preview', 'bordered', 'middle', ['text-bottom', 'header'], null, 'Большая <br> распродажа <br> курток', '20 августа 2016', 'стиль')
					.blog__previews-column
						.blog__previews-row
							+post-preview('blog__preview', null, 'small', 'text-bottom', null, null, null, 'новинки')
								| Лак для ногтей Smith & Cult
						.blog__previews-row
							+post-preview('blog__preview', null, 'small', 'text-bottom', null, null, null, 'новинки')
								| Лак для ногтей Smith & Cult
			+blog__preview-section('Стиль')
				.blog__previews-row
					.blog__previews-column.blog__previews-column_size_bigger
						+post-preview('blog__preview', null, 'bigger', 'text-bottom', null, 'Большая <br> распродажа <br> курток', '20 августа 2016', 'стиль')
					.blog__previews-column
						.blog__previews-row
							+post-preview('blog__preview', null, 'small', 'text-bottom', null, null, null, 'новинки')
								| Лак для ногтей Smith & Cult
						.blog__previews-row
							+post-preview('blog__preview', null, 'small', 'text-bottom', null, null, null, 'новинки')
								| Лак для ногтей Smith & Cult
			.layout__inner
				button.load-more.load-more_layout_blog
					+icon('arrow-goto', 'load-more__icon', 52, 57)
					| загрузить еще

mixin blog__preview-section(title)
	.blog__previews-section.layout
		.layout__inner
			a.blog__previews-title.layout__title.link(href='')=title
			.blog__previews-container
				block


