extends layouts/default

block menu-item
	- currentMenuItem = 'бренды';

block content
	-
		let brands = {
			'a': [
				"A ★ round",
				"A 4 mani",
				"A ancona",
				"A and c collection",
				"A cool pant",
				"A di alcantara®",
				"A jour",
				"A kind of guise",
				"À la main",
				"A la russe",
				"A me mi",
				"A mòòd",
				"A peace treaty",
				"À priorité",
				"A question of",
				"A star is born",
				"A trois",
				"A workroom by ryoji okada",
				"A-a awesome apparel by ksenia avakyan",
				"A-a by ksenia avakyan",
				"A-one",
				"A-sport",
				"A-style"
			],
			'b': [
				"B b5",
				"B diamond",
				"B femme",
				"B settecento",
				"B side by wale",
				"B sided",
				"B-black",
				"B-chost",
				"B-karo",
				"B-kini milano marittima",
				"B-store",
				"B-store x underground",
				"B-used",
				"B. cavalli",
				"B. m. company",
				"B.128",
				"B.a. printed artworks",
				"B.c. best connections",
				"B.d. studio",
				"B.d.baggies",
				"B.j. hooper",
				"B.k.",
				"B.k. collection"
			],
			'c': [
				"C gold",
				"C studio",
				"Ç x mira mikati",
				"C`n`c costume national",
				"C-collection",
				"C-doux",
				"C.a.m.",
				"C.b. made in italy",
				"C.d. cosimodamato",
				"C.d.c.",
				"C.d.s blazé milano",
				"C.g berlin",
				"C.g. studio",
				"C.h.i.c.",
				"C.j. love",
				"C.m. charlj max",
				"C.on.tainer",
				"C.p. company",
				"C.p.1963",
				"C.p.twentynine",
				"C.petula",
				"C.r.a.f.t.",
				"C.t. plage"
			]
		};
		let selectedBrands = [
			"A jour",
			"A kind of guise",
			"À la main"
		];
		let elementsPerColumn = 5;
	+breadcrumbs(['Главная', 'бренды'], 'brands')
	.brands
		.layout__inner.layout__inner_spaced.brands__inner
			a.brands__shops-link.link(href='shops.html') магазины
			ul.brands__alphabet
				each letter in 'a b c d e f g h i j k l m n o p Q r s t U v w x y z'.split(' ')
					li.brands__alphabet-item
						a.link(href=`#letter_${letter}`)=letter
				li.brands__alphabet-item.brands__alphabet-item_special
						a.link(href=`#letter_ru`) а-я
				li.brands__alphabet-item.brands__alphabet-item_special
					a.link(href=`#letter_others`) #
		ul.brands__letters
			each letter, index in Object.keys(brands)
				li.brands__letters-item(id=`letter_${letter}`)
					.layout__inner.layout__inner_spaced.brands__inner
						if !index
							h1.layout__title.brands__title бренды
						h2.brands__letter.link=letter
						.brands__columns
							- let columnsNum = Math.ceil(brands[letter].length / elementsPerColumn);
							each column, index in new Array(columnsNum)
								ul.brands__column
									- let startIndex = elementsPerColumn * index;
									each brand in brands[letter].slice(startIndex, startIndex + elementsPerColumn)
										li.brands__item
											a.brands__brand.link(href='')
												if selectedBrands.includes(brand)
													strong=brand
												else
													=brand

									if index === columnsNum - 1
										li.brands__item.brands__item_more
											a.brands__more.link(href='') показать больше
		.layout__inner.layout__inner_spaced.brands__inner
			.layout__seo-text.layout__seo-text_variant_brands
				p
					strong Женский клмбинезон
				p К примеру, у локтевых заплаток военное прошлое. Во время Первой мировой немецкие солдаты заметили, что их форма быстро протирается на локтях, так как они активно ползают по земле, скрываясь от врагов. Эту проблему и решили небольшие куски ткани.
				p История нашивок начинается с шевронов. Изначально их придумали, чтобы обозначать принадлежность военных к той или иной организации, их чин и срок службы. Постепенно нашивки стали делать для униформ рабочих и одежды спортсменов.
				p
					="К примеру, у локтевых заплаток военное прошлое. Во время Первой мировой "
					a(href='') немецкие солдаты
					=" заметили, что их форма быстро протирается на локтях, так как они активно ползают по земле, скрываясь от врагов. Эту проблему и решили небольшие куски ткани."
				p История нашивок начинается с шевронов. Изначально их придумали, чтобы обозначать принадлежность военных к той или иной организации, их чин и срок службы. Постепенно нашивки стали делать для униформ рабочих и одежды спортсменов.
