extends layouts/default

block content
	.error.error_404
		.error__code
			|4&nbsp;4
			+icon('heart', 'error__decor error__decor_shadow', 221, 283)
			+icon('heart', 'error__decor', 223, 295)
		p.error__text!="К сожалению, страница не найдена, <br> но у нас есть еще много товаров, которые могут вам понравиться"
	.error.error_500
		.error__code
			|5&nbsp;0
			+icon('heart', 'error__decor error__decor_shadow', 221, 283)
			+icon('heart', 'error__decor', 223, 295)
		p.error__text!="К сожалению, возникли проблемы с сервером"
	include /templates/blocks/error-nav
	+slider(null, 'contrast-dark', 'logos', 'бренды', 16, 2, 110, 50)
	+slider(null, 'contrast-light', 'logos', 'магазины', 12, 2, 110, 50)