extends layouts/default

block content
	header.header.layout
		.layout__inner.header__inner
			form.header__column.header__menu.search-box.search-box_layout_overlay#search
				+social-list('header__social-list', 'medium')
				button.search-box__button.js-toggle(type='button', data-toggle-target='search', data-toggle-class='search-box_open')
					+icon('search', 'header__icon', 64, 40)
				input(type='search', required).search-box__input
				button.search-box__submit
					+icon('arrow-submit', null, 28, 14)
			a.header__column.header__logo-container(href='../')
				+icon('logo', 'header__logo', 208, 125)
			.header__column.header__user
				a.header__avatar.avatar(href='')
					+placeholder(100, 100, 'face')(class='avatar__image')
				.header__auth-text
					a.header__user-name.link(href='')!='Зоя<br>Космодемьянская'
					a.header__user-link.link(href='') личный кабинет
					a.header__user-link.header__log-out.link(href='') выйти
	header.header.layout
		.layout__inner.header__inner
			form.header__column.header__menu.search-box.search-box_layout_overlay#search2
				+social-list('header__social-list', 'medium')
				button.search-box__button.js-toggle(type='button', data-toggle-target='search2', data-toggle-class='search-box_open')
					+icon('search', 'header__icon', 64, 40)
				input(type='search', required).search-box__input
				button.search-box__submit
					+icon('arrow-submit', null, 28, 14)
			a.header__column.header__logo-container(href='../')
				+icon('logo', 'header__logo', 208, 125)
			.header__column.header__user
				.header__auth
					a(href='')
						+icon('arrow-auth', 'header__auth-icon', 47, 40)
					.header__auth-text
						button.link.button.button_theme_link.js-modal-trigger.js-click-trigger(data-modal='sign-up-in', data-click-target='modal-sign-in') вход
						|&nbsp;/&nbsp;
						button.link.button.button_theme_link.js-modal-trigger.js-click-trigger(data-modal='sign-up-in', data-click-target='modal-sign-up') регистрация


	.main-promo.main-promo_variant_index.layout
		.main-promo__inner
			+slider('main-promo__slider', 'index', 'outstand', null, false, false, false, false, false, 4)(
				data-slider-auto-scroll,
				data-slider-scroll-interval=6000
			)
				+slider__slide('main-promo__slide layout__inner')(
					style = {
						'background-image': 'url(images/backgrounds/main-promo.jpg)',
						'color': '#fff'
					}
				)
					.layout__inner.slider__item-wrap
						+slider__item
							h2.slider__title.layout__title
								a.slider__title-link.link(href='') стиль
							.main-promo__decor-container
								+icon('heart', 'main-promo__decor', 400, 540)
							a.main-promo__name.link(href='')!='Большая<br>распродажа'
							a.main-promo__description.main-promo__description_limited.link(href='')
								| лучшие модели уходящего
								br
								| лета по лучшим ценам
				+slider__slide('main-promo__slide')(
					style = {
						'background-image': 'url(images/backgrounds/main-promo.jpg)',
						'color': '#fff'
					}
				)
					.layout__inner.slider__item-wrap
						+slider__item
							h2.slider__title.layout__title
								a.slider__title-link.link(href='', style={
									'color': '#000'
								}) стиль
							.main-promo__decor-container(style={
								'fill': '#fff'
							})
								+icon('heart', 'main-promo__decor', 400, 540)
							a.main-promo__name.link(
								href = '',
								style = {
									'color': '#000'
								}
							)!='Большая<br>распродажа'
							a.main-promo__description.main-promo__description_limited.link(
								href = '',
								style = {
									'color': '#000'
								}
							)
								| лучшие модели уходящего
								br
								| лета по лучшим ценам
				+slider__slide('main-promo__slide')(
					style = {
						'background-image': 'url(images/backgrounds/main-promo.jpg)',
						'color': '#fff'
					}
				)
					.layout__inner.slider__item-wrap
						+slider__item
							h2.slider__title.layout__title
								a.slider__title-link.link(href='', style={
									'color': '#000'
								}) стиль
							a.main-promo__name.main-promo__name_only.link(
								href = '',
								style = {
									'color': '#000'
								}
							)!='Большая<br>осенняя<br>распродажа'
				+slider__slide('main-promo__slide main-promo__slide_discount')(
					style = {
						'background-image': 'url(images/backgrounds/main-promo.jpg)',
						'color': '#fff'
					}
				)
					.layout__inner.slider__item-wrap
						+slider__item('slider__item_discount')
							h2.slider__title.layout__title
								a.slider__title-link.link(href='', style={
									'color': '#000'
								}) стиль
							a.main-promo__name.main-promo__name_discount.link(
								href = '',
								style = {
									'color': '#000'
								}
							) -50%
							a.main-promo__description.link(
								href = '',
								style = {
									'color': '#000'
								}
							)
								| на все коллекции
								br
								| сезона осень-зима2016
	+looks(null, 'lookbook')
	+catalogue(null, 'women', 'Женщинам', 'women', ['Комбинезоны', 'платья', 'юбки', 'блузы', 'джинсы'])
	+catalogue(null, 'men', 'Мужчинам', 'men', ['Носки', 'трусы', 'подтяжки', 'ремни', 'щляпы'])
	include /templates/blocks/blog-slider
	include /templates/blocks/authors
	+catalogue(null, 'cosmetics', 'Косметика', 'cosmetics', ['скрабы', 'крема', 'тени', 'маски', 'шампуни'])
	+slider(null, 'contrast-dark', 'logos', 'бренды', 16, 2, 110, 50)
	+slider(null, 'contrast-light', 'logos', 'магазины', 12, 2, 110, 50)
