extends layouts/default

block menu-item
	- currentMenuItem = 'lookbook';

block secondary-nav
	+secondary-nav(null, 'lookbook')

block content
	+breadcrumbs(['Главная', 'бренды'], 'lookbook')
	.lookbook
		.layout__inner.layout__inner_spaced.lookbook__inner
			.layout__view-configs
				+view-config('layout__view-config js-filterable', 'filter-author', true, null, 'автор')(data-filterable-text='.view-config__label',
					data-filterable-prefix='filter-colors_',
					data-filterable-url='/brands.json',
					data-filterable-loading-class='view-config__options_loading'
				)
					template.js-filterable-item
						li.view-config__option
							input.view-config__togglable.js-filterable-checkbox(type='checkbox')
							label.view-config__label.js-filterable-label
					input.view-config__text-input.view-config__text-input_search(type='search', placeholder='найти автора')
					ul.view-config__options.view-config__options_selected
						li.view-config__option
							input.view-config__togglable(type='checkbox', id='author-selected-1', checked)
							label.view-config__label(for='author-selected-1')='Василий Придорожный'
						li.view-config__option
							input.view-config__togglable(type='checkbox', id='author-selected-2', checked)
							label.view-config__label(for='author-selected-2')='Аркадий Беззубенков'
					ul.view-config__options.js-filterable-options
						each option, index in ['Ждан Шуляк', 'Антуан Суворов', 'Арсения Гаврилова', 'Василина Коновалова', 'Воислав Воронов', 'Нелли Русакова', 'Джульетта Липницкая', 'Аврор Никифоров', 'Дональт Бобров', 'Ибрагим Гришин']
							- let id = `filter-author${index}`;
							li.view-config__option
								//- +togglable('view-config__togglable', 'checkbox', id)
								input.view-config__togglable(type='checkbox', id=id)
								label.view-config__label(for=id)=option
				+view-config('layout__view-config', 'filter-sizes', false, null, 'стиль')(
					data-filterable-prefix='filter-colors_',
					data-filterable-url='/brands.json'
					data-filterable-loading-class='view-config__options_loading'
				)
					template.js-filterable-item
						li.view-config__option
							input.view-config__togglable.js-filterable-checkbox(type='checkbox')
							label.view-config__label.js-filterable-label
					ul.view-config__options.js-filterable-options
						each option, index in ['сельская дискотека', 'ябнадела', 'хипстота', 'рэпер воннаби', 'няш мяш']
							- let id = `filter-sizes_${index}`;
							li.view-config__option
								//- +togglable('view-config__togglable', 'checkbox', id)
								input.view-config__togglable(type='checkbox', id=id)
								label.view-config__label(for=id)=option
				+view-config('layout__view-config js-filterable', 'filter-materials', false, null, 'состав')(data-filterable-text='.view-config__label')
					input.view-config__text-input.view-config__text-input_search(type='search', placeholder='найти состав')
					ul.view-config__options.view-config__options_selected
						li.view-config__option
							input.view-config__togglable(type='checkbox', id='material-selected-1', checked)
							label.view-config__label(for='material-selected-1')='дерматин'
						li.view-config__option
							input.view-config__togglable(type='checkbox', id='material-selected-2', checked)
							label.view-config__label(for='material-selected-2')='винил'
					ul.view-config__options
						each option, index in ['резина', 'кожа', 'замша']
							- let id = `filter-materials_${index}`;
							li.view-config__option
								//- +togglable('view-config__togglable', 'checkbox', id)
								input.view-config__togglable(type='checkbox', id=id)
								label.view-config__label(for=id)=option
				+view-config('layout__view-config', 'filter-seasons', false, null, 'сезон')
					ul.view-config__options
						each option, index in ['зима', 'лето', 'демисезон']
							- let id = `filter-seasons_${index}`;
							li.view-config__option
								//- +togglable('view-config__togglable', 'checkbox', id)
								input.view-config__togglable(type='checkbox', id=id)
								label.view-config__label(for=id)=option
				+view-config('layout__view-config layout__view-config_sort', 'sort', false, 'right', 'сначала популярные')
					ul.view-config__options
						each option, index in ['сначала дешевые', 'сначала дорогие', 'сначала новинки', 'сначала скидки', 'сначала популярные']
							- let id = `sort_${index}`;
							li.view-config__option
								//- +togglable('view-config__togglable', 'radio', id, 'sort')
								input.view-config__togglable(type='radio', id=id, name='sort')
								label.view-config__label(for=id)=option
		.layout__inner.layout__inner_spaced.lookbook__inner.lookbook__looks
			h1.layout__title.lookbook__title lookbook
			+look('lookbook__look')
			+look('lookbook__look', true)
		.layout__inner.layout__inner_spaced.lookbook__inner.lookbook__looks
			+look('lookbook__look')
			+look('lookbook__look')
		.layout__inner.layout__inner_spaced.lookbook__inner
			.layout__inner
				button.load-more.load-more_layout_lookbook
					+icon('arrow-goto', 'load-more__icon', 52, 57)
					| загрузить еще
			.layout__seo-text.layout__seo-text_variant_lookbook
				p
					strong Женский клмбинезон
				p К примеру, у локтевых заплаток военное прошлое. Во время Первой мировой немецкие солдаты заметили, что их форма быстро протирается на локтях, так как они активно ползают по земле, скрываясь от врагов. Эту проблему и решили небольшие куски ткани.
				p История нашивок начинается с шевронов. Изначально их придумали, чтобы обозначать принадлежность военных к той или иной организации, их чин и срок службы. Постепенно нашивки стали делать для униформ рабочих и одежды спортсменов.
				p
					="К примеру, у локтевых заплаток военное прошлое. Во время Первой мировой "
					a(href='') немецкие солдаты
					=" заметили, что их форма быстро протирается на локтях, так как они активно ползают по земле, скрываясь от врагов. Эту проблему и решили небольшие куски ткани."
				p История нашивок начинается с шевронов. Изначально их придумали, чтобы обозначать принадлежность военных к той или иной организации, их чин и срок службы. Постепенно нашивки стали делать для униформ рабочих и одежды спортсменов.
