extends layouts/default

block menu-item
	- currentMenuItem = 'lookbook';

block secondary-nav
	+secondary-nav(null, 'lookbook')

block content
	+breadcrumbs(['Главная', 'бренды'], 'lookbook')
	.lookbook
		.layout__inner.layout__inner_spaced.lookbook__inner
			.lookbook__author.author.author_layout_page
				.author__header
					.avatar
						+placeholder(100, 100, 'face')(class='avatar__image')
					+like('author__like', 'author__like-icon', 'В избранное', 37, 48)
				.author__body
					h2.author__name Алиса Селезнева
					.author__secondary
						| 198 луков
						span.author__secondary-separator /
						| 9 876 лайков
				.author__footer
					a.button.button_theme_apply.button_size_large блог автора
			.layout__view-configs
				+view-config('layout__view-config', 'filter-sizes', false, null, 'стиль')
					ul.view-config__options
						each option, index in ['сельская дискотека', 'ябнадела', 'хипстота', 'рэпер воннаби', 'няш мяш']
							- let id = `filter-sizes_${index}`;
							li.view-config__option
								//- +togglable('view-config__togglable', 'checkbox', id)
								input.view-config__togglable(type='checkbox', id=id)
								label.view-config__label(for=id)=option
				+view-config('layout__view-config', 'filter-seasons', false, null, 'сезон')
					ul.view-config__options
						each option, index in ['зима', 'лето', 'демисезон']
							- let id = `filter-seasons_${index}`;
							li.view-config__option
								//- +togglable('view-config__togglable', 'checkbox', id)
								input.view-config__togglable(type='checkbox', id=id)
								label.view-config__label(for=id)=option
				+view-config('layout__view-config layout__view-config_sort', 'sort', false, 'right', 'сначала популярные')
					ul.view-config__options
						each option, index in ['сначала дешевые', 'сначала дорогие', 'сначала новинки', 'сначала скидки', 'сначала популярные']
							- let id = `sort_${index}`;
							li.view-config__option
								//- +togglable('view-config__togglable', 'radio', id, 'sort')
								input.view-config__togglable(type='radio', id=id, name='sort')
								label.view-config__label(for=id)=option
		.layout__inner.layout__inner_spaced.lookbook__inner.lookbook__looks
			h1.layout__title.lookbook__title lookbook
			+look('lookbook__look')
			+look('lookbook__look', true)
		.layout__inner.layout__inner_spaced.lookbook__inner.lookbook__looks
			+look('lookbook__look')
			+look('lookbook__look')
		.layout__inner.layout__inner_spaced.lookbook__inner
			.layout__inner
				button.load-more.load-more_layout_lookbook
					+icon('arrow-goto', 'load-more__icon', 52, 57)
					| загрузить еще
			.layout__seo-text.layout__seo-text_variant_lookbook
				p
					strong Женский клмбинезон
				p К примеру, у локтевых заплаток военное прошлое. Во время Первой мировой немецкие солдаты заметили, что их форма быстро протирается на локтях, так как они активно ползают по земле, скрываясь от врагов. Эту проблему и решили небольшие куски ткани.
				p История нашивок начинается с шевронов. Изначально их придумали, чтобы обозначать принадлежность военных к той или иной организации, их чин и срок службы. Постепенно нашивки стали делать для униформ рабочих и одежды спортсменов.
				p
					="К примеру, у локтевых заплаток военное прошлое. Во время Первой мировой "
					a(href='') немецкие солдаты
					=" заметили, что их форма быстро протирается на локтях, так как они активно ползают по земле, скрываясь от врагов. Эту проблему и решили небольшие куски ткани."
				p История нашивок начинается с шевронов. Изначально их придумали, чтобы обозначать принадлежность военных к той или иной организации, их чин и срок службы. Постепенно нашивки стали делать для униформ рабочих и одежды спортсменов.
