extends layouts/default

block menu-item
	- currentMenuItem = 'lookbook';

block secondary-nav
	+secondary-nav(null, 'lookbook')

block content
	+breadcrumbs(['Главная', 'бренды'], 'lookbook')
	.lookbook.lookbook_layout_standalone
		.layout__inner.layout__inner_spaced.lookbook__inner
			.lookbook__author.author.author_layout_page
				.author__header
					.avatar
						+placeholder(100, 100, 'face')(class='avatar__image')
					+like('author__like', 'author__like-icon', 'В избранное', 37, 48)
				.author__body
					h2.author__name Алиса Селезнева
					.author__meta
						| 198 луков
						span.author__meta-separator /
						| 9 876 лайков
				.author__footer
					a.button.button_theme_apply.button_size_large блог автора
		+slider('lookbook__slider', null, 'lookbook', 'вечерний стиль')
			+slider__slide
				+slider__item('lookbook__look look look_layout_standalone')#look1
					.look__header
						+slider('look__photo-slider', 'photos', 'look-images')
							each image in new Array(2)
								+slider__slide
									+slider__item('look__image-container')
										+placeholder(520, 520, 'fashion,girl')
						ul.look__tags
							each tag in ['джинсы', 'синий цвет', 'базовый гардероб',  'что надеть?', 'H&M']
								li.look__tag
									a.link(href='')=tag
						h2.look__name Комбинезон с тремя десятками карманов
						time.look__date(datetime='2016-08-20') 20 августа 2016
						.look__text!="Этот косткардиган Evans выполнен из  плотного трикотажа. Детали: модель свободного  кроя без застежки,  рукава-реглан, боковые <a href='' class='link link_text'>карманы</a>. Этот косткардиган Evans выполнен из  плотного трикотажа. Детали: модель свободного  кроя без застежки,  рукава-реглан боковые карманы."
					.look__body
						.look__products
							each product, index in new Array(4)
								- let isNew = index % 2;
								+product('look__product product_category_women', 'card', true, 'Lee', 'блуза', {
									current: 99,
									discount: isNew ? false : 50,
									old: 198
								}, isNew ? 'new' : null, '40  42  44  46  48  50  52')
									+placeholder(240, 340, 'fashion product')(class='product__image')
					.look__footer
						+social-list('look__social', 'medium', 'vertical', 'liter')
						.look__likes
							+like('look__like','look__like-icon', liked ? 'В избранное' : 'Убрать из избранного', 37, 48)
							| 45
						a.look__comments-toggle.link.js-toggle(
							href='#look1-comments',
							data-toggle-target='look1',
							data-toggle-class='look_comments_open',
							data-toggle-action='add'
						)
							+icon('comment-cloud', 'look__comments-icon', 40, 30)
							| 12
					section.look__comments
						form.comment-form
							a.comment-form__author(href='')
								+placeholder(100, 100, 'portrait')(class='comment-form__avatar')
							textarea.comment-form__textarea(placeholder='Добавить комментарий', rows=13, cols=100, required)
							button.comment-form__submit.button отправить
						.look__comment-list.look__comment-list_hidden#look1-comments
							article.look__comment.comment
								.comment__inner
									a.comment__avatar(href='')
										+placeholder(100, 100, 'portrait')(class='comment__avatar-image')
									time.comment__time 20 мая 2016, 18:06
									a.comment__author.link(href='') Ирина Воронова:
									.comment__content Узоры на ткани – важный элемент декора, который влияет на зрительное восприятие не только одежды, но и облика в целом. Существует множество орнаментов, и все они подразделяются на изобразительные и неизобразительные.
									button(type='button').comment__reply.button ответить
							article.look__comment.comment.comment_level_1
								.comment__inner
									a.comment__avatar(href='')
										+placeholder(100, 100, 'portrait')(class='comment__avatar-image')
									time.comment__time 20 мая 2016, 18:06
									a.comment__author.link(href='') Ирина Воронова:
									.comment__content Узоры на ткани – важный элемент декора, который влияет на зрительное восприятие не только одежды, но и облика в целом. Существует множество орнаментов, и все они подразделяются на изобразительные и неизобразительные.
									button(type='button').comment__reply.button ответить
			+slider__slide
				+slider__item
		.layout__inner.layout__inner_spaced.lookbook__inner.lookbook__looks
			h1.layout__title lookbook
			+look('lookbook__look')
			+look('lookbook__look', true)
		.layout__inner.layout__inner_spaced.lookbook__inner.lookbook__looks
			+look('lookbook__look')
			+look('lookbook__look')
