extends layouts/default

block menu-item
	- currentMenuItem = 'женщинам';

block content
	+breadcrumbs(['Главная', 'женщинам', 'одежда', 'комбинезоны'], 'market')

	//- +secondary-nav(null, 'market')
	+market(false)
	+looks(null, 'lookbook', 'women', 'footer')
	+product-slider(null, 'недавно просмотренные')

mixin market-menu(categories, level)
	- level = level || 0;
	ul.market__menu(class=`market__menu_level_${level}`)
		each category in categories
			li.market__menu-item
				a.market__menu-link.link(href='')
					span.market__menu-category(class=category.class)=category.name
					=" "
					span.market__menu-counter=category.count
				if category.categories
					+market-menu(category.categories, ++level)
