extends layouts/default

block menu-item
	- currentMenuItem = 'блог';

block secondary-nav
	+secondary-nav(null, 'post')

block content
	.blog.blog_embedded.layout
		article.post.post_liked#post
			+main-promo('post__promo', 'post-full', 'jeans', 'Джинсомания: какая пара подойдет мне?', '#fff', '10 августа 2016')
			+main-promo('post__promo', 'post', 'shoes', 'Джинсомания: какая пара подойдет мне?', '#000', '10 августа 2016')
			+main-promo('post__promo', 'post-light', false, 'Джинсомания: какая пара подойдет мне?', '#000', '10 августа 2016')
			+breadcrumbs(['Главная', 'женщинам', 'одежда', 'комбинезоны'], 'post')
			.layout__inner.post__inner
				.post__meta.layout__title
					| текст:
					a.post__meta-link Юлия Ковалева
					| фото:
					a.post__meta-link vogue.ru
				ul.post__tags
					each tag in ['джинсы', 'синий цвет', 'базовый гардероб', 'что надеть?', 'H&M']
						li.post__tag
							a.post__tag-link.link(href='')=tag
				.post__content
					.post__lead Специально для прекрасных дам мы подготовили женственную подборку, центральными героями которой стали наиболее интересные новые бренды. Сегодня по большому счету в заплатках и нашивках нет практической надобности – в первую очередь они призваны украшать. Поэтому встретить их можно не только на одежде, но и на аксессуарах. Но так было не всегда.
					figure.post__figure
						figcaption.post__figcaption.post__figcaption_location_left История нашивок начинается с шевронов. Изначально их придумали, чтобы обозначать принадлежность военных к той или иной организации, их чин и
						+slider('post__slider', null, 'post', null)
							+slider__slide
								+slider__item
									+placeholder(640, 430, 'jeans')
							+slider__slide
								+slider__item
									+placeholder(640, 430, 'jeans')
					+post-text
					figure.post__figure
						.post__look.post-look_size_middle
							.post-look__row
								.post-look__column
									+placeholder(310, 430, 'jeans')(class='post__image')
								.post-look__column
									+placeholder(310, 430, 'jeans')(class='post__image')
						figcaption.post__figcaption.post__figcaption_location_right История нашивок начинается с шевронов. Изначально их придумали, чтобы обозначать принадлежность военных к той или иной организации, их чин и срок службы. Постепенно нашивки стали делать для униформ рабочих и одежды спортсменов.
					+post-text
					figure.post__figure
						.post__look.post-look_ordered.post-look_size_small
							.post-look__row
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece.post-look__piece_dark(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
						+post-figcaption
					+post-text
					figure.post__figure
						.post__look.post-look_size_large
							.post-look__row
								.post-look__column
									a.post-look__piece(href='')
										.post-look__number 1
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										.post-look__number 3
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										.post-look__number.post-look__number_dark 2
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
							.post-look__row
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece.post-look__piece_dark(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
						+post-figcaption
					+post-text
					figure.post__figure.post__outstand
						.post__look.post-look_size_small.post-look_outstand
							.post-look__row
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece.post-look__piece_dark(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece.post-look__piece_dark(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece.post-look__piece_dark(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
						+post-figcaption
					+post-text
					figure.post__figure
						.post__look.post-look_size_large
							.post-look__row
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 620, 'lipstick')(class='post-look__image')
								.post-look__column
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
						+post-figcaption
					+post-text
					figure.post__figure
						.post__look.post-look_size_large
							.post-look__row
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 300, 'lipstick')(class='post-look__image')
							.post-look__row
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 300, 'lipstick')(class='post-look__image')
						+post-figcaption
					+post-text
					figure.post__figure
						.post__look.post-look_size_large
							.post-look__row
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
							.post-look__row
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
						+post-figcaption
					+post-text
					figure.post__figure
						.post__look.post-look_size_large
							.post-look__row
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
							.post-look__row
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 300, 'lipstick')(class='post-look__image')
								+product('post__product post-look__product post-look__product_location_right post-look__product_location_bottom product_theme_light product_theme_light-complete product_category_men', 'card', true, 'Lee', 'блуза', {
									current: 99
								}, false)
									+placeholder(180, 200, 'skirt')(class='product__image')
						+post-figcaption
					+post-text
					figure.post__figure
						.post__look.post-look_size_large
							.post-look__row
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 300, 'lipstick')(class='post-look__image')
							.post-look__row
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								+product('post__product post-look__product post-look__product_location_left post-look__product_location_top product_theme_light product_theme_light-complete  product_category_women', 'card', true, 'Lee', 'блуза', {
									current: 99
								}, false)
									+placeholder(180, 200, 'skirt')(class='product__image')
						+post-figcaption
					+post-text
					figure.post__figure
						.post__look.post-look_size_large
							.post-look__row
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 300, 'lipstick')(class='post-look__image')
							.post-look__row
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
						+post-figcaption
					+post-text
					figure.post__figure
						.post__look.post-look_size_large
							.post-look__row
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(640, 300, 'lipstick')(class='post-look__image')
							.post-look__row
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
						+post-figcaption
					+post-text
					figure.post__figure
						.post__look.post-look_size_large
							.post-look__row
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(640, 300, 'lipstick')(class='post-look__image')
							.post-look__row
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
						+post-figcaption
					+post-text
					figure.post__figure
						.post__look.post-look_size_large
							.post-look__row
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 300, 'lipstick')(class='post-look__image')
							.post-look__row
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(640, 300, 'lipstick')(class='post-look__image')
						+post-figcaption
					+post-text
					figure.post__figure
						.post__look.post-look_size_large
							.post-look__row
								.post-look__column
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 620, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 620, 'lipstick')(class='post-look__image')
						+post-figcaption
					+post-text
					figure.post__figure.post__outstand
						.post__look.post-look_size_large.post-look_outstand
							.post-look__row
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 620, 'lipstick')(class='post-look__image')
								.post-look__column
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
						+post-figcaption
					+post-text
					figure.post__figure.post__outstand
						.post__look.post-look_size_large.post-look_outstand
							.post-look__row
								.post-look__column
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 620, 'lipstick')(class='post-look__image')
								.post-look__column
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
						+post-figcaption
					+post-text
					figure.post__figure.post__outstand
						.post__look.post-look_size_large.post-look_outstand
							.post-look__row
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 620, 'lipstick')(class='post-look__image')
								.post-look__column
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column.post-look__column_size_middle
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(420, 300, 'lipstick')(class='post-look__image')
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(420, 300, 'lipstick')(class='post-look__image')
						+post-figcaption
					+post-text
					figure.post__figure.post__outstand
						.post__look.post-look_size_large.post-look_outstand
							.post-look__row
								.post-look__column
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 620, 'lipstick')(class='post-look__image')
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 620, 'lipstick')(class='post-look__image')
						+post-figcaption
					+post-text
					figure.post__figure.post__outstand
						.post__look.post-look_size_large.post-look_outstand
							.post-look__row
								.post-look__column
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column.post-look__column_size_large
									a.post-look__piece(href='')
										+placeholder(640, 620, 'lipstick')(class='post-look__image')
								.post-look__column
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
									.post-look__row
										a.post-look__piece(href='')
											+placeholder(200, 300, 'lipstick')(class='post-look__image')
						+post-figcaption
					+post-text
					figure.post__figure.post__outstand
						.post__look.post-look_size_large.post-look_outstand
							.post-look__row
								.post-look__column.post-look__column_size_large
									.post-look__row
										.post-look__column.post-look__column_size_huge
											a.post-look__piece(href='')
												+placeholder(420, 300, 'lipstick')(class='post-look__image')
										.post-look__column
											a.post-look__piece(href='')
												+placeholder(200, 300, 'lipstick')(class='post-look__image')
									.post-look__row
										.post-look__column.post-look__column_size_huge
											a.post-look__piece(href='')
												+placeholder(420, 300, 'lipstick')(class='post-look__image')
										.post-look__column
											a.post-look__piece(href='')
												+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(420, 620, 'lipstick')(class='post-look__image')
						+post-figcaption
					+post-text
					figure.post__figure.post__outstand
						.post__look.post-look_size_large.post-look_outstand
							.post-look__row
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
							.post-look__row
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
						+post-figcaption
					+post-text
					figure.post__figure.post__outstand
						.post__look.post-look_size_large.post-look_outstand
							.post-look__row
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 300, 'lipstick')(class='post-look__image')
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
							.post-look__row
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
						+post-figcaption
					+post-text
					figure.post__figure.post__outstand
						.post__look.post-look_size_large.post-look_outstand
							.post-look__row
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 300, 'lipstick')(class='post-look__image')
							.post-look__row
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column.post-look__column_size_middle
									a.post-look__piece(href='')
										+placeholder(420, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
								.post-look__column
									a.post-look__piece(href='')
										+placeholder(200, 300, 'lipstick')(class='post-look__image')
						+post-figcaption
					.post__products.post__outstand
						each product in new Array(5)
							+product('post__product product_theme_light product_theme_light-complete  product_category_cosmetics', 'card', true, 'Lee', 'блуза', {
								current: 99
							}, false)
								+placeholder(180, 200, 'skirt')(class='product__image')
					footer.post__footer
						+social-list('post__social', 'medium')
						.post__footer-element
							button.post__comments-toggle.post__footer-control.js-toggle(type='button', data-toggle-target='post-comments', data-toggle-class='post__comment-list_hidden')
								+icon('comment-cloud', 'post__footer-icon', 40, 30)
							| 12
						.post__likes.post__footer-element
							+like('post__like post__footer-control js-toggle','post__footer-icon post__like-icon', liked ? 'Забрать лайк' : 'Лайк', 23, 30)(
								data-toggle-class='post_liked',
								data-toggle-target='post'
							)
							| 234
					section.post__comments
						form.comment-form
							a.comment-form__author(href='')
								+placeholder(100, 100, 'portrait')(class='comment-form__avatar')
							textarea.comment-form__textarea(placeholder='Добавить комментарий', rows=13, cols=100, required)
							button.comment-form__submit.button отправить
						.post__comment-list.post__comment-list_hidden#post-comments
							article.post__comment.comment
								.comment__inner
									a.comment__avatar(href='')
										+placeholder(100, 100, 'portrait')(class='comment__avatar-image')
									time.comment__time 20 мая 2016, 18:06
									a.comment__author.link(href='') Ирина Воронова:
									.comment__content Узоры на ткани – важный элемент декора, который влияет на зрительное восприятие не только одежды, но и облика в целом. Существует множество орнаментов, и все они подразделяются на изобразительные и неизобразительные.
									button(type='button').comment__reply.button ответить
							article.post__comment.comment.comment_level_1
								.comment__inner
									a.comment__avatar(href='')
										+placeholder(100, 100, 'portrait')(class='comment__avatar-image')
									time.comment__time 20 мая 2016, 18:06
									a.comment__author.link(href='') Ирина Воронова:
									.comment__content Узоры на ткани – важный элемент декора, который влияет на зрительное восприятие не только одежды, но и облика в целом. Существует множество орнаментов, и все они подразделяются на изобразительные и неизобразительные.
									button(type='button').comment__reply.button ответить
				aside.post__related.blog__previews
						+blog__preview-section('новинки')
							.blog__previews-row
								.blog__previews-column
									+post-preview('blog__preview', 'dark', 'huge', 'text-middle', null, 'Большая <br> распродажа', '20 августа 2016', 'мода')
										| Специально для прекрасных дам мы подготовили женственную подборку, центральными героями которой стали наиболее интересные новые бренды.
						+blog__preview-section('мода')
							.blog__previews-row
								.blog__previews-column.blog__previews-column_size_big
									+post-preview('blog__preview', null, 'big', 'text-top', null, 'Рюкзаки <br> на любой <br> возраст', '20 августа 2016', 'стиль')
										| Специально для прекрасных дам мы подготовили женственную подборку, центральными героями которой стали наиболее интересные новые бренды.
								.blog__previews-column.blog__previews-column_size_middle
									+post-preview('blog__preview', 'bordered', 'middle', ['text-bottom', 'header'], null, 'Большая <br> распродажа <br> курток', '20 августа 2016', 'стиль')


mixin post-text
	h2.post__subtitle С чем носить?
	ol.post__ol
		li.post__ol-li К примеру, у локтевых заплаток военное прошлое. Во время Первой мировой немецкие солдаты заметили, что их форма быстро протирается на локтях, так как они активно ползают по земле, скрываясь от врагов. Эту проблему и решили небольшие куски ткани.
		li.post__ol-li!="История нашивок начинается с <a href='' class='link post__text-link'>шевронов</a>. Изначально их придумали, чтобы обозначать принадлежность военных к той или иной организации, их чин и срок службы. Постепенно нашивки стали делать для униформ рабочих и одежды спортсменов."
mixin post-figcaption
	figcaption.post__figcaption.post__figcaption_location_bottom
		ol.post__figcaption-list
			li.post__figcaption-item
				='Костюм '
				a.post__figcaption-link.link(href='') Mark
			li.post__figcaption-item Мужской костюм-тройка Armani
			li.post__figcaption-item
				a.post__figcaption-link.link(href='') Броги H&M
			li.post__figcaption-item Шерстяной костюм Gucci
			li.post__figcaption-item Костюм Fiona
