extends layouts/default

block menu-item
	- currentMenuItem = 'детям';

block content
	+breadcrumbs(['Главная', 'женщинам', 'платья', 'Evans'], 'product')
	.product-page.layout__inner
		+slider('product-page__slider', 'women', 'product', null)
			each product, index in new Array(2)
				- let liked = index % 2;
				+slider__slide
					+slider__item(['product-page__product product product_layout_standalone product_category_women js-product', liked ? 'product_liked' : null])(itemscope='', itemtype='http://schema.org/Product')
						h2.slider__title.layout__title
							a.link.slider__title-link lamoda.by
						.product__info
							.product__image-slider
								+slider(null, 'photos', 'product-images')
									each image in new Array(2)
										+slider__slide
											+slider__item
												a.product__image-container(href='')
													+placeholder(350, 500, 'fashion,girl')(itemprop="image")
								.product__label.product__label_discount
									.product__label-text.product__label-text_discount='-12%'
								+like('product__like','product__like-icon', 'В избранное', 37, 48)
							.product__section
								h2.product__title Детальная информация
								span(itemprop='description') Вязаный кардиган Evans выполнен из плотного трикотажа. Детали: модель свободного  кроя без застежки,  рукава-реглан, боковые карманы. Вязаный кардиган Evans выполнен из плотного трикотажа. Детали: модель свободного  кроя без застежки,  рукава-реглан, боковые карманы. Вязаный кардиган Evans выполнен из плотного трикотажа. Детали: модель свободного  кроя без застежки,  рукава-реглан, боковые карманы.
						.product__body
							h2.product__brand 
								a.product__brand-link.link(href='') Warehouse Rustical
							h1.product__name(itemprop='name') комбинезон с тремя десятками карманов и веревочкой
							.product__price-container(itemprop='offers' itemscope='' itemtype='http://schema.org/Offer')
								span цена
								s.product__price.product__price_old 2 299.00 р.
								span.product__price.product__price_current
									span(itemprop='price') 109.00
									meta(itemprop='priceCurrency', content='RUB')
									span р.
							.product__links
								div.product__links-container
									a.product__link.link(href='') Все товары Warehouse Rustical
									a.product__link.link(href='') Комбинезоны Warehouse Rustical
									a.product__link.link(href='') Все комбинезоны
								a.product__buy.product__buy_disabled.button.button_theme_primary.link!=' купить <br> на wildberries.ru'
							.product__section
								h2.product__title Характеристики товара
								ul.product__specs
									li.product__spec цвет: белый
									li.product__spec размер: 
										a.product__spec-link.link(href='') 54
									li.product__spec состав: хлопок
									li.product__spec сезон: мульти
									li.product__spec коллекция: Весна-лето 2017
									li.product__spec страна бренда: Италия
									li.product__spec страна-производитель: Бангладеш
									li.product__spec пол: Мужской
									li.product__spec возраст: Взрослый
									li.product__spec артикул: 123345667
							.product__section.product__section_foreign.product__shipping
								h2.product__title Доставка
								| Мы бесплатно доставим ваш заказ:
								ul
									li
										|в Москву и Санкт-Петербург – при покупке хотя бы одного товара из заказа;
									li
										|в регионы России – при заказе на сумму от 5000 рублей.
							.product__section.product__section_foreign.product__conditions
								h2.product__title Оплата и возврат
								ul
									li
										| Примерка перед покупкой.
									li
										| Возможен частичный выкуп.
									li
										| Покупателям предоставляется право в течение 14 дней с даты получения заказа вернуть не подошедший товар.
								br
								p
									|Чтобы купить товар, нажмите на соответствующую кнопку, вы будете перенаправлены на сайт интернет-магазина, предоставляющего данный товар.
							.product__section.product__tags
								a.product__tag.link(href='') серый
								a.product__tag.link(href='') кашемир
								a.product__tag.link(href='') пальто
								a.product__tag.link(href='') зимняя одежда
								a.product__tag.link(href='') верхняя одежда
								a.product__tag.link(href='') комплект
								a.product__tag.link(href='') розовый
						.product__footer
							+social-list('product__social', 'small', 'vertical', 'liter', ['vk', 'facebook', 'pinterest', 'odnoklassniki', 'gplus', 'twitter'])
		+product-slider(null, 'дополни образ')
		.blog.blog_embedded.layout
			aside.blog__previews
				+blog__preview-section('блог')
					.blog__previews-row
						.blog__previews-column
							+post-preview('blog__preview', 'dark', 'huge', 'text-middle', null, 'Большая <br> распродажа', '20 августа 2016', 'мода')
								| Специально для прекрасных дам мы подготовили женственную подборку, центральными героями которой стали наиболее интересные новые бренды.
		+product-slider(null, 'недавно просмотренные')
