extends layouts/default

block menu-item
	- currentMenuItem = 'акции';

block content
	+breadcrumbs(['Главная', 'женщинам', 'одежда', 'акции'], 'promotions')
	.promotions.layout
		.layout__inner.promotions__list
			article.promotions__piece.promotion.layout__inner
				h1.layout__title
					a.link(href='') акции
				.promotion__body
					a.promotion__image-container(href='')
						+placeholder(450, 330, 'fashion, dress')(class='promotion__image')
					.promotion__content
						a.promotion__shop.link(href='') lamoda.by
						a.promotion__title.link(href='') до -75%
						a.promotion__description.link(href='')!="Распродажа всей осенне-зимней коллекции <br> с 1 октября по 8 января 2017 года при заказе."
						.promotion__footer
							.promotion__expire 5 ч / 29 мин / 56 с
							a.promotion__goto.link(href='')
								| смотреть
								+icon('arrow', 'promotion__goto-icon', 18, 20)
			article.promotions__piece.promotion.layout__inner
				.promotion__body
					.promotion__image-container
						+placeholder(450, 330, 'fashion, dress')(class='promotion__image')
					.promotion__content
						.promotion__shop lamoda.by
						.promotion__title до -75%
						.promotion__description!="Распродажа всей осенне-зимней коллекции <br> с 1 октября по 8 января 2017 года при заказе."
						.promotion__footer
							.promotion__expire 8 дн / 2 ч / 89 мин
							a.promotion__goto.link(href='')
								| смотреть
								+icon('arrow', 'promotion__goto-icon', 18, 20)
		+product-slider(null, 'недавно просмотренные')
		.blog.blog_embedded.layout
			aside.blog__previews
				+blog__preview-section('новинки')
					.blog__previews-row
						.blog__previews-column
							+post-preview('blog__preview', 'dark', 'huge', 'text-middle', null, 'Большая <br> распродажа', '20 августа 2016', 'мода')
								| Специально для прекрасных дам мы подготовили женственную подборку, центральными героями которой стали наиболее интересные новые бренды.
				+blog__preview-section('мода')
					.blog__previews-row
						.blog__previews-column.blog__previews-column_size_big
							+post-preview('blog__preview', null, 'big', 'text-top', null, 'Рюкзаки <br> на любой <br> возраст', '20 августа 2016', 'стиль')
								| Специально для прекрасных дам мы подготовили женственную подборку, центральными героями которой стали наиболее интересные новые бренды.
						.blog__previews-column.blog__previews-column_size_middle
							+post-preview('blog__preview', 'bordered', 'middle', ['text-bottom', 'header'], null, 'Большая <br> распродажа <br> курток', '20 августа 2016', 'стиль')
		.layout__inner.promotions__inner
			.layout__seo-text
				.layout__seo-title Женский клмбинезон
				p.layout__seo-p К примеру, у локтевых заплаток военное прошлое. Во время Первой мировой немецкие солдаты заметили, что их форма быстро протирается на локтях, так как они активно ползают по земле, скрываясь от врагов. Эту проблему и решили небольшие куски ткани.
				p.layout__seo-p История нашивок начинается с шевронов. Изначально их придумали, чтобы обозначать принадлежность военных к той или иной организации, их чин и срок службы. Постепенно нашивки стали делать для униформ рабочих и одежды спортсменов.
				p.layout__seo-p К примеру, у локтевых заплаток военное прошлое. Во время Первой мировой немецкие солдаты заметили, что их форма быстро протирается на локтях, так как они активно ползают по земле, скрываясь от врагов. Эту проблему и решили небольшие куски ткани.
				p.layout__seo-p История нашивок начинается с шевронов. Изначально их придумали, чтобы обозначать принадлежность военных к той или иной организации, их чин и срок службы. Постепенно нашивки стали делать для униформ рабочих и одежды спортсменов.
