extends layouts/default

block content
	-
		let shops = [
			"Kinderly",
			"Quelle",
			"OTTO",
			"Quelle",
			"Proskater",
			"Kideria",
			"Yoox",
			"bonprix",
			"Yoox",
			"Снежная Королева",
			"KupiVIP",
			"Proskater",
			"bonprix",
			"Lamoda",
			"Wildberries",
			"Младенец.Ру",
			"CONCEPT CLUB",
			"Quelle",
			"OSTIN",
			"Lamoda",
			"Kinderly",
			"Proskater",
			"OSTIN",
			"Wildberries",
		]
	+breadcrumbs(['Главная', 'магазины'], 'shops')
	.shops
		.layout__inner.layout__inner_spaced
			h1.layout__title магазины
			ul.shops__list
				each shop in shops
					li.shops__item
						a.shops__link(href='')
							+placeholder(160, 80, `logo,${shop}`)(class='shops__logo')
	.blog.blog_embedded.layout
		aside.blog__previews
			+blog__preview-section('блог')
				.blog__previews-row
					.blog__previews-column
						+post-preview('blog__preview', 'dark', 'huge', 'text-middle', null, 'Большая <br> распродажа', '20 августа 2016', 'мода')
							| Специально для прекрасных дам мы подготовили женственную подборку, центральными героями которой стали наиболее интересные новые бренды.
	+product-slider(null, 'недавно просмотренные')
	.layout__inner.layout__inner_spaced
		.layout__seo-text
			.layout__seo-title Женский клмбинезон
			p.layout__seo-p К примеру, у локтевых заплаток военное прошлое. Во время Первой мировой немецкие солдаты заметили, что их форма быстро протирается на локтях, так как они активно ползают по земле, скрываясь от врагов. Эту проблему и решили небольшие куски ткани.
			p.layout__seo-p История нашивок начинается с шевронов. Изначально их придумали, чтобы обозначать принадлежность военных к той или иной организации, их чин и срок службы. Постепенно нашивки стали делать для униформ рабочих и одежды спортсменов.
			p.layout__seo-p К примеру, у локтевых заплаток военное прошлое. Во время Первой мировой немецкие солдаты заметили, что их форма быстро протирается на локтях, так как они активно ползают по земле, скрываясь от врагов. Эту проблему и решили небольшие куски ткани.
			p.layout__seo-p История нашивок начинается с шевронов. Изначально их придумали, чтобы обозначать принадлежность военных к той или иной организации, их чин и срок службы. Постепенно нашивки стали делать для униформ рабочих и одежды спортсменов.
