block import
doctype
html(lang='ru')
	head
		link(rel='icon', type='image/png', href='favicon-16x16.png', sizes='16x16')
		link(rel='icon', type='image/png', href='favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='android-192x192.png', sizes='192x192')
		link(rel='apple-touch-icon', href='apple-touch-icon-180x180.png', sizes='180x180')
		meta(name='msapplication-config', content='browserconfig.xml')
		meta(charset='utf-8')
		meta(name='description', content='')
		title
			block title
				| likenilook
		block head
	body
		block body
