extends base

block import
	include /templates/mixins/icon
	include /templates/mixins/placeholder
	include /templates/mixins/slider
	include /templates/mixins/catalogue
	include /templates/mixins/product
	include /templates/mixins/author
	include /templates/mixins/post-preview
	include /templates/mixins/main-promo
	include /templates/mixins/like
	include /templates/mixins/social-list
	include /templates/mixins/blog-preview-section
	include /templates/mixins/breadcrumbs
	include /templates/mixins/look
	include /templates/mixins/looks
	include /templates/mixins/view-config
	include /templates/mixins/togglable
	include /templates/mixins/secondary-nav
	include /templates/mixins/product-slider
	include /templates/mixins/modal
	include /templates/mixins/account-nav
	include /templates/mixins/market

block head
	// build:css styles/vendor.css
	// bower:css
	link(rel='stylesheet', href='/bower_components/dialog-polyfill/dialog-polyfill.css')
	// endbower
	// endbuild
	// build:css styles/main.css
	link(rel='stylesheet', href='styles/main.css')
	// endbuild

block body
	include /templates/blocks/header
	block menu-item
		- let currentMenuItem = false;
	include /templates/blocks/category-menu
	block secondary-nav
	main.elevator
		block content
		.elevator__wrapper
			a.elevator__toggle.js-sticky(href='#top')
				+icon('arrow-goto', 'elevato__icon', 52, 57)
				.elevator__text наверх
	include /templates/blocks/footer
	include /templates/blocks/auth-modals
	block modals
	// build:js scripts/vendor.js
	// bower:js
	script(src='/bower_components/webfontloader/webfontloader.js')
	script(src='/bower_components/audero-sticky/src/audero-sticky.js')
	script(src='/bower_components/smoothscroll/dist/smoothscroll.js')
	script(src='/bower_components/svg4everybody/dist/svg4everybody.js')
	script(src='/bower_components/svg4everybody/dist/svg4everybody.legacy.js')
	script(src='/bower_components/jquery/dist/jquery.js')
	script(src='/bower_components/dialog-polyfill/dialog-polyfill.js')
	script(src='/bower_components/filterany/filterany.js')
	script(src='/bower_components/select2/dist/js/select2.full.js')
	script(src='/bower_components/select2/dist/js/i18n/ru.js')
	// endbower
	// endbuild
	// build:js scripts/main.js
	script(src='scripts/main.js')
	// endbuild
